@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
table {
  border: 0;
  border-spacing: 0;
}

.tableStyle {
  width: 100%;
}
.tableStyle thead {
  background-color: darkcyan;
  color: #fff;
  font-weight: 400;
}
.tableStyle thead th {
  padding: 1rem 0;
  text-align: center;
}
.tableStyle tbody tr:hover {
  background-color: #fdf5ea;
}
.tableStyle tbody tr.cateLine > td {
  border-top: 2px solid #000;
}
.tableStyle tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-size: 1.6rem;
}
.tableStyle tbody td.fgray {
  color: #777;
}
.tableStyle tbody td.fblue {
  color: rgb(26, 11, 196);
}
.tableStyle tbody td > a {
  color: brown;
}
.tableStyle tbody td > a:hover {
  color: blue;
}
.tableStyle tbody td:nth-of-type(6), .tableStyle tbody td:nth-of-type(9) {
  text-align: left;
  padding-left: 1.5rem;
}

/* --------------------------
*네티브 로고 폰트
*---------------------------*/
.poppins-extrabold {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/**
 * font: Instrument Sans.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Ins_SansR";
  src: url("../fonts/InstrumentSans/InstrumentSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansM";
  src: url("../fonts/InstrumentSans/InstrumentSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansSB";
  src: url("../fonts/InstrumentSans/InstrumentSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
/**
 * font: Pretendard.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardR";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardM";
  src: url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard semi";
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard exBold";
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input[type=text], textarea, select {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem 2.4rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
input[type=text]::placeholder, textarea::placeholder, select::placeholder {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #999;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}

textarea {
  display: block;
  min-height: 17.4vh;
  padding: 0rem;
  border: 0;
  overflow: auto;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
  padding-right: 1rem;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #BBB;
  opacity: 0.5;
}
textarea:focus {
  outline: none;
}

.inputWrap:not(:first-of-type) {
  margin-top: 6.4rem;
}
.inputWrap .selectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 2rem;
}
.inputWrap .selectBox > select {
  width: 100%;
  background: url(../img/pc/ico_select_arrow.png) no-repeat right 1.6rem bottom 1.6rem;
  background-size: 2.4rem 2.4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputWrap > div.inputBox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: -999;
  left: -999;
}
.inputWrap > div.inputBox input[type=checkbox] + label {
  display: block;
  position: static;
  min-width: 12rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
  text-align: center;
  padding: 1.2rem 2rem;
  border: 1px solid #222;
  border-radius: 99.9rem;
  cursor: pointer;
}
.inputWrap > div.inputBox input[type=checkbox]:checked + label {
  background-color: #222;
  color: #fff;
  border-color: #222;
}
.inputWrap > div.inputBox input[type=checkbox]:focus + label {
  outline: solid 1px #111;
  border-radius: 99.9rem;
}
.inputWrap .agreeChk {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: noWrap;
  gap: 1.2rem;
  margin-top: 3.2rem;
}
.inputWrap .agreeChk input[type=checkbox] {
  width: 0.1rem;
  height: 0.1rem;
}
.inputWrap .agreeChk input[type=checkbox] + label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #000;
  border-radius: 0.6rem;
  background-color: #fff;
  cursor: pointer;
}
.inputWrap .agreeChk input[type=checkbox]:checked + label {
  background-color: #222;
  cursor: pointer;
}
.inputWrap .agreeChk input[type=checkbox]:checked + label:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../img/pc/icon_chk.svg") left top;
  background-size: contain;
}
.inputWrap .agreeChk > span {
  margin-left: 1.2rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
.inputWrap.moBox > div.inputBox input[type=checkbox] + label {
  min-width: 7rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 500;
  color: #222;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  text-align: center;
  padding: 0.9rem 1.5rem;
}
.inputWrap.moBox > div.inputBox input[type=checkbox]:checked + label {
  background-color: #222;
  color: #fff;
  border-color: #222;
}

html {
  font-size: 62.5%;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}
body ul,
body li,
body nav,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body a,
body span,
body dl,
body dd,
body dt {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

#wrap .pc {
  display: none;
}
#wrap img {
  overflow: hidden;
  max-width: 100%;
}
#wrap .motionBox {
  background: #000 url("/resources/img/mobile/portfolio/a001/bg_main.png") no-repeat top center/cover;
}
#wrap .motionBox {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 54rem;
  padding: 0 2rem 9.5rem 2rem;
  justify-content: flex-end;
  flex-direction: column;
  gap: 3.2rem;
}
#wrap .motionBox dl {
  color: #fff;
}
#wrap .motionBox dl dt {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
#wrap .motionBox dl dt ~ dt {
  margin-top: 1.2rem;
}
#wrap .motionBox dl dd {
  font-size: 1.3rem;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: 0.4rem;
}
#wrap .motionBox h2 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fff;
}
#wrap .motionBox h2 > span {
  display: block;
}
#wrap .motionBox button {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 6.2rem;
  height: 6.2rem;
  margin-left: -3.1rem;
  font-size: 0;
  line-height: 0;
  background: url("../../img/mobile/portfolio/icon_scroll.svg") no-repeat 50% 50%/100%;
}
#wrap .overview {
  padding: 6rem 2rem;
}
#wrap .overview h2 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #111;
}
#wrap .overview h2 br {
  display: none;
}
#wrap .overview strong {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}
#wrap .overview strong span {
  display: block;
}
#wrap .overview p {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
#wrap .overview p + p {
  margin-top: 2rem;
}
#wrap .overview div div {
  display: flex;
  margin-top: 3.2rem;
  gap: 0.6rem;
  flex-wrap: wrap;
}
#wrap .overview div div span {
  padding: 1rem 1.65rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #222;
  border-radius: 99.9rem;
  border: 0.1rem solid #222;
}
#wrap .container .section01 {
  background-color: #fff;
  padding: 0 2rem;
}
#wrap .container .section01 .imgBox {
  text-align: center;
  margin-bottom: 3.2rem;
}
#wrap .container .section01 .tit {
  margin-bottom: 1.2rem;
}
#wrap .container .section01 .tit p {
  color: #111;
  font-size: 2rem;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: -0.06rem;
}
#wrap .container .section01 > p {
  color: #444;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03rem;
  margin-bottom: 6.4rem;
}
#wrap .container .section02 {
  background-color: #fff;
  padding: 0 2rem;
}
#wrap .container .section02 .imgBox {
  text-align: center;
  margin-bottom: 3.2rem;
}
#wrap .container .section02 .tit {
  margin-bottom: 1.2rem;
}
#wrap .container .section02 .tit > p {
  color: #111;
  font-size: 2rem;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: -0.06rem;
}
#wrap .container .section02 [class^=box] > p {
  color: #444;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03rem;
}
#wrap .container .section02 .box01 {
  margin-bottom: 6.4rem;
}
#wrap .container .section03 {
  background-color: #fff;
  padding: 8rem 2rem 8rem 0;
}
#wrap .container .section03 .tit {
  margin-left: 10rem;
}
#wrap .container .section03 .tit p {
  color: #121316;
  text-align: left;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.052rem;
}
#wrap .container .section03 .tit p strong {
  color: #007ef4;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.052rem;
}
#wrap .container .section04 {
  background-color: #fff;
  padding: 0 2rem 8rem;
}
#wrap .container .section04 > .box {
  border-radius: 16px;
  background: #0075e9;
  padding: 4rem;
}
#wrap .container .section04 > .box > .txt {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.048rem;
  margin-top: 6rem;
}
#wrap .container .section04 > .box > .txt > span {
  display: block;
}
#wrap .container .section04 > .box .secTit01 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.036rem;
}
#wrap .container .section04 > .box .circle-box {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container .section04 > .box .circle-list {
  position: relative;
  text-align: center;
}
#wrap .container .section04 > .box .circle-list > li {
  display: flex;
  width: 20rem;
  height: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid #fff;
  background: #0075e9;
}
#wrap .container .section04 > .box .circle-list > li:not(:first-of-type) {
  margin-top: -2.2rem;
}
#wrap .container .section04 > .box .circle-list > li .tit {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
}
#wrap .container .section04 > .box .circle-list > li .txt {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.024rem;
}
#wrap .container .section04 > .box .circle-list:after {
  content: "";
  display: block;
  width: 2.3rem;
  height: 2.7rem;
  background: url("/resources/img/mobile/portfolio/a001/ico_arrow.svg") no-repeat 0 0/100%;
  margin: 0 auto;
}
#wrap .container .section04 > .box .circle-last {
  display: flex;
  margin-top: 3.2rem;
  width: 22rem;
  height: 22rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background: #fff;
  color: #0075e9;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 120%;
}
#wrap .container .section05 {
  height: 61.6rem;
  position: relative;
  background: #fff url("/resources/img/mobile/portfolio/a001/bg_cont03.png") no-repeat center top/contain;
}
#wrap .container .section05 .txtBox {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 4rem;
}
#wrap .container .section05 .txtBox .inner .img-app {
  text-align: right;
  margin-bottom: -4rem;
  margin-right: -2rem;
}
#wrap .container .section05 .txtBox .inner > .tit {
  margin-bottom: 1.2rem;
}
#wrap .container .section05 .txtBox .inner > .tit p {
  color: #111;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: -0.066rem;
}
#wrap .container .section05 .txtBox .inner > p {
  color: #444;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03rem;
}
#wrap .container .section06 {
  background-color: #fff;
  padding: 8rem 2rem;
  text-align: center;
}
#wrap .container .section07 {
  background-color: #fff;
  padding: 0 4rem 8rem;
  text-align: center;
}
#wrap .container .section07 > .inner:not(:first-of-type) {
  margin-top: 8rem;
}
#wrap .container .section07 > .inner .tit {
  margin-bottom: 4rem;
  color: #111;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.036rem;
}
#wrap .container .section08 {
  background-color: #fff;
  padding: 0 2rem 8rem;
  text-align: center;
}
#wrap .container .section08 .inner .imgBox img {
  border-radius: 40px;
}
#wrap .container .section10 {
  padding: 5rem 0;
  background: #fff url("/resources/img/mobile/portfolio/a001/bg_cont08.png") no-repeat center center/contain;
  height: 36rem;
  position: relative;
}
#wrap .container .section10 .tit {
  position: absolute;
  left: calc(50% - 4rem);
  top: calc(50% - 4rem);
  width: 100%;
}
#wrap .container .section10 .tit p {
  color: #121316;
  text-align: left;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.052rem;
}
#wrap .container .section10 .tit p strong {
  display: block;
  color: #007ef4;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.052rem;
}
#wrap .container .section10 .ico01 {
  position: absolute;
  right: 3.9rem;
  top: 3.4rem;
  width: 3.3rem;
  height: 3.6rem;
  background: url("/resources/img/pc/portfolio/a001/ico_01.png") no-repeat 0 0/100%;
}
#wrap .container .section10 .ico02 {
  position: absolute;
  left: 3.6rem;
  bottom: -0.5rem;
  width: 7.4rem;
  height: 7.2rem;
  background: url("/resources/img/pc/portfolio/a001/ico_02.png") no-repeat 0 0/100%;
}
#wrap .container .section11 {
  padding: 0 1.2rem;
}
#wrap .container .section11 > .inner {
  border-radius: 16px;
  background: linear-gradient(0deg, #f5f8fb 0%, #f5f8fb 100%), linear-gradient(180deg, #f5f8fb 0%, #fff 93.84%);
  padding: 3.2rem 2.4rem;
}
#wrap .container .section11 > .inner h2 {
  color: #111;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.032rem;
}
#wrap .container .section11 > .inner .cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
#wrap .container .section11 > .inner .cont_item:nth-child(2) {
  width: 10rem;
  position: absolute;
  right: -0.1rem;
  top: 9rem;
}
#wrap .container .section11 > .inner .cont_list {
  padding-top: 8rem;
}
#wrap .container .section11 > .inner .cont_list ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#wrap .container .section11 > .inner .cont_list ul li:nth-child(1) {
  position: relative;
  top: -8.8rem;
}
#wrap .container .section11 > .inner .cont_list ul li:nth-child(3) {
  padding-top: 11rem;
}
#wrap .container .cont_footer {
  padding: 8rem 4rem 26rem 4rem;
  position: relative;
  background: url("/resources/img/mobile/portfolio/a001/img_cont_footer.png") no-repeat right -2rem top 8rem/contain;
}
#wrap .container .cont_footer .tf_member {
  padding-top: 28rem;
}
#wrap .container .cont_footer .tf_member dl:not(:first-of-type) {
  margin-top: 3.2rem;
}
#wrap .container .cont_footer .tf_member dl dt {
  color: #111;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.015rem;
  margin-bottom: 1.2rem;
}
#wrap .container .cont_footer .tf_member dl dd {
  color: #444;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.018rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
#wrap .container .cont_footer .tf_member dl dd > em {
  font-style: normal;
}
#wrap .container .cont_footer .tf_member dl dd > em:after {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #2294fd;
  border-radius: 50%;
  vertical-align: top;
}
#wrap .container .cont_footer .footer_logo {
  position: absolute;
  right: 0;
  bottom: 8rem;
  width: 35.8rem;
  padding-left: 4rem;
}/*# sourceMappingURL=FNT_PJ_02_a001_mo.css.map */