@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
table {
  border: 0;
  border-spacing: 0;
}

.tableStyle {
  width: 100%;
}
.tableStyle thead {
  background-color: darkcyan;
  color: #fff;
  font-weight: 400;
}
.tableStyle thead th {
  padding: 1rem 0;
  text-align: center;
}
.tableStyle tbody tr:hover {
  background-color: #fdf5ea;
}
.tableStyle tbody tr.cateLine > td {
  border-top: 2px solid #000;
}
.tableStyle tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-size: 1.6rem;
}
.tableStyle tbody td.fgray {
  color: #777;
}
.tableStyle tbody td.fblue {
  color: rgb(26, 11, 196);
}
.tableStyle tbody td > a {
  color: brown;
}
.tableStyle tbody td > a:hover {
  color: blue;
}
.tableStyle tbody td:nth-of-type(6), .tableStyle tbody td:nth-of-type(9) {
  text-align: left;
  padding-left: 1.5rem;
}

/* --------------------------
*네티브 로고 폰트
*---------------------------*/
.poppins-extrabold {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/**
 * font: Instrument Sans.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Ins_SansR";
  src: url("../fonts/InstrumentSans/InstrumentSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansM";
  src: url("../fonts/InstrumentSans/InstrumentSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansSB";
  src: url("../fonts/InstrumentSans/InstrumentSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansB";
  src: url("../fonts/InstrumentSans/InstrumentSans-Bold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
/**
 * font: Pretendard.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardR";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardM";
  src: url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard semi";
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard exBold";
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input[type=text], input[type=tel], textarea, select {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Pretendard";
  color: #111;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
input[type=text]::placeholder, input[type=tel]::placeholder, textarea::placeholder, select::placeholder {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Pretendard";
  color: #999;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}

textarea {
  display: block;
  min-height: 20rem;
  padding: 0rem;
  border: 0;
  border-radius: 0;
  overflow: auto;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
  padding-right: 1rem;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #BBB;
  opacity: 0.5;
}
textarea:focus {
  outline: none;
}

.inputWrap:not(:first-of-type) {
  margin-top: 6.4rem;
}
.inputWrap .selectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 2rem;
}
.inputWrap .selectBox > select {
  width: 100%;
  background: url(../img/pc/ico_select_arrow.png) no-repeat right 1.6rem bottom 1.6rem;
  background-size: 2.4rem 2.4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputWrap > div.inputBox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: -999;
  left: -999;
}
.inputWrap > div.inputBox input[type=checkbox] + label {
  display: block;
  position: static;
  font-family: "Pretendard semi";
  font-size: 2rem;
  line-height: 100%;
  text-align: center;
  padding: 1.6rem 2.4rem;
  border: 1px solid #222;
  border-radius: 99.9rem;
  cursor: pointer;
}
.inputWrap > div.inputBox input[type=checkbox]:checked + label {
  background-color: #111;
  color: #fff;
  border-color: #111;
}
.inputWrap > div.inputBox input[type=checkbox]:focus + label {
  outline: solid 1px #111;
  border-radius: 99.9rem;
}
@media screen and (max-width: 1024px) {
  .inputWrap textarea {
    min-height: 24rem;
    border-radius: 0;
  }
  .inputWrap input[type=text], .inputWrap input[type=tel], .inputWrap select {
    border: 1px solid #ccc;
    padding: 1.8rem 2rem;
  }
  .inputWrap.moBox > div.inputBox input[type=checkbox] + label {
    min-width: 0;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Pretendard semi";
    color: #111;
    line-height: 2.2rem;
    letter-spacing: -0.07rem;
    text-align: center;
    padding: 1.2rem 1.6rem;
    line-height: 1;
  }
  .inputWrap.moBox > div.inputBox input[type=checkbox]:checked + label {
    background-color: #111;
    color: #fff;
    border-color: #111;
  }
}

html {
  font-size: 62.5%;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}
body ul,
body li,
body nav,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body a,
body span,
body dl,
body dd,
body dt {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

#wrap {
  display: block;
}

.mo {
  display: none !important;
}

img {
  vertical-align: top;
}

.historyBack {
  display: inline-block;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}
.historyBack > button::before {
  display: block;
  content: "";
  width: 3.2rem;
  height: 3.2rem;
  background: url("../../img/pc/portfolio/icon_backW.svg") no-repeat left top/contain;
}
.historyBack > button > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.historyBack.chgImg > button::before {
  background: url("../../img/pc/portfolio/icon_backB.svg") no-repeat left top/contain;
}

.motionBox {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 12rem 8rem;
  justify-content: flex-end;
  background-attachment: fixed !important;
  flex-direction: column;
  gap: 7.2rem;
}
.motionBox::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  animation: visualAni 1.2s ease-out forwards;
  animation-delay: 0.2s;
  flex: none;
}
@media screen and (max-width: 1500px) {
  .motionBox::before {
    width: 100%;
  }
}
.motionBox dl {
  color: #fff;
  letter-spacing: 0;
  transition-delay: 0.4s;
}
.motionBox dl dt {
  font-family: "Pretendard Bold";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
.motionBox dl dt ~ dt {
  margin-top: 2.4rem;
}
.motionBox dl dd {
  font-size: 1.8rem;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: 0.8rem;
}
.motionBox h2 {
  font-family: "Pretendard Bold";
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fff;
}
.motionBox h2.active {
  transition-delay: 0.5s;
}
.motionBox button {
  display: inline-block;
  position: absolute !important;
  left: 50%;
  bottom: 0;
  width: 7.2rem;
  height: 7.2rem;
  margin-left: -3.6rem;
  font-size: 0;
  line-height: 0;
  background: url("../../img/pc/portfolio/icon_scroll.svg") no-repeat 50% 1.2rem/2.8rem 2.8rem;
  animation: scrollAni 1.3s ease-out forwards infinite;
  animation-delay: 0.3s;
}
.motionBox button.scrollBlack {
  background: url("../../img/pc/portfolio/icon_scrollB.svg") no-repeat 50% 1.2rem/2.8rem 2.8rem;
}

.overview {
  display: flex;
  max-width: 145.4rem;
  margin: 0 auto;
  padding: 16rem 3.8rem;
  justify-content: flex-start;
  gap: 0 25.8rem;
}
.overview h2 {
  font-family: "Pretendard exBold";
  width: 21rem;
  margin-bottom: 6.4rem;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: -0.02rem;
  color: #111;
}
.overview strong {
  font-family: "Pretendard Bold";
  display: block;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.2rem;
  color: #111;
}
.overview strong span {
  display: block;
}
.overview p {
  margin-top: 6.4rem;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: -0.048rem;
  color: #444;
}
.overview p.active {
  transition-delay: 0.3s;
}
.overview p + p {
  margin-top: 2rem;
}
.overview p + p.active {
  transition-delay: 0.6s;
}
.overview div div {
  display: flex;
  margin-top: 8rem;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.overview div div.active {
  transition-delay: 0.9s;
}
.overview div div span {
  font-family: "Pretendard semi";
  padding: 1.2rem 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  color: #111;
  border-radius: 99.9rem;
  border: 0.1rem solid #111;
  letter-spacing: 0;
}
.overview * {
  word-break: keep-all;
}

[data-scroll-event] {
  opacity: 0;
}
[data-scroll-event].leftInteraction {
  transform: translateX(-10rem);
}
[data-scroll-event].leftInteraction.active {
  animation: slideLeft 0.5s ease-out forwards;
}
[data-scroll-event].rightInteraction {
  transform: translateX(10rem);
}
[data-scroll-event].rightInteraction.active {
  animation: slideRight 0.5s ease-out forwards;
}
[data-scroll-event].upInteraction {
  transform: translateY(10rem);
}
[data-scroll-event].upInteraction.active {
  animation: slideUp 0.5s ease-out forwards;
}
[data-scroll-event].zoomInteraction {
  transform: scale(0.8);
}
[data-scroll-event].zoomInteraction.active {
  animation: zoom 0.5s ease-out forwards;
}
[data-scroll-event].fadeInteraction.active {
  animation: fade 1s ease-out forwards;
}

@keyframes visualAni {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scrollAni {
  0% {
    opacity: 0.5;
    background-position: 50% 1.2rem;
  }
  50% {
    opacity: 1;
    background-position: 50% 3.2rem;
  }
  100% {
    opacity: 0.5;
    background-position: 50% 1.2rem;
  }
}
#wrap .motionBox {
  background-color: #1d1d1b;
}
#wrap .motionBox::before {
  background-image: url("../../img/pc/portfolio/b003/top_img.png");
  background-position: right top;
}
#wrap .container {
  margin: 0 auto;
}
#wrap .container .sec01 {
  text-align: center;
}
#wrap .container .sec01 img {
  max-width: 100%;
}
#wrap .container .sec02 {
  text-align: center;
}
#wrap .container .sec02 img {
  max-width: 100%;
}
#wrap .container .sec03 {
  text-align: center;
}
#wrap .container .sec03 img {
  max-width: 100%;
}
#wrap .container .sec04 {
  text-align: center;
}
#wrap .container .sec04 img {
  max-width: 100%;
}
#wrap .container .sec05 {
  text-align: center;
}
#wrap .container .sec05 img {
  max-width: 100%;
}
#wrap .container .sec06 {
  text-align: center;
}
#wrap .container .sec06 img {
  max-width: 100%;
}
#wrap .container .sec07 {
  text-align: center;
}
#wrap .container .sec07 img {
  max-width: 100%;
}
#wrap .container .sec01 {
  position: relative;
  max-width: 192rem;
  margin: 0 auto;
  padding: 5.8rem 4rem 17.4rem;
  display: grid;
  grid-template-columns: calc(37.17% - 1.2rem) calc(62.83% - 1.2rem);
  gap: 2.4rem;
}
#wrap .container .sec01 img {
  border-radius: 4rem;
}
#wrap .container .sec01 .rightBox {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
#wrap .container .sec01 .rightBox > img {
  width: calc(50% - 1.2rem);
  height: calc(50% - 1.2rem);
}
#wrap .container .sec01 .rightBox > img.pc:nth-of-type(3) {
  animation-delay: 0.1s;
}
#wrap .container .sec01 .rightBox .activeBox {
  flex: none;
  width: 100%;
  height: calc(50% - 1.2rem);
  background: #000 url("../../img/pc/portfolio/b003/lina_active.gif") no-repeat center center/80.5rem auto;
  border-radius: 4rem;
  animation-delay: 0.2s;
}
#wrap .container .sec02 {
  max-width: 192rem;
  margin: 0 auto 17.4rem;
  padding: 0 4rem;
}
#wrap .container .sec03 {
  position: relative;
  max-width: 192rem;
  margin: 0 auto 30rem;
}
#wrap .container .sec03 img {
  width: 100%;
}
#wrap .container .sec03 div {
  position: relative;
  margin-top: -33.7rem;
  padding: 0 32.4rem;
  animation-delay: 0.5s;
  animation-duration: 0.8s;
}
#wrap .container .sec03 div::before {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  width: 127.6rem;
  height: 74.8rem;
  border-radius: 4rem;
  transform: translateX(-50%);
  box-shadow: 10rem 10rem 10rem 0 rgba(0, 0, 0, 0.2);
}
#wrap .container .sec04 {
  overflow: hidden;
  position: relative;
  max-width: 192rem;
  height: 156.2rem;
  margin: 0 auto;
  padding-bottom: 30rem;
  box-sizing: unset;
}
#wrap .container .sec04 [class*=img] {
  position: absolute;
  left: 50%;
}
#wrap .container .sec04 .img01 {
  top: 0;
  z-index: 1;
  margin-left: 55.2rem;
}
#wrap .container .sec04 .img02 {
  top: 3.4rem;
  margin-left: 2.4rem;
  border-radius: 3rem;
  box-shadow: 5rem 5rem 10rem 0 rgba(0, 0, 0, 0.2);
}
#wrap .container .sec04 .img03 {
  top: 3.4rem;
  margin-left: 37rem;
  border-radius: 3rem;
  box-shadow: 5rem 5rem 10rem 0 rgba(0, 0, 0, 0.2);
  animation-delay: 0.1s;
}
#wrap .container .sec04 .img04 {
  top: 32.6rem;
  margin-left: -45.7rem;
  animation-delay: 0.3s;
  animation-duration: 0.5s;
}
#wrap .container .sec04 .img05 {
  top: 55.7rem;
  margin-left: -65.7rem;
  border-radius: 3rem;
  box-shadow: 5rem 5rem 10rem 0 rgba(0, 0, 0, 0.2);
  animation-delay: 0.3s;
}
#wrap .container .sec04 .img05 img:nth-child(2) {
  position: absolute;
  top: 20rem;
  left: 6.2rem;
  height: 12.8rem;
}
#wrap .container .sec04 .img06 {
  top: 85.5rem;
  z-index: 1;
  margin-left: -13.9rem;
  animation-delay: 0.3s;
  animation-duration: 0.5s;
}
#wrap .container .sec04 .img07 {
  top: 97.8rem;
  margin-left: 2.4rem;
  border-radius: 3rem;
  box-shadow: 5rem 5rem 10rem 0 rgba(0, 0, 0, 0.2);
}
#wrap .container .sec04 .img08 {
  top: 97.8rem;
  margin-left: 37rem;
  border-radius: 3rem;
  box-shadow: 5rem 5rem 10rem 0 rgba(0, 0, 0, 0.2);
  animation-delay: 0.1s;
}
#wrap .container .sec05 {
  max-width: 192rem;
  margin: 0 auto 30rem;
}
#wrap .container .sec06 {
  max-width: 192rem;
  margin: 0 auto;
}
#wrap .container .sec06 div {
  overflow: hidden;
  position: relative;
  height: 58.4rem;
  padding-bottom: 30rem;
  box-sizing: unset;
}
#wrap .container .sec06 div img {
  position: absolute;
  left: 50%;
}
#wrap .container .sec06 div img:nth-child(1), #wrap .container .sec06 div img:nth-child(2) {
  overflow: hidden;
  border-radius: 3rem;
  outline: 0.6rem solid #111;
  outline-offset: -0.6rem;
  box-shadow: 5rem 5rem 10rem 0 rgba(0, 0, 0, 0.2);
}
#wrap .container .sec06 div img:nth-child(1) {
  top: 0rem;
  margin-left: -69.9rem;
}
#wrap .container .sec06 div img:nth-child(2) {
  top: 0rem;
  margin-left: -35.3rem;
  animation-delay: 0.2s;
}
#wrap .container .sec06 div img:nth-child(3) {
  top: 16.5rem;
  z-index: 1;
  margin-left: 6.3rem;
  animation-delay: 0.3s;
}
#wrap .container .sec06 div img:nth-child(4) {
  top: 21.9rem;
  margin-left: 25.7rem;
  animation-delay: 0.4s;
}
#wrap .container .sec06 div img:nth-child(5) {
  top: 32.4rem;
  margin-left: 54.1rem;
  animation-delay: 0.5s;
}
#wrap .container .sec06 div img:nth-child(6) {
  top: 19.9rem;
  margin-left: 74rem;
  animation-delay: 0.3s;
}
#wrap .container .sec07 {
  max-width: 192rem;
  margin: 0 auto 24rem;
  padding: 0 4rem;
}
#wrap .container .sec07 img {
  width: 100%;
  border-radius: 6rem;
}
#wrap .container .sec07 .sec07_01 {
  display: flex;
  margin-bottom: 4rem;
  justify-content: space-between;
}
#wrap .container .sec07 .sec07_01 p {
  width: calc(50% - 2rem);
}
#wrap .container .sec07 .sec07_01 p + p {
  animation-delay: 0.2s;
}
#wrap .container .sec07 > p {
  animation-delay: 0.5s;
}/*# sourceMappingURL=FNT_PJ_02_b003.css.map */