@import '../mixins';
@import '../base';
@import './portfolio_mo';

#wrap {
  .motionBox {
    &::before {
      background-image: url('../../img/mobile/portfolio/b001/top_img.png'), linear-gradient(108deg, #9fc1fb 12.14%, #dde8f5 105.35%);
      background-position: top right, center center;
      background-size: rem(251) auto, 100% 100%;
    }

    dl,
    h2 {
      color: #111;
    }
  }

  .container {
    .sec01 {
      padding: rem(60) rem(15.5) rem(122);

      .sec01_txt {
        font-size: rem(70);
        color: #111;
        font-weight: 700;
        line-height: 110%;
      }

      .card_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(223);
        height: rem(223);
        margin: rem(13) rem(19.5) 0 auto;
        background-color: #e6edf5;
        border-radius: 100%;
        img {
          width: rem(79.8);
          border-radius: rem(8);
          transform: rotate(-24.875deg);
        }
      }
    }

    .sec02 {
      margin: 0 rem(20);

      img {
        width: 100%;
      }
    }

    .sec03 {
      .slider {
        padding: rem(120) 0;
        overflow: hidden;
        width: 100%;
      }

      .slider-track {
        display: flex;
        width: max-content;
        height: rem(220);
      }

      .slider-track img {
        position: relative;
        width: rem(94);
        max-height: max-content;
        margin-right: rem(20);
        flex-shrink: 0;
        box-shadow: rem(25) rem(25) rem(33) 0 rgba(0, 0, 0, 0.12);

        &:nth-child(1),
        &:nth-child(10),
        &:nth-child(19) {
          top: rem(51);
        }
        &:nth-child(2),
        &:nth-child(11),
        &:nth-child(20) {
          top: 0;
        }
        &:nth-child(3),
        &:nth-child(12),
        &:nth-child(21) {
          top: rem(68);
        }
        &:nth-child(4),
        &:nth-child(13),
        &:nth-child(22) {
          top: rem(14);
        }
        &:nth-child(5),
        &:nth-child(14),
        &:nth-child(23) {
          top: rem(53);
        }
        &:nth-child(6),
        &:nth-child(15),
        &:nth-child(24) {
          top: rem(14);
        }
        &:nth-child(7),
        &:nth-child(16),
        &:nth-child(25) {
          top: rem(80);
        }
        &:nth-child(8),
        &:nth-child(17),
        &:nth-child(26) {
          top: rem(26);
        }
        &:nth-child(9),
        &:nth-child(18),
        &:nth-child(27) {
          top: rem(6);
        }
      }
    }

    .sec04 {
      margin: 0 rem(20) rem(120);
      .img_sec_04_01 {
        position: relative;
        width: 100%;
        height: rem(225);
        background: url('../../img/mobile/portfolio/b001/img_sec_04_bg.png') no-repeat center center / cover;
        border-radius: rem(16);
        > img {
          position: absolute;
          display: block;
          width: rem(103);
          height: rem(164);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(15deg);
          border-radius: rem(8);
        }
        // img {
        //   width: 100%;
        // }
      }

      .img_sec_04_02 {
        margin-top: rem(35);
        img {
          width: 53.37%;
        }
      }
    }

    .sec05 {
      min-height: 218.93vw;
      margin-bottom: rem(220);
      position: relative;

      img {
        width: 100%;
      }

      p {
        margin-top: 100px;
        transition: all 0.5s ease-out;
        &.active {
          opacity: 1;
          margin-top: 0;
        }
        .fade {
          margin-top: rem(-100);
        }
      }

      .img_sec_05_01 {
        width: 33.33%;
        position: absolute;
        left: -11.6vw;
        top: 0;
      }

      .img_sec_05_02 {
        width: 42.66%;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: 7.73vw;
      }

      .img_sec_05_03 {
        width: 33.33%;
        position: absolute;
        right: -11.33vw;
        top: 0;
      }

      .img_sec_05_04 {
        width: 26.93%;
        position: absolute;
        left: -9.49vw;
        top: 96vw;
      }

      .img_sec_05_05 {
        width: 33.33%;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: 74.93vw;
      }

      .img_sec_05_06 {
        width: 22.5%;
        position: absolute;
        right: -5.33vw;
        top: 95.73vw;
      }

      .img_sec_05_07 {
        width: 33.33%;
        position: absolute;
        left: -11.73vw;
        bottom: 0;
        margin-bottom: rem(-100);
      }

      .img_sec_05_08 {
        width: 30.66%;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        bottom: 18.93vw;
        margin-bottom: rem(-100);
      }

      .img_sec_05_09 {
        width: 33.33%;
        position: absolute;
        right: -11.33vw;
        bottom: 0;
        margin-bottom: rem(-100);
      }
    }

    .sec06 {
      margin: 0 rem(20) rem(120);

      img {
        width: 100%;
      }

      .sec06_01 {
        display: flex;
        justify-content: space-between;
        margin-top: rem(9);

        > p {
          width: 48.8%;
          & + p {
            animation-delay: 0.2s;
          }
        }
      }
    }

    .sec07 {
      position: relative;
      height: rem(371);
      margin-bottom: rem(120);

      .mo > img {
        position: absolute;
        left: 50%;
        &:nth-child(1) {
          top: 0;
          z-index: 0;
          width: rem(85.5);
          margin-left: rem(-88);
          transform: translateX(-50%);
        }
        &:nth-child(2) {
          top: rem(60);
          z-index: 0;
          width: rem(70);
          margin-left: rem(113);
          transform: translateX(-50%);
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          top: rem(230);
          z-index: 2;
          width: rem(65.6);
          margin-left: rem(72);
          transform: translateX(-50%);
          animation-delay: 0.4s;
        }
        &:nth-child(4) {
          top: 50%;
          z-index: 1;
          width: rem(138);
          border-radius: rem(16);
          transform: translate(-50%, -50%);
          box-shadow: rem(60) rem(60) rem(70) 0 rgba(0, 0, 0, 0.16);
        }
      }
      .slider {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 0;
        width: 100%;
        transform: translateY(-50%);
      }

      .slider-track {
        display: flex;
        width: max-content;
      }

      .slider-track img {
        position: relative;
        width: rem(156);
        margin-right: rem(8.4);
        flex-shrink: 0;
      }
    }
    .sec08 {
      > p {
        position: relative;
        width: calc(100% - rem(40));
        height: rem(200);
        margin: 0 auto rem(120);
        background: url('../../img/mobile/portfolio/b001/img_sec_08_bg.png') center center/cover;
        border-radius: rem(16);
        > img {
          position: absolute;
          width: rem(87);
          height: rem(140);
          bottom: rem(-32);
          left: 50%;
          transform: translateX(-50%);
          border-radius: rem(8);
          animation-delay: 0.5s;
        }
      }
    }
  }
}
