@import '../mixins';
@import '../base';
@import './portfolio_mo';

#wrap {
  .motionBox {
    background-color: #1d1d1b;

    &::before {
      top: rem(86);
      right: 0;
      left: auto;
      width: rem(211);
      height: rem(200);
      background-image: url('../../img/mobile/portfolio/b003/top_img.png');
    }
  }

  .container {
    @for $i from 1 to 8 {
      .sec0#{$i} {
        text-align: center;
        img {
          width: 100%;
        }
      }
    }

    .sec01 {
      margin: 0 rem(20) rem(100);
      display: grid;
      grid-template-columns: calc(50% - rem(4)) calc(50% - rem(4));
      gap: rem(8);

      img {
        border-radius: rem(16);
      }

      .rightBox {
        display: flex;
        gap: rem(8);
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;

        img {
          &.mo:nth-of-type(4) {
            animation-delay: 0.1s;
          }
        }
      }
      .activeBox {
        width: 100%;
        height: 42.67vw;
        background: #000 url('../../img/pc/portfolio/b003/lina_active.gif') no-repeat center center / 61.79% auto;
        border-radius: rem(16);
        grid-column: span 2;
        animation-delay: 0.2s;
      }
    }

    .sec02 {
      margin: 0 rem(20) rem(100);
    }

    .sec03 {
      position: relative;
      margin-bottom: rem(100);
      div {
        position: relative;
        margin-top: -20.8vw;
        animation-delay: 0.5s;
        animation-duration: 0.8s;
        &::before {
          content: '';
          overflow: hidden;
          position: absolute;
          top: 0;
          right: 10.66666666666667vw;
          left: 10.66666666666667vw;
          z-index: 1;
          height: 46.4vw;
          border-radius: 4.266666666666667vw;
          box-shadow: rem(23.119) rem(23.119) rem(23.119) 0 rgba(0, 0, 0, 0.2);
        }
      }
    }

    .sec04 {
      position: relative;
      height: 260vw;
      padding-bottom: rem(100);
      box-sizing: unset;

      [class*='img'] {
        position: absolute;
        left: 50%;
      }
      .img01 {
        top: 20.8vw;
        z-index: 2;
        width: 31.73333333333333vw;
        margin-left: 26.93333333333333vw;
      }
      .img02 {
        top: 8.266666666666667vw;
        width: 32vw;
        margin-left: -34.4vw;
        border-radius: 4.266666666666667vw;
        box-shadow: 5.5944vw 5.5944vw 11.1888vw 0 rgba(0, 0, 0, 0.2);
      }
      .img03 {
        top: 8.266666666666667vw;
        z-index: 1;
        width: 32vw;
        margin-left: 2.933333333333333vw;
        border-radius: 4.266666666666667vw;
        box-shadow: 5.5944vw 5.5944vw 11.1888vw 0 rgba(0, 0, 0, 0.2);
        animation-delay: 0.1s;
      }
      .img04 {
        top: 85.33333333333333vw;
        width: 35.46666666666667vw;
        margin-left: 11.46666666666667vw;
        animation-delay: 0.3s;
        animation-duration: 0.5s;
      }
      .img05 {
        top: 94.93333333333333vw;
        width: 32vw;
        margin-left: -22.93333333333333vw;
        border-radius: 4.266666666666667vw;
        box-shadow: 5.5944vw 5.5944vw 11.1888vw 0 rgba(0, 0, 0, 0.2);
        animation-delay: 0.3s;

        img {
          &:nth-child(2) {
            position: absolute;
            top: 22.4vw;
            left: 6.933333333333333vw;
            width: 18.17333333333333vw;
          }
        }
      }
      .img06 {
        top: 166.1333333333333vw;
        z-index: 1;
        width: 25.86666666666667vw;
        margin-left: -49.86666666666667vw;
        animation-delay: 0.3s;
        animation-duration: 0.5s;
      }
      .img07 {
        top: 181.6vw;
        width: 32vw;
        margin-left: -34.4vw;
        border-radius: 4.266666666666667vw;
        box-shadow: 5.5944vw 5.5944vw 11.1888vw 0 rgba(0, 0, 0, 0.2);
      }
      .img08 {
        top: 181.6vw;
        width: 32vw;
        margin-left: 2.933333333333333vw;
        border-radius: 4.266666666666667vw;
        box-shadow: 5.5944vw 5.5944vw 11.1888vw 0 rgba(0, 0, 0, 0.2);
        animation-delay: 0.1s;
      }
    }

    .sec05 {
      margin-bottom: rem(100);
    }

    .sec06 {
      margin-bottom: rem(100);
      div {
        position: relative;
        height: 127.7333333333333vw;

        img {
          position: absolute;
          left: 50%;

          &:nth-child(1),
          &:nth-child(2) {
            overflow: hidden;
            width: 32vw;
            border-radius: 4.266666666666667vw;
            outline: 1.6vw solid #111;
            outline-offset: -1.6vw;
            box-shadow: 5.5944vw 5.5944vw 11.1888vw 0 rgba(0, 0, 0, 0.2);
          }

          &:nth-child(1) {
            top: 6.666666666666667vw;
            margin-left: -34.93333333333333vw;
          }
          &:nth-child(2) {
            top: 6.666666666666667vw;
            margin-left: 2.933333333333333vw;
            animation-delay: 0.2s;
          }
          &:nth-child(3) {
            top: 92vw;
            z-index: 1;
            width: 24vw;
            margin-left: -49.97vw;
            animation-delay: 0.3s;
          }
          &:nth-child(4) {
            top: 98.13333333333333vw;
            width: 18.93333333333333vw;
            margin-left: -28.26666666666667vw;
            animation-delay: 0.4s;
          }
          &:nth-child(5) {
            top: 109.8666666666667vw;
            width: 16vw;
            margin-left: 3.466666666666667vw;
            animation-delay: 0.5s;
          }
          &:nth-child(6) {
            top: 96vw;
            width: 24.53333333333333vw;
            margin-left: 25.6vw;
            animation-delay: 0.3s;
          }
        }
      }
    }

    .sec07 {
      margin: 0 rem(20) rem(100);

      img {
        width: 100%;
        border-radius: rem(16);
      }

      .sec07_01 {
        display: flex;
        margin-bottom: rem(9);
        justify-content: space-between;
        p {
          width: calc(50% - rem(4.5));

          & + p {
            animation-delay: 0.2s;
          }
        }
      }

      > p {
        animation-delay: 0.5s;
      }
    }
  }
}
