@import '../mixins';
@import '../base';
@import './portfolio_mo';

// @keyframes scroll-left {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }

// @keyframes scroll-right {
//   0% {
//     transform: translateX(-100%);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }

#wrap {
  img {
    overflow: hidden;
    max-width: 100%;
    vertical-align: top;
  }
  .motionBox {
    &::before {
      background-image: url('../../img/mobile/portfolio/a005/bg_main.png');
      background-position: center center;
    }
    dl,h2{
      color:#111;
    }

    dd{
      span{
        display: block;
      }
    }

  }
  @media (min-width: 768px) {
    .motionBox {
      &::before{
        background-image: url('../../img/pc/portfolio/a005/bg_main.png');
      }
    }
  }

  .container {
    .section02,
    .section03,
    .section04,
    .section05,
    .section06,
    .section07 {
      padding-right: rem(20);
      padding-left: rem(20);
      &:not(:first-of-type) {
        margin-top: rem(80);
      }
    }
    .section01 {
      padding: 0;
      margin: 0;
      .inner {
        background-color: #1a1c23;
        padding: rem(60) 0;
        overflow: hidden;
      }
      .fluid-wrap {
        display: flex;
        height: rem(88);
        white-space: nowrap;
        align-items: center;
        gap: rem(10);
        .fluid-list {
          display: flex;
          // flex: auto;
          flex-direction: row;
          gap: rem(10);
          //width: 300%;
          li {
            // flex: 0 0 auto;
            font-family: 'Pretendard Bold';
            border-radius: calc(10rem / 2);
            border: 3px solid #3a4159;
            color: #3a4159;
            font-size: rem(20);
            font-weight: 700;
            line-height: 1;
            padding: rem(18) rem(24);
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: rem(56);
          }
          .img {
            border: 0;
            padding: 0;
            margin: 0 rem(10);
            width: rem(69);
          }
        }
        &.left {
          .fluid-list {
            // padding-left: rem(10);
            // animation: scroll-left 20s linear infinite;
          }
        }
        &.right {
          .fluid-list {
            // padding-right: rem(10);
            // animation: scroll-right 20s linear infinite;
          }
        }
      }
    }
    .section02 {
      background-color: #fff;
      padding: 0 rem(24);
      text-align: center;
      .inner {
        h2 {
          font-family: 'Pretendard Bold';
          font-size: rem(28);
          font-weight: 700;
          line-height: 140%;
          color: #111;
          letter-spacing: rem(-0.56);
          margin-bottom: rem(16);
        }
        > p {
          font-size: rem(15);
          font-weight: 400;
          line-height: 150%;
          color: #444;
          letter-spacing: rem(-0.45);
          margin-bottom: rem(60);
        }
        .RoundBox ul{
          position: relative;
          width:rem(280);
          height:rem(760);
          margin:0 auto;
          > li{
              position: absolute;
              top:0;
              left:0;
              width:rem(280);
              height:rem(280);
              background-color: #E4F0FF99;
              border-radius: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              &:nth-of-type(2){
                margin-top:rem(240);
                &.active{
                  animation-delay: 0.2s
                }
              }
              &:nth-of-type(3){
                margin-top:rem(480);
                &.active{
                  animation-delay: 0.4s
                }
              }
              > strong{
                color:#0952FB;
                font-family: 'Pretendard exBold';
                font-size:rem(28);
                font-weight: 800;
                line-height: rem(42);
              }
              > p{
                color: #1F79FF;
                font-family: 'Pretendard';
                font-size: rem(16);
                font-weight: 400;
                line-height: rem(24);
                letter-spacing: rem(-0.64);
              }
            
          }
        }
      }
    }
    .section03 {
      background-color: #fff;
      .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgBox {
          img {
            border-radius: rem(24);
            margin-top: rem(12);
          }
        }
        .bottom_box {
          .imgBox {
            img {
              &:not(:first-of-type) {
                margin-top: rem(12);
              }
            }
            img {
              border-radius: rem(24);
            }
          }
        }
      }
    }
    .section04 {
      background-color: #fff;
    }
    .section05 {
      background-color: #fff;
      text-align: center;
      .inner {
        h2 {
          font-family: 'Pretendard Bold';
          font-size: rem(28);
          font-weight: 700;
          line-height: 140%;
          color: #111;
          letter-spacing: rem(-0.56);
          margin-bottom: rem(16);
        }
        > p {
          font-size: rem(15);
          font-weight: 400;
          line-height: 150%;
          color: #444;
          letter-spacing: rem(-0.45);
          margin-bottom: rem(60);
          span {
            display: block;
          }
        }
      }
    }
    .section06 {
      background-color: #fff;
      .imgBox {
        img {
          &:not(:first-of-type) {
            margin-top: rem(11);
          }
        }
      }
    }
    .section07 {
      background-color: #fff;
      .inner {
        h2 {
          font-family: 'Pretendard Bold';
          font-size: rem(28);
          font-weight: 700;
          line-height: 140%;
          color: #111;
          letter-spacing: rem(-0.56);
          margin-bottom: rem(16);
        }
        > p {
          font-size: rem(15);
          font-weight: 400;
          line-height: 150%;
          color: #444;
          letter-spacing: rem(-0.45);
          margin-bottom: rem(80);
          span {
            display: block;
          }
        }
        .detail {
          .txtBox {
            .tit {
              p {
                font-family: 'Pretendard exBold';
                color: #111;
                font-size: rem(24);
                font-weight:800;
                line-height: 140%;
                letter-spacing: rem(-0.72);
                padding-bottom: rem(12);
              }
            }
            > p {
              color: #444;
              font-size: rem(14);
              font-weight: 500;
              line-height: 150%;
              letter-spacing: rem(-0.28);
              &:not(:first-of-type) {
                padding-top: rem(8);
              }
            }
            &.top {
              padding-top: rem(56);
              .imgBox {
                padding-top: rem(56);
              }
            }
            &.bottom {
              padding-top: rem(80);
              padding-bottom: rem(56);
              .imgBox {
                padding-bottom: rem(56);
              }
            }
            & + .imgBox {
              padding-top: rem(56);
            }
          }
          .box1{
            position: relative;
            &::before{
              display: block;
              position: absolute;
              content:'';
              top:rem(138);
              right:rem(10);
              width:rem(167);
              height:rem(152);
              background:url('../../img/mobile/portfolio/a005/img_cont09_icon.png') left top / contain;
              opacity: 0;
              scale: 0.8;
              transition: all 0.5s ease-in-out;
            }
            &.active{
              &::before{
                opacity: 1;
                scale: 1;
                transition-delay: 0.5s;
              }
            }
          }
          .box2{
            text-align: center;
            >img{
              max-width:rem(207)
            }
            &::before{
              display: block;
              position: absolute;
              content:'';
              bottom:rem(0);
              left:rem(40);
              width:rem(145);
              height:rem(144);
              transform: rotate(4.077deg);
              background:url('../../img/pc/portfolio/a005/img_cont10_icon.png') left top / cover;
              opacity: 0;
              scale: 0.8;
              transition: all 0.5s ease-in-out;
            }
            &.active{
              &::before{
                opacity: 1;
                scale: 1;
                transition-delay: 0.7s;
              }
            }
          }
        }
      }
    }
    .cont_footer {
      overflow: visible;
      padding: rem(80) rem(40) rem(224) rem(40);
      margin-top:rem(80);
      position: relative;
      background-color: #f9f9fa;
      .tf_member {
        dl {
          overflow: visible;
          &:not(:first-of-type) {
            margin-top: rem(40);
          }
          dt {
            font-family: 'Pretendard Bold';
            color: #111;
            font-size: rem(15);
            font-weight: 700;
            line-height: 1;
            letter-spacing: rem(-0.3);
            margin-bottom: rem(16);
          }
          dd {
            color: #444;
            font-size: rem(18);
            font-weight: 400;
            line-height: 1;
            letter-spacing: rem(-0.36);
            display: flex;
            flex-wrap: wrap;
            gap: rem(12);
            > em {
              font-style: normal;
            }
            &:not(:first-of-type) {
              margin-top: rem(12);
            }
          }
        }
      }
      .footer_logo {
        position: absolute;
        right: 0;
        bottom: rem(80);
        width: rem(343);
      }
    }
  }
}
