@import '../mixins';
@import '../base';
#wrap {
  img {
    overflow: hidden;
    max-width: 100%;
  }

  .pc {
    display: none;
  }

  .motionBox {
    div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    * {
      position: relative;
      z-index: 2;
    }
  }

  // 상단 공통 영역 [s]
  .motionBox {
    overflow: hidden;
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 rem(20) rem(95) rem(20);
    justify-content: flex-end;
    flex-direction: column;
    gap: rem(32);

    dl {
      color: #fff;

      dt {
        font-size: rem(13);
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;

        & ~ dt {
          margin-top: rem(12);
        }
      }

      dd {
        font-size: rem(13);
        line-height: 1.3;
        text-transform: uppercase;
        margin-top: rem(4);
      }
    }

    h2 {
      font-size: rem(36);
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: -0.02em;
      color: #fff;
    }

    button {
      display: inline-block;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: rem(62);
      height: rem(62);
      margin-left: rem(-31);
      font-size: 0;
      line-height: 0;
      background: url('../../img/mobile/portfolio/icon_scroll.svg') no-repeat 50% 50% / 100%;
    }
  }

  .sec01,
  .sec02,
  .sec03 {
  }

  .sec01 {
    height: rem(575);
    background: linear-gradient(to bottom, #fbfbfb 0%, #fbfbfb 29.74%, #ff5624 29.74%, #ff5624 100%);

    .inner {
      position: relative;
      max-width: rem(1168);
      margin: 0 auto;
      height: rem(171);

      &::after {
        content: '';
        display: block;
        width: rem(100);
        height: rem(50);
        background: url('../../img/mobile/portfolio/a004/bg_sec01.svg') no-repeat 50% 50% / rem(100) rem(50);
      }

      img {
        position: absolute;
        top: rem(40);
        left: 50%;
        width: 36.8%;
        max-width: rem(138);
        transform: translateX(-50%);
      }
    }

    > img {
      margin-top: rem(226);
      vertical-align: top;
    }
  }

  .sec02 {
    position: relative;

    img {
      vertical-align: top;

      &:not(.bg) {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .sec03 {
    padding: rem(100) rem(20) 0;
    background-color: #fbfbfb;

    img {
      vertical-align: top;
    }

    .inner {
      &02 {
        margin-top: rem(80);
        text-align: right;
      }

      &03 {
        margin: rem(80) rem(-20) 0;
        text-align: center;
      }
    }
  }

  .overview {
    padding: rem(60) rem(20);

    h2 {
      margin-bottom: rem(20);
      font-size: rem(16);
      font-weight: 800;
      line-height: 1.4;
      letter-spacing: -0.02em;
      color: #111;

      br {
        display: none;
      }
    }

    strong {
      display: block;
      font-size: rem(30);
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: #111;

      span {
        display: block;
      }
    }

    p {
      margin-top: rem(32);
      font-size: rem(16);
      line-height: 1.4;
      letter-spacing: -0.01em;

      & + p {
        margin-top: rem(20);
      }
    }

    div {
      div {
        display: flex;
        margin-top: rem(32);
        gap: rem(6);
        flex-wrap: wrap;

        span {
          padding: rem(10) rem(16.5);
          font-size: rem(16);
          font-weight: 600;
          line-height: 1;
          letter-spacing: -0.03em;
          color: #222;
          border-radius: rem(999);
          border: rem(1) solid #222;
        }
      }
    }
  }
  // 상단 공통 영역 [e]

  .workforce {
    position: relative;
    padding: rem(80) rem(40) rem(220);

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: rem(80);
      width: rem(280);
      height: rem(61);
      background: url('../../img/mobile/portfolio/a004/img_logo.svg') no-repeat 100% 100% / rem(280) rem(61);
    }

    dl {
      dt {
        font-size: rem(15);
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -0.01em;
        color: #111;

        & ~ dt {
          margin-top: rem(32);
        }
      }

      dd {
        display: flex;
        margin-top: rem(12);
        font-size: rem(18);
        line-height: 1.4;
        letter-spacing: -0.01em;
        color: #444;
        flex-wrap: wrap;
        gap: rem(6);

        em {
          position: relative;
          font-style: normal;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: rem(6);
            height: rem(6);
            border-radius: 50%;
            background-color: #2294fd;
          }
        }
      }
    }
  }
}
