@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
table {
  border: 0;
  border-spacing: 0;
}

.tableStyle {
  width: 100%;
}
.tableStyle thead {
  background-color: darkcyan;
  color: #fff;
  font-weight: 400;
}
.tableStyle thead th {
  padding: 1rem 0;
  text-align: center;
}
.tableStyle tbody tr:hover {
  background-color: #fdf5ea;
}
.tableStyle tbody tr.cateLine > td {
  border-top: 2px solid #000;
}
.tableStyle tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-size: 1.6rem;
}
.tableStyle tbody td.fgray {
  color: #777;
}
.tableStyle tbody td.fblue {
  color: rgb(26, 11, 196);
}
.tableStyle tbody td > a {
  color: brown;
}
.tableStyle tbody td > a:hover {
  color: blue;
}
.tableStyle tbody td:nth-of-type(6), .tableStyle tbody td:nth-of-type(9) {
  text-align: left;
  padding-left: 1.5rem;
}

/* --------------------------
*네티브 로고 폰트
*---------------------------*/
.poppins-extrabold {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/**
 * font: Instrument Sans.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Ins_SansR";
  src: url("../fonts/InstrumentSans/InstrumentSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansM";
  src: url("../fonts/InstrumentSans/InstrumentSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansSB";
  src: url("../fonts/InstrumentSans/InstrumentSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansB";
  src: url("../fonts/InstrumentSans/InstrumentSans-Bold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
/**
 * font: Pretendard.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardR";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardM";
  src: url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard semi";
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard exBold";
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input[type=text], input[type=tel], textarea, select {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Pretendard";
  color: #111;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
input[type=text]::placeholder, input[type=tel]::placeholder, textarea::placeholder, select::placeholder {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Pretendard";
  color: #999;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}

textarea {
  display: block;
  min-height: 20rem;
  padding: 0rem;
  border: 0;
  border-radius: 0;
  overflow: auto;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
  padding-right: 1rem;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #BBB;
  opacity: 0.5;
}
textarea:focus {
  outline: none;
}

.inputWrap:not(:first-of-type) {
  margin-top: 6.4rem;
}
.inputWrap .selectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 2rem;
}
.inputWrap .selectBox > select {
  width: 100%;
  background: url(../img/pc/ico_select_arrow.png) no-repeat right 1.6rem bottom 1.6rem;
  background-size: 2.4rem 2.4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputWrap > div.inputBox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: -999;
  left: -999;
}
.inputWrap > div.inputBox input[type=checkbox] + label {
  display: block;
  position: static;
  font-family: "Pretendard semi";
  font-size: 2rem;
  line-height: 100%;
  text-align: center;
  padding: 1.6rem 2.4rem;
  border: 1px solid #222;
  border-radius: 99.9rem;
  cursor: pointer;
}
.inputWrap > div.inputBox input[type=checkbox]:checked + label {
  background-color: #111;
  color: #fff;
  border-color: #111;
}
.inputWrap > div.inputBox input[type=checkbox]:focus + label {
  outline: solid 1px #111;
  border-radius: 99.9rem;
}
@media screen and (max-width: 1024px) {
  .inputWrap textarea {
    min-height: 24rem;
    border-radius: 0;
  }
  .inputWrap input[type=text], .inputWrap input[type=tel], .inputWrap select {
    border: 1px solid #ccc;
    padding: 1.8rem 2rem;
  }
  .inputWrap.moBox > div.inputBox input[type=checkbox] + label {
    min-width: 0;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Pretendard semi";
    color: #111;
    line-height: 2.2rem;
    letter-spacing: -0.07rem;
    text-align: center;
    padding: 1.2rem 1.6rem;
    line-height: 1;
  }
  .inputWrap.moBox > div.inputBox input[type=checkbox]:checked + label {
    background-color: #111;
    color: #fff;
    border-color: #111;
  }
}

html {
  font-size: 62.5%;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}
body ul,
body li,
body nav,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body a,
body span,
body dl,
body dd,
body dt {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

#wrap {
  display: block;
}

.mo {
  display: none !important;
}

img {
  vertical-align: top;
}

.historyBack {
  display: inline-block;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}
.historyBack > button::before {
  display: block;
  content: "";
  width: 3.2rem;
  height: 3.2rem;
  background: url("../../img/pc/portfolio/icon_backW.svg") no-repeat left top/contain;
}
.historyBack > button > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.historyBack.chgImg > button::before {
  background: url("../../img/pc/portfolio/icon_backB.svg") no-repeat left top/contain;
}

.motionBox {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 12rem 8rem;
  justify-content: flex-end;
  background-attachment: fixed !important;
  flex-direction: column;
  gap: 7.2rem;
}
.motionBox::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  animation: visualAni 1.2s ease-out forwards;
  animation-delay: 0.2s;
  flex: none;
}
@media screen and (max-width: 1500px) {
  .motionBox::before {
    width: 100%;
  }
}
.motionBox dl {
  color: #fff;
  letter-spacing: 0;
  transition-delay: 0.4s;
}
.motionBox dl dt {
  font-family: "Pretendard Bold";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
.motionBox dl dt ~ dt {
  margin-top: 2.4rem;
}
.motionBox dl dd {
  font-size: 1.8rem;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: 0.8rem;
}
.motionBox h2 {
  font-family: "Pretendard Bold";
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fff;
}
.motionBox h2.active {
  transition-delay: 0.5s;
}
.motionBox button {
  display: inline-block;
  position: absolute !important;
  left: 50%;
  bottom: 0;
  width: 7.2rem;
  height: 7.2rem;
  margin-left: -3.6rem;
  font-size: 0;
  line-height: 0;
  background: url("../../img/pc/portfolio/icon_scroll.svg") no-repeat 50% 1.2rem/2.8rem 2.8rem;
  animation: scrollAni 1.3s ease-out forwards infinite;
  animation-delay: 0.3s;
}
.motionBox button.scrollBlack {
  background: url("../../img/pc/portfolio/icon_scrollB.svg") no-repeat 50% 1.2rem/2.8rem 2.8rem;
}

.overview {
  display: flex;
  max-width: 145.4rem;
  margin: 0 auto;
  padding: 16rem 3.8rem;
  justify-content: flex-start;
  gap: 0 25.8rem;
}
.overview h2 {
  font-family: "Pretendard exBold";
  width: 21rem;
  margin-bottom: 6.4rem;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: -0.02rem;
  color: #111;
}
.overview strong {
  font-family: "Pretendard Bold";
  display: block;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.2rem;
  color: #111;
}
.overview strong span {
  display: block;
}
.overview p {
  margin-top: 6.4rem;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: -0.048rem;
  color: #444;
}
.overview p.active {
  transition-delay: 0.3s;
}
.overview p + p {
  margin-top: 2rem;
}
.overview p + p.active {
  transition-delay: 0.6s;
}
.overview div div {
  display: flex;
  margin-top: 8rem;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.overview div div.active {
  transition-delay: 0.9s;
}
.overview div div span {
  font-family: "Pretendard semi";
  padding: 1.2rem 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  color: #111;
  border-radius: 99.9rem;
  border: 0.1rem solid #111;
  letter-spacing: 0;
}
.overview * {
  word-break: keep-all;
}

[data-scroll-event] {
  opacity: 0;
}
[data-scroll-event].leftInteraction {
  transform: translateX(-10rem);
}
[data-scroll-event].leftInteraction.active {
  animation: slideLeft 0.5s ease-out forwards;
}
[data-scroll-event].rightInteraction {
  transform: translateX(10rem);
}
[data-scroll-event].rightInteraction.active {
  animation: slideRight 0.5s ease-out forwards;
}
[data-scroll-event].upInteraction {
  transform: translateY(10rem);
}
[data-scroll-event].upInteraction.active {
  animation: slideUp 0.5s ease-out forwards;
}
[data-scroll-event].zoomInteraction {
  transform: scale(0.8);
}
[data-scroll-event].zoomInteraction.active {
  animation: zoom 0.5s ease-out forwards;
}
[data-scroll-event].fadeInteraction.active {
  animation: fade 1s ease-out forwards;
}

@keyframes visualAni {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scrollAni {
  0% {
    opacity: 0.5;
    background-position: 50% 1.2rem;
  }
  50% {
    opacity: 1;
    background-position: 50% 3.2rem;
  }
  100% {
    opacity: 0.5;
    background-position: 50% 1.2rem;
  }
}
#wrap img {
  overflow: hidden;
  max-width: 100%;
}
#wrap .motionBox {
  position: relative;
  font-family: "Pretendard";
}
#wrap .motionBox::before {
  background-image: url("../../img/pc/portfolio/a005/bg_main.png");
  background-position: center center;
}
#wrap .motionBox > img {
  position: absolute;
  height: 67.2rem;
  top: 12rem;
  right: 30.8rem;
}
#wrap .motionBox dl, #wrap .motionBox h2 {
  color: #111;
}
#wrap .container .section02,
#wrap .container .section03,
#wrap .container .section04,
#wrap .container .section05,
#wrap .container .section06,
#wrap .container .section07,
#wrap .container .section08,
#wrap .container .section09,
#wrap .container .section10,
#wrap .container .section11 {
  max-width: 192rem;
  margin: 0 auto;
  font-family: "Pretendard";
}
#wrap .container .section01 {
  background-color: #1a1c23;
  padding: 8rem 0;
  overflow: hidden;
}
#wrap .container .section01 .fluid-wrap {
  display: flex;
  height: 16rem;
  white-space: nowrap;
  align-items: center;
  gap: 2rem;
}
#wrap .container .section01 .fluid-wrap .fluid-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#wrap .container .section01 .fluid-wrap .fluid-list li {
  border-radius: 5rem;
  border: 3px solid #3a4159;
  color: #3a4159;
  font-family: "Pretendard Bold";
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  padding: 2.88rem 3.84rem;
  justify-content: center;
  align-items: center;
  max-height: 10rem;
}
#wrap .container .section01 .fluid-wrap .fluid-list .img {
  border: 0;
}
#wrap .container .section01 .fluid-wrap .fluid-list .img img {
  max-width: none;
}
#wrap .container .section02 {
  background-color: #fff;
  padding: 16rem 12rem;
  text-align: center;
}
#wrap .container .section02 .inner h2 {
  font-family: "Pretendard Bold";
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 140%;
  color: #111;
  letter-spacing: -0.128rem;
  margin-bottom: 2.4rem;
}
#wrap .container .section02 .inner > p {
  font-size: 2.4rem;
  font-weight: 400;
  color: #444;
  line-height: 150%;
  letter-spacing: -0.072rem;
  margin-bottom: 12rem;
}
#wrap .container .section02 .inner .RoundBox ul {
  position: relative;
  width: 132.8rem;
  height: 48rem;
  margin: 0 auto;
}
#wrap .container .section02 .inner .RoundBox ul > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 48rem;
  height: 48rem;
  background-color: rgba(228, 240, 255, 0.6);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container .section02 .inner .RoundBox ul > li:nth-of-type(2) {
  margin-left: 42.4rem;
}
#wrap .container .section02 .inner .RoundBox ul > li:nth-of-type(2).active {
  animation-delay: 0.3s;
}
#wrap .container .section02 .inner .RoundBox ul > li:nth-of-type(3) {
  margin-left: 84.8rem;
}
#wrap .container .section02 .inner .RoundBox ul > li:nth-of-type(3).active {
  animation-delay: 0.6s;
}
#wrap .container .section02 .inner .RoundBox ul > li > strong {
  color: #0952FB;
  font-family: "Pretendard exBold";
  font-size: 4.4rem;
  font-weight: 800;
  line-height: 6.6rem;
}
#wrap .container .section02 .inner .RoundBox ul > li > p {
  color: #1F79FF;
  font-family: "Pretendard";
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 4.2rem;
  letter-spacing: -1.12px;
}
#wrap .container .section03 {
  background-color: #fff;
}
#wrap .container .section03 .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap .container .section03 .inner .imgBox {
  margin-bottom: 2.4rem;
}
#wrap .container .section03 .inner .bottom_box {
  display: flex;
  gap: 2.4rem;
}
#wrap .container .section03 .inner .bottom_box .imgBox:last-of-type {
  transition-delay: 0.3s;
}
#wrap .container .section04 {
  background-color: #fff;
  padding: 16rem 0;
}
#wrap .container .section04 .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap .container .section05 {
  background-color: #fff;
  padding: 8rem 0 12rem;
  text-align: center;
  margin-bottom: 8rem;
}
#wrap .container .section05 .inner h2 {
  font-family: "Pretendard Bold";
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 140%;
  color: #111;
  letter-spacing: -0.128rem;
  margin-bottom: 2.4rem;
}
#wrap .container .section05 .inner > p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 150%;
  color: #444;
  letter-spacing: -0.072rem;
  margin-bottom: 12rem;
}
#wrap .container .section06 {
  background-color: #fff;
  padding: 16rem 4rem;
}
#wrap .container .section06 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
#wrap .container .section06 .inner .imgBox {
  width: 50%;
}
#wrap .container .section06 .inner .imgBox > img {
  display: block;
  width: 100%;
}
#wrap .container .section06 .inner .imgBox > img:first-of-type {
  margin-bottom: 2.4rem;
}
#wrap .container .section06 .inner .imgBox > img:nth-of-type(2).active {
  transition-delay: 0.3s;
}
#wrap .container .section07 {
  background-color: #fff;
  padding: 8rem 16rem;
}
#wrap .container .section07 .inner h2 {
  font-family: "Pretendard Bold";
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 140%;
  color: #111;
  letter-spacing: -0.128rem;
  margin-bottom: 2.4rem;
}
#wrap .container .section07 .inner > p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 150%;
  color: #444;
  letter-spacing: -0.072rem;
  margin-bottom: 16rem;
}
#wrap .container .section07 .inner .detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2z0rem;
}
#wrap .container .section07 .inner .detail .box1 {
  position: relative;
}
#wrap .container .section07 .inner .detail .box1::before {
  display: block;
  position: absolute;
  content: "";
  top: 29.7rem;
  right: 7.6rem;
  width: 31.8rem;
  height: 28rem;
  background: url("../../img/pc/portfolio/a005/img_cont09_icon.png") left top/contain;
  opacity: 0;
  scale: 0.8;
  transition: all 0.5s ease-in-out;
}
#wrap .container .section07 .inner .detail .box1.active::before {
  opacity: 1;
  scale: 1;
  transition-delay: 0.5s;
}
#wrap .container .section07 .inner .detail .box2 {
  position: relative;
}
#wrap .container .section07 .inner .detail .box2 > img {
  display: block;
  max-width: 54.3rem;
  margin: 0 auto;
}
#wrap .container .section07 .inner .detail .box2::before {
  display: block;
  position: absolute;
  content: "";
  bottom: 9.4rem;
  left: 7.6rem;
  width: 36rem;
  height: 36rem;
  transform: rotate(4.077deg);
  background: url("../../img/pc/portfolio/a005/img_cont10_icon.png") left top/cover;
  opacity: 0;
  scale: 0.8;
  transition: all 0.5s ease-in-out;
}
#wrap .container .section07 .inner .detail .box2.active::before {
  opacity: 1;
  scale: 1;
  transition-delay: 0.7s;
}
#wrap .container .section07 .inner .detail .txtBox .tit {
  margin-bottom: 2.4rem;
}
#wrap .container .section07 .inner .detail .txtBox .tit p {
  font-family: "Pretendard exBold";
  color: #111;
  font-size: 4rem;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: -0.12rem;
}
#wrap .container .section07 .inner .detail .txtBox > p {
  color: #444;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.04rem;
}
#wrap .container .section07 .inner .detail .txtBox > p:not(:first-of-type) {
  margin-top: 1.6rem;
}
#wrap .container .section07 .inner .detail .txtBox > p span {
  display: block;
}
#wrap .container .section07 .inner .detail .txtBox.top {
  padding-top: 12rem;
}
#wrap .container .section07 .inner .detail .txtBox.top .imgBox {
  margin-top: 10.8rem;
}
#wrap .container .section07 .inner .detail .txtBox.bottom {
  padding-top: 23.3rem;
}
#wrap .container .section07 .inner .detail .txtBox.bottom .imgBox {
  margin-bottom: 12rem;
}
#wrap .container .section07 .inner .detail .txtBox + .imgBox {
  padding-top: 53.6rem;
}
#wrap .container .cont_footer {
  overflow: visible;
  background-color: #f9f9fa;
}
#wrap .container .cont_footer .tf_member {
  padding: 16rem 27.4rem;
  gap: 10rem;
  position: relative;
}
#wrap .container .cont_footer .tf_member dl {
  overflow: visible;
}
#wrap .container .cont_footer .tf_member dl:not(:first-of-type) {
  margin-top: 5.6rem;
}
#wrap .container .cont_footer .tf_member dl dt {
  font-family: "Pretendard Bold";
  color: #111;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.036rem;
  margin-bottom: 1.6rem;
}
#wrap .container .cont_footer .tf_member dl dd {
  font-family: "PretendardR";
  color: #444;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.056rem;
}
#wrap .container .cont_footer .tf_member dl dd:not(:first-of-type) {
  margin-top: 1.6rem;
}
#wrap .container .cont_footer .tf_member dl dd > em {
  font-style: normal;
  /*&:after {
    content: '';
    display: inline-block;
    width: rem(8);
    height: rem(8);
    background-color: #2294fd;
    border-radius: 50%;
    vertical-align: top;
  }*/
}
#wrap .container .cont_footer .footer_logo {
  position: absolute;
  right: 0;
  bottom: 16.5rem;
}/*# sourceMappingURL=FNT_PJ_02_a005.css.map */