@import '../mixins';
@import '../base';
@import './portfolio_mo';

#wrap {
  img {
    overflow: hidden;
    max-width: 100%;
  }


  .motionBox {
    // div {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   z-index: 0;

    //   video {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     animation: visualAni .6s ease-in forwards;
    //     animation-delay: .2s;
    //   }
    //   &::after{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: 2;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba($color: #000000, $alpha: .7);
        
    //   }
    // }

    // * {
    //   position: relative;
    //   z-index: 2;
    // }
    &::before{
      background-image: url('../../img/mobile/portfolio/a004/main_bg.png');
      background-position: center center;
    }
  }
  .overview{
    padding-bottom:rem(120);
  }
  // .sec01,
  // .sec02,
  // .sec03,
  // .sec04 {}
  .sec01 {
    height: rem(575);
    background: linear-gradient(to bottom, #fbfbfb 0%, #fbfbfb 29.74%, #ff5624 29.74%, #ff5624 100%);
    .inner {
      position: relative;
      max-width: rem(1168);
      margin: 0 auto;
      height: rem(171);
      &::after {
        content: '';
        display: block;
        width: rem(100);
        height: rem(50);
        background: url('../../img/mobile/portfolio/a004/bg_sec01.svg') no-repeat 50% 50% / rem(100) rem(50);
      }
      img {
        position: absolute;
        top: rem(40);
        left: 50%;
        width: 36.8%;
        max-width: rem(138);
        transform: translateX(-50%);
      }
    }
    .slide{
      position: relative;
      width:100%;
      height:rem(330);
      &-box{
        position: absolute;
        bottom:0;
        left:0;
      }
      &-inner{
        width:100%;
        @include flexRow(flex-start, center, nowrap, rem(52));
      }
      &-item{
        width:rem(100);
        height:rem(100);
        > img{
          display: block;
          margin:0 auto;
          max-height: 100%;
        }
      }
    }
    &.active{
      .inner{
        &:after{
          opacity:0;
          animation: slideUp 0.5s ease-in-out forwards;
          animation-delay: .2s;  
        }
        img{
          transform: translateX(-50%) !important;
          transition-delay: 1s;
        }
      }
    }
  }
  .sec02 {
    position: relative;
    height:rem(668);
    background: url('../../img/mobile/portfolio/a004/bg_sec02.png') no-repeat left top/cover;
    .inner{
      .leftIcon, .rightIcon{
        position: absolute;
        display:flex;
        flex-direction: row;
        gap:rem(12);
        > img{
          display: block;
          height:rem(160);
        }
      }
      .leftIcon{
        top:rem(80);
        left:rem(17);
      }
      .rightIcon{
        bottom:rem(80);
        right:rem(20);
      }
      .centerImg{       
        position: absolute;
        right:0;
        bottom:0;
        width:calc(100% -  rem(30));
        > img{
          display: block;
          width:100%;
        }
      }
    }
  }
  .sec03 {
    padding: rem(100) rem(20) 0;
    background-color: #fbfbfb;

    img {
      vertical-align: top;
    }

    .inner {
      &01 {
        img{
          border-radius: rem(20);
        }
      }
      &02 {
        margin-top: rem(80);
        text-align: right;
        > img{
          width:calc(100% - rem(95));
        }
      }
    }
  }
  .sec04 {
    padding: rem(80) 0 0;
    background-color: #fbfbfb;
    .textBox{
      position: relative;
      padding:rem(45) rem(50) 0;
      &::before{
        display: block;
        position: absolute;
        content:'';
        top:rem(0);
        left:rem(88);
        width:rem(80);
        height:rem(60);
        background:url('../../img/mobile/portfolio/a004/sec04_icon_01.png') no-repeat left top / cover;
        opacity: 0;
        scale: 0.8;
        transition: all 0.5s ease-in-out;
        z-index: 10;
      }
      &.active{
        &::before{            
          opacity: 1;
          scale:1;
          transition-delay: 0.1s;
        }
        >img{
          opacity:1;
          transition-delay: 1s;
        }
      }
    }
    .imgFlexBox{
      width:100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center;
      margin:rem(-55) 0 0 rem(10);      
      > ul{ 
        display: block;
        width:43.7%;
        img{
          display: block;
          width:100%;
        }
        &:first-child > li{
          position: relative;
          &::before{
            display: block;
            position: absolute;
            content:'';
            top:rem(161);
            left:rem(-35);
            width:rem(60);
            height:rem(60);
            background:url('../../img/mobile/portfolio/a004/sec04_icon_02.png') left top / cover;
            z-index: 1;
            opacity: 0;
            scale: 0.7;
            transition: all 0.5s ease-in-out;
          }
          &.active{
            &:before{
              opacity: 1;
              scale: 1;
              transition-delay: 1s;
            }
          }
        }        
        &:last-child > li{
          position: relative;
          &::before{
            display: block;
            position: absolute;
            content:'';
            top:rem(660);
            right:rem(-10);
            width:rem(66);
            height:rem(60);
            background:url('../../img/mobile/portfolio/a004/sec04_icon_03.png') left top / cover;
            z-index: 1;
            opacity: 0;
            scale: 0.7;
            transition: all 0.5s ease-in-out;
          }
          &.active{
            &::before{
              opacity: 1;
              scale: 1;
              transition-delay: 1s;
            }
          }
        }
      }
    }
  }


  .workforce {
    position: relative;
    padding: rem(80) rem(40) rem(220);

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: rem(80);
      width: rem(280);
      height: rem(61);
      background: url('../../img/mobile/portfolio/a004/img_logo.svg') no-repeat 100% 100% / rem(280) rem(61);
    }

    dl {
      overflow: visible;
      dt {
        font-size: rem(15);
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -0.01em;
        color: #111;

        & ~ dt {
          margin-top: rem(32);
        }
      }

      dd {
        display: flex;
        margin-top: rem(12);
        font-size: rem(18);
        line-height: 1.4;
        letter-spacing: -0.01em;
        color: #444;
        flex-wrap: wrap;
        gap: rem(6);

        em {
          position: relative;
          font-style: normal;

          // &::after {
          //   content: '';
          //   position: absolute;
          //   top: 0;
          //   right: 0;
          //   width: rem(6);
          //   height: rem(6);
          //   border-radius: 50%;
          //   background-color: #2294fd;
          // }
        }
      }
    }
  }
}
