@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
table {
  border: 0;
  border-spacing: 0;
}

.tableStyle {
  width: 100%;
}
.tableStyle thead {
  background-color: darkcyan;
  color: #fff;
  font-weight: 400;
}
.tableStyle thead th {
  padding: 1rem 0;
  text-align: center;
}
.tableStyle tbody tr:hover {
  background-color: #fdf5ea;
}
.tableStyle tbody tr.cateLine > td {
  border-top: 2px solid #000;
}
.tableStyle tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-size: 1.6rem;
}
.tableStyle tbody td.fgray {
  color: #777;
}
.tableStyle tbody td.fblue {
  color: rgb(26, 11, 196);
}
.tableStyle tbody td > a {
  color: brown;
}
.tableStyle tbody td > a:hover {
  color: blue;
}
.tableStyle tbody td:nth-of-type(6), .tableStyle tbody td:nth-of-type(9) {
  text-align: left;
  padding-left: 1.5rem;
}

/* --------------------------
*네티브 로고 폰트
*---------------------------*/
.poppins-extrabold {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/**
 * font: Instrument Sans.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Ins_SansR";
  src: url("../fonts/InstrumentSans/InstrumentSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansM";
  src: url("../fonts/InstrumentSans/InstrumentSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansSB";
  src: url("../fonts/InstrumentSans/InstrumentSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansB";
  src: url("../fonts/InstrumentSans/InstrumentSans-Bold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
/**
 * font: Pretendard.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardR";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardM";
  src: url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard semi";
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard exBold";
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input[type=text], input[type=tel], textarea, select {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Pretendard";
  color: #111;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
input[type=text]::placeholder, input[type=tel]::placeholder, textarea::placeholder, select::placeholder {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Pretendard";
  color: #999;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}

textarea {
  display: block;
  min-height: 20rem;
  padding: 0rem;
  border: 0;
  border-radius: 0;
  overflow: auto;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
  padding-right: 1rem;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #BBB;
  opacity: 0.5;
}
textarea:focus {
  outline: none;
}

.inputWrap:not(:first-of-type) {
  margin-top: 6.4rem;
}
.inputWrap .selectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 2rem;
}
.inputWrap .selectBox > select {
  width: 100%;
  background: url(../img/pc/ico_select_arrow.png) no-repeat right 1.6rem bottom 1.6rem;
  background-size: 2.4rem 2.4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputWrap > div.inputBox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: -999;
  left: -999;
}
.inputWrap > div.inputBox input[type=checkbox] + label {
  display: block;
  position: static;
  font-family: "Pretendard semi";
  font-size: 2rem;
  line-height: 100%;
  text-align: center;
  padding: 1.6rem 2.4rem;
  border: 1px solid #222;
  border-radius: 99.9rem;
  cursor: pointer;
}
.inputWrap > div.inputBox input[type=checkbox]:checked + label {
  background-color: #111;
  color: #fff;
  border-color: #111;
}
.inputWrap > div.inputBox input[type=checkbox]:focus + label {
  outline: solid 1px #111;
  border-radius: 99.9rem;
}
@media screen and (max-width: 1024px) {
  .inputWrap textarea {
    min-height: 24rem;
    border-radius: 0;
  }
  .inputWrap input[type=text], .inputWrap input[type=tel], .inputWrap select {
    border: 1px solid #ccc;
    padding: 1.8rem 2rem;
  }
  .inputWrap.moBox > div.inputBox input[type=checkbox] + label {
    min-width: 0;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Pretendard semi";
    color: #111;
    line-height: 2.2rem;
    letter-spacing: -0.07rem;
    text-align: center;
    padding: 1.2rem 1.6rem;
    line-height: 1;
  }
  .inputWrap.moBox > div.inputBox input[type=checkbox]:checked + label {
    background-color: #111;
    color: #fff;
    border-color: #111;
  }
}

html {
  font-size: 62.5%;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}
body ul,
body li,
body nav,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body a,
body span,
body dl,
body dd,
body dt {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.pc {
  display: none !important;
}

img {
  vertical-align: top;
}

.historyBack {
  display: inline-block;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: 1.6rem;
  left: 2rem;
}
.historyBack > button::before {
  display: block;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url("../../img/pc/portfolio/icon_backW.svg") no-repeat left top/contain;
}
.historyBack > button > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.historyBack.chgImg > button::before {
  background: url("../../img/pc/portfolio/icon_backB.svg") no-repeat left top/contain;
}

.motionBox {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 2rem 9.5rem 2rem;
  background-attachment: fixed !important;
  justify-content: flex-end;
  flex-direction: column;
  gap: 3.2rem;
}
.motionBox::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  animation: visualAni 1.2s ease-out forwards;
  animation-delay: 0.2s;
  flex: none;
}
.motionBox dl {
  color: #fff;
  transition-delay: 0.4s;
  letter-spacing: 0;
}
.motionBox dl dt {
  font-family: "Pretendard Bold";
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
.motionBox dl dt ~ dt {
  margin-top: 1.2rem;
}
.motionBox dl dd {
  font-family: "PretendardR";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: 0.4rem;
}
.motionBox h2 {
  font-family: "Pretendard Bold";
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fff;
}
.motionBox h2.active {
  transition-delay: 0.5s;
}
.motionBox button {
  display: inline-block;
  position: absolute !important;
  left: 50%;
  bottom: 0;
  width: 5.6rem;
  height: 5.6rem;
  margin-left: -2.8rem;
  font-size: 0;
  line-height: 0;
  background: url("../../img/mobile/portfolio/icon_scroll.svg") no-repeat 50% 0.8rem/2.4rem 2.4rem;
  animation: scrollAni 1.3s ease-out forwards infinite;
  animation-delay: 0.3s;
}
.motionBox button.scrollBlack {
  background: url("../../img/mobile/portfolio/icon_scrollB.svg") no-repeat 50% 0.8rem/2.4rem 2.4rem;
}

.overview {
  padding: 6rem 2rem;
}
.overview h2 {
  font-family: "Pretendard exBold";
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #111;
}
.overview h2 br {
  display: none;
}
.overview strong {
  font-family: "Pretendard Bold";
  display: block;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}
.overview strong span {
  display: block;
}
.overview strong.active {
  transition-delay: 0.3s;
}
.overview p {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  color: #444;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
.overview p.active {
  transition-delay: 0.6s;
}
.overview p + p {
  margin-top: 2rem;
}
.overview p + p.active {
  transition-delay: 0.9s;
}
.overview div div {
  display: flex;
  margin-top: 3.2rem;
  gap: 0.6rem;
  flex-wrap: wrap;
}
.overview div div.active {
  transition-delay: 1.2s;
}
.overview div div span {
  font-family: "Pretendard semi";
  padding: 1rem 1.65rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #111;
  border-radius: 99.9rem;
  border: 0.1rem solid #111;
  letter-spacing: 0;
}
.overview * {
  word-break: keep-all;
}

[data-scroll-event] {
  opacity: 0;
}
[data-scroll-event].leftInteraction.active {
  animation: slideLeft 0.3s ease-out forwards;
}
[data-scroll-event].rightInteraction.active {
  animation: slideRight 0.3s ease-out forwards;
}
[data-scroll-event].upInteraction.active {
  animation: slideUp 0.5s ease-out forwards;
}
[data-scroll-event].zoomInteraction {
  transform: scale(0.8);
}
[data-scroll-event].zoomInteraction.active {
  animation: zoom 0.5s ease-out forwards;
}
[data-scroll-event].fadeInteraction.active {
  animation: fade 1s ease-out forwards;
}

@keyframes visualAni {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scrollAni {
  0% {
    opacity: 0.5;
    background-position: 50% 0.8rem;
  }
  50% {
    opacity: 1;
    background-position: 50% 2.4rem;
  }
  100% {
    opacity: 0.5;
    background-position: 50% 0.8rem;
  }
}
#wrap .motionBox::before {
  background-image: url("../../img/mobile/portfolio/b004/bg_main.png");
  background-position: right center;
}
#wrap .motionBox dl,
#wrap .motionBox h2 {
  color: #111;
}
@media (min-width: 768px) {
  #wrap .motionBox::before {
    background-image: url("../../img/pc/portfolio/b004/bg_main.png");
    background-position: right center;
  }
}
#wrap .container .sec01 {
  text-align: center;
}
#wrap .container .sec01 img {
  width: 100%;
}
#wrap .container .sec02 {
  text-align: center;
}
#wrap .container .sec02 img {
  width: 100%;
}
#wrap .container .sec03 {
  text-align: center;
}
#wrap .container .sec03 img {
  width: 100%;
}
#wrap .container .sec04 {
  text-align: center;
}
#wrap .container .sec04 img {
  width: 100%;
}
#wrap .container .sec01 {
  margin: 0 2rem 10rem;
}
#wrap .container .sec01 p {
  overflow: hidden;
  border-radius: 1.6rem;
}
#wrap .container .sec01 .img_sec_01_02 {
  margin-top: 2rem;
  animation-delay: 0.3s;
}
#wrap .container .sec02 {
  margin-bottom: 10rem;
}
#wrap .container .sec02 .mo {
  display: flex;
  padding: 4rem 0 6.8rem;
  gap: 6rem;
  flex-direction: column;
  background-color: #f8f7f5;
}
#wrap .container .sec02 .slider {
  overflow: hidden;
}
#wrap .container .sec02 .slider-track {
  display: flex;
  width: max-content;
  height: 9rem;
  gap: 2rem;
}
#wrap .container .sec02 .slider-track div {
  display: flex;
  position: relative;
  width: 9rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
#wrap .container .sec03 {
  margin-bottom: 10rem;
  height: 92.8vw;
  background-color: #f8f7f5;
}
#wrap .container .sec03 .mo {
  overflow: hidden;
  position: relative;
  height: 100%;
}
#wrap .container .sec03 .mo img {
  position: absolute;
  width: 24.5333333333vw;
}
#wrap .container .sec03 .mo img:nth-child(1) {
  animation-delay: 0.2s;
}
#wrap .container .sec03 .mo img:nth-child(2) {
  animation-delay: 0.4s;
}
#wrap .container .sec03 .mo img:nth-child(3) {
  animation-delay: 0.6s;
}
#wrap .container .sec03 .mo img:nth-child(4) {
  animation-delay: 0.8s;
}
#wrap .container .sec03 .mo img:nth-child(5) {
  animation-delay: 1s;
}
#wrap .container .sec03 .mo img:nth-child(1) {
  top: 0;
  margin-left: -44.2666666667vw;
}
#wrap .container .sec03 .mo img:nth-child(2) {
  top: 17.6vw;
  margin-left: -13.3333333333vw;
  width: 26.6666666667vw;
}
#wrap .container .sec03 .mo img:nth-child(3) {
  top: 8.2666666667vw;
  margin-left: 29.3333333333vw;
}
#wrap .container .sec03 .mo img:nth-child(4) {
  top: 68.5333333333vw;
  margin-left: -50.6666666667vw;
}
#wrap .container .sec03 .mo img:nth-child(5) {
  top: 65.3333333333vw;
  margin-left: 22.4vw;
}
#wrap .container .sec04 {
  position: relative;
  margin: 0 2rem 11.2rem;
}
#wrap .container .sec04::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 43.7333333333vw;
  border-radius: 1.2rem;
  background-color: #179f4b;
}
#wrap .container .sec04 > div {
  position: relative;
  height: 186.4vw;
}
#wrap .container .sec04 > div div {
  display: grid;
  position: absolute;
  left: 50%;
}
#wrap .container .sec04 > div div img {
  width: 29.8666666667vw;
}
#wrap .container .sec04 > div div:nth-child(1) {
  top: 8.5333333333vw;
  margin-left: -41.0666666667vw;
  gap: 1.6vw;
}
#wrap .container .sec04 > div div:nth-child(1) img {
  animation-delay: 0.2s;
}
#wrap .container .sec04 > div div:nth-child(2) {
  top: 18.6666666667vw;
  margin-left: -14.6853333333vw;
  gap: 4vw;
}
#wrap .container .sec04 > div div:nth-child(2) img {
  animation-delay: 0.3s;
}
#wrap .container .sec04 > div div:nth-child(3) {
  top: 8.5333333333vw;
  margin-left: 11.4666666667vw;
  gap: 4.2666666667vw;
}
#wrap .container .sec04 > div div:nth-child(3) img {
  animation-delay: 0.4s;
}/*# sourceMappingURL=FNT_PJ_02_b004_mo.css.map */