@import "../mixins";
@import "../base";
@import './portfolio_mo';

#wrap{
	display: block;

  img {
    overflow: hidden;
    max-width: 100%;
  }

  .motionBox {
		position: relative;
    &::before{
      background-image: url('../../img/mobile/portfolio/a003/bg_main.png');
      background-position: right center;
    }

  }
  .container{
    @mixin phoneOutStyle{
      border:3px solid #111;
      border-radius: rem(16);
      background-color: #fff;
      box-shadow: 18.275px 18.275px 36.55px 0px rgba(0, 0, 0, 0.20);
      box-sizing: border-box;
    }
    > div{
      position: relative;
    }
    @for $i from 1 through 7 {
      .sec0#{$i}{
        dl{
          > dt{
            font-family: 'Pretendard exBold';
            font-size:rem(28);
            font-weight: 800;
            line-height: rem(39);
            letter-spacing: rem(-0.84);
          }
          > dd{
            font-family: 'Pretendard';
            font-size:rem(15);
            font-weight: 500;
            line-height: rem(22);
            letter-spacing: rem(-0.3);
            color:#444;
            opacity: 0.8;
            margin-top:rem(16); 
          }
        }
      }
    }
		.sec01{
			position: relative;
			width:100%;
			height:100%;
			background-color: #201D1D;
			margin-top:rem(195);
      padding-bottom:rem(60);
			text-align: right;
			.tit{
				padding:rem(187) rem(0) rem(80) rem(37);
				font-family: 'Pretendard exBold';
				font-size:rem(50);
				font-weight: 800;
				line-height: rem(60);
				color: #FFF;
				text-align: left;
			}
      .bigPhone{
        .lineImg{
          position: absolute;
          max-width:rem(336);
          top:rem(-195);
          left:50%;
          transform: translateX(-50%);
          opacity: 0;
          top:rem(-105);
          transition: all 1s cubic-bezier(0, 0, 0.2, 1);
          transition-delay: 1.5s;
          &.active{
            top:rem(-195);
            opacity:1;
          }
        }
      }
			> img{
        &.rightImg{
          width:100%;
          margin-left:rem(-60);
        }
			}
		}
		.sec02{
      overflow: hidden;
      > img{
        display: block;
        transform: scale(1.5);
        opacity: 0;
      }
      &.active{
        > img{
          transform: scale(1);
          opacity: 1;
          transition: all 1s cubic-bezier(0, 0, 0.2, 1);
        }
      }
		}
		.sec03{
      height:rem(527);
      background: linear-gradient(280deg, #E81825 0.92%, #FE4B04 116.88%);
      @include flexCol(flex-start,flex-start,rem(40));
      padding-left:rem(38);
      > dl{ 
        color:#fff;
        > dd{
          color:#fff;
        }
      }
      > img{
        width:rem(125);
        @include phoneOutStyle;
        padding-top:rem(8);
        margin-top:rem(-26);
      }
		}
    .sec04{
      height:rem(645);      
      @include flexCol(flex-start, flex-start, rem(79));
      .tbox01, .tbox02{
        width:100%;
        > img{
          width:rem(125);
          @include phoneOutStyle;
        }
      }
      .tbox01{
        @include flexCol(center, flex-end, rem(48));
        flex-direction: column-reverse;
        text-align: right;
        padding-right:rem(47);
        >img{
          height:rem(247);
          margin-top:rem(-52);
        }
      }
      .tbox02{
        @include flexRow(flex-start, flex-start, noWrap, rem(30));
        padding-left:rem(32);
        >img{
          height:rem(259);
          padding-top:(8);
        }
        >dl{
          width:rem(157);
        }
      }
    }
    .sec05{
      height:rem(472);
      background: linear-gradient(280deg, #00A3A8 0.92%, #20D6B5 116.88%);
      .tit{
				padding:rem(77) rem(0) rem(60) rem(37);
				font-family: 'Pretendard exBold';
				font-size:rem(40);
				font-weight: 800;
				line-height: rem(48);
				color: #FFF;
				text-align: left;
        letter-spacing: 0;
			}
      .tbox01{
        @include flexRow(flex-start, flex-start, noWrap, rem(30)); 
        color:#fff;
        .phoneBox{
          width:rem(125);
          height:rem(262);
          @include phoneOutStyle;
          background-color: #23BDB7;
          @include flexCol(center, center, 0);
          margin-left:rem(37);
          > img{
            width:rem(62);
            height:rem(62);
          }
        }
        > span{
          display: block;
          font-size: rem(15);
          line-height: rem(22);
          opacity: 0.8;
          letter-spacing: rem(-0.6);
          margin-top:rem(49);
        }
      }
    }
    .sec06{
      text-align: right;
      margin-top:rem(-34);
      margin-right:rem(32);
      >img{
        width:rem(125);
        height:rem(262);
        @include phoneOutStyle; 
      }
    }
    .sec07{
      >dl{
        @include flexCol(flex-start, flex-start, rem(16));
        padding:rem(56) 0 rem(57) rem(32);
      }
    }
  } 

	.workforce {
		position: relative;
		padding: rem(80) rem(40) rem(160 );
    background-color: #f9f9fa;
		&::after {
			content: '';
			position: absolute;
			right: rem(15);
			bottom: 0;
			width: rem(132);
			height: rem(108);
			background: url('../../img/mobile/portfolio/a003/img_logo.png') no-repeat 100% 100% / rem(132) auto;
		}

		dl {
      overflow: visible;
      dt {
        font-family: 'Pretendard Bold';
        font-size: rem(15);
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.03em;
        color: #111;

        & ~ dt {
          margin-top: rem(40);
        }
      }

      dd {
        display: flex;
        flex: row;
        flex-wrap: wrap;
        margin-top: rem(16);
        font-size: rem(18);
        line-height: 1;
        letter-spacing: -0.02em;
        color: #444;
        gap: rem(6);

        em {
          position: relative;
          font-style: normal;

          &::after {
            content: '';
            position: absolute;
            top: rem(-3);
            right: rem(-3);
            width: rem(8);
            height: rem(8);
            border-radius: 50%;
            background-color: #2294fd;
          }
        }
      }
    }
	}
}