@import '../mixins';
@import '../base';
@import './portfolio';

#wrap {
  img {
    overflow: hidden;
    max-width: 100%;
  }

  .motionBox {
    div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 0;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: visualAni .6s ease-in forwards;
        animation-delay: .2s;
      }
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .5);

      }
    }

    * {
      position: relative;
      z-index: 2;
    }

    &::before{
      background-image: url('../../img/pc/portfolio/a004/main_bg.jpg');
      background-position: center center;
    }
  }
  .sec01,
  .sec02,
  .sec03,
  .sec04 {
    margin: 0 auto;
    //max-width: rem(1920);
  }
  .sec01 {    
    position: relative;
    height: rem(1667);
    background: linear-gradient(to bottom, #fff 0%, #fff 34.6%, #ff5624 34.6%, #ff5624 100%);
    .inner {
      position: relative;
      max-width: rem(1168);
      margin: 0 auto;
      height: rem(577);
      &::after {
        content: '';
        display: block;
        width: rem(298);
        height: rem(149);
        background: url('../../img/pc/portfolio/a004/bg_sec01.svg') no-repeat 50% 50% / rem(298) rem(149);
      }
      img {
        position: absolute;
        top: rem(96);
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .slide{
      position: relative;
      width:100%;
      height:rem(924);
      overflow: hidden;
      &-box{
        position: absolute;
        bottom:0;
        left:0;
      }
      &-inner{
        display: flex;
        flex-direction: row;
        gap:rem(192);
      }
      &-item{
        width:rem(354);
        text-align: center;
        > img{
          display: block;
          height:rem(348);
          margin:0 auto;
        }
      }
    }
    &.active{
      .inner{
        &:after{
          opacity:0;
          animation: slideUp 0.5s ease-in-out forwards;
          animation-delay: .2s;  
        }
        img{
          transform: translateX(-50%) !important;
          transition-delay: 1s;
        }
      }
    }
  }

  .sec02 {
    overflow: hidden;
    .inner{
      background:url('../../img/pc/portfolio/a004/bg_sec02.png') no-repeat center top / 100% 100%;
        padding-bottom:calc(1200 / 1920 * 100%);
        scale: 1;
      .leftIcon, .rightIcon{
        display: inline-block;
        position: absolute;
        > img:last-of-type{
          margin-left:rem(24);
        }
      }
      .leftIcon{
        top:rem(456);
        left:50%;
        margin-left:rem(-698);
      }
      .rightIcon{
        top:rem(586);
        left:50%;
        margin-left:rem(238);
      }
      .centerImg{
        position: absolute;
        left: 50%;
        bottom:0;
        margin-left: rem(-300);
        >img{
          display: block;
        }
      }
    }    
  }

  .sec03 {
    padding: rem(240) 0 rem(109);
    background-color: #fbfbfb;
    img {
      vertical-align: top;
    }
    .inner {
      &01 {
        padding: 0 50% 0 rem(40);
        text-align: left;
        > img{
          border-radius: rem(25);
        }
      }
      &02 {
        margin-top: rem(150);
        padding: 0 rem(40) 0 50%;
        text-align: right;
      }
    }
  }
  .sec04 {
    background-color: #fbfbfb;
    padding:rem(0) 0 rem(100);
    .inner{
      width:rem(1560);
      margin:0 auto;
      .textBox{
        //border:1px solid red;
        position: relative;
        width:rem(1160);
        padding-top:rem(100);
        > img{
          display: block;
          opacity:0;
          z-index: 0;
          transition: all 1s ease;
        }
        &::before{
          display: block;
          position: absolute;
          content:'';
          top:rem(-3);
          left:rem(211);
          width:rem(203);
          height:rem(153);
          background:url('../../img/pc/portfolio/a004/sec04_icon_01.png') no-repeat left top / cover;
          opacity: 0;
          scale: 0.8;
          transition: all 0.5s ease-in-out;
          z-index: 10;
        }
        &.active{
          &::before{            
            opacity: 1;
            scale:1;
            transition-delay: 0.1s;
          }
          >img{
            opacity:1;
            transition-delay: 1s;
          }
        }
      }
      .imgBox1, .imgBox2{
        position: relative;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start ;
        padding-left:rem(193);
        > img{
          display: block;
          max-width:rem(418);
        }
        
      }
      .imgBox1{        
        margin-top:rem(-253);
        > img:first-of-type{
          margin-top:rem(210);
        }
        > img:last-of-type{
          margin-top:rem(110);
          transition-delay: 0.3s;
        }
        &::before{
          display: block;
          position: absolute;
          content:'';
          top:calc(50% - rem(60));
          left:rem(65);
          width:rem(177);
          height:rem(177);
          background:url('../../img/pc/portfolio/a004/sec04_icon_02.png') left top / cover;
          z-index: 1;
          opacity: 0;
          scale: 0.7;
          transition: all 0.5s ease-in-out;
        }
        &.active{
          &:before{
            opacity: 1;
            scale: 1;
            transition-delay: 1s;
          }
        }
      }
      .imgBox2{        
        margin-top:rem(-640);
        >img:last-of-type{
          margin-left:rem(415);
        }
        &::before{
          display: block;
          position: absolute;
          content:'';
          top:rem(64);
          right:rem(40);
          width:rem(222);
          height:rem(200);
          background:url('../../img/pc/portfolio/a004/sec04_icon_03.png') left top / cover;
          z-index: 1;
          opacity: 0;
          scale: 0.7;
          transition: all 0.5s ease-in-out;
        }
        &.active{
          &::before{
            opacity: 1;
            scale: 1;
            transition-delay: 0.5s;
          }
        }
      }
    }
  }

  .workforce {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    max-width: rem(18894);
    padding: rem(160) 0 rem(160) rem(274);

    // &::after {
    //   content: '';
    //   position: absolute;
    //   right: rem(0);
    //   bottom: rem(252);
    //   width: rem(832);
    //   height: rem(180);
    //   background: url('../../img/pc/portfolio/a004/img_logo.svg') no-repeat 100% 100% / rem(832) rem(180);
    //   @media screen and (max-width: 1500px) {
    //     display: none;
    //   }
    // }

    dl {
      overflow: visible;
      position: relative;
      z-index: 1;
      dt {
        font-family: 'Pretendard Bold';
        font-size: rem(18);
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #111;
        text-transform: capitalize;

        & ~ dt {
          margin-top: rem(52);
        }
      }

      dd {
        font-family: 'PretendardR';
        display: flex;
        margin-top: rem(16);
        font-size: rem(28);
        line-height: 1;
        letter-spacing: -0.056em;
        color: #444;
        gap: rem(12);

        em {
          position: relative;
          font-style: normal;

          // &::after {
          //   content: '';
          //   position: absolute;
          //   top: rem(-3);
          //   right: rem(-3);
          //   width: rem(8);
          //   height: rem(8);
          //   border-radius: 50%;
          //   background-color: #2294fd;
          // }
        }
      }
    }
  }
}

