@import '../mixins';
@import '../base';
@import './portfolio_mo';

#wrap {
  img {
    overflow: hidden;
    vertical-align: top;
    max-width: 100%;
  }
  .motionBox {
    &::before{
      background-image: url('../../img/mobile/portfolio/a001/bg_main.png');
      background-position: right bottom;
    }
    > h2{
      > span{
        display: block;
      }
    }
  }
  @media (orientation: landscape) {
    .motionBox {
      &::before{
        background-image: url('../../img/pc/portfolio/a001/bg_main.png');
        background-position: right bottom;
      }
    }
  }

  .container {
    .section01,
    .section02,
    .section03,
    .section04,
    .section05,
    .section06,
    .section07,
    .section08,
    .section09,
    .section10,
    .section11,
    .cont_footer {
      overflow: hidden;
    }
    .section01 {
      background-color: #fff;
      padding: 0 rem(20);
      .imgBox {
        text-align: center;
        margin-bottom: rem(32);
        img {
          width: 100%;
        }
        &.active{
          transition-delay: 1s;
        }
      }
      .tit {
        p {
          color: #111;
          font-size: rem(20);
          font-family: 'Pretendard exBold';
          line-height: 140%;
          letter-spacing: rem(-0.6);
        }
        margin-bottom: rem(12);
      }
      >div{
        > p {
          color: #444;
          font-size: rem(15);
          font-weight: 500;
          line-height: 150%;
          letter-spacing: rem(-0.3);
          margin-bottom: rem(64);
          word-break: keep-all;
        }
      }
    }
    .section02 {
      background-color: #fff;
      padding: 0 rem(20);
      .imgBox {
        text-align: center;
        margin-bottom: rem(32);
        img {
          width: 100%;
        }
      }
      .tit {
        > p {
          color: #111;
          font-size: rem(20);
          font-family: 'Pretendard exBold';
          line-height: 140%;
          letter-spacing: rem(-0.6);
        }
        margin-bottom: rem(12);
      }
      [class^='box'] {
        >div{
          > p {
            color: #444;
            font-size: rem(15);
            font-weight: 500;
            line-height: 150%;
            letter-spacing: rem(-0.3);
            word-break: keep-all;
          }
        }
      }
      .box01 {
        margin-bottom: rem(64);
      }
    }
    .section03 {
      display: flex;
      background-color: #fff;
      padding: rem(80) rem(40) rem(80) 0;
      justify-content: flex-end;
      .tit {             
        p {
          color: #121316;
          text-align: left;
          font-size: rem(26);
          font-family: 'Pretendard Bold';
          line-height: 130%;
          letter-spacing: rem(-0.52);
          strong {
            color: #007ef4;
            font-size: rem(26);
            font-weight: 700;
            line-height: 130%;
            letter-spacing: rem(-0.52);
          }
        }
      }
    }
    .section04 {
      background-color: #fff;
      padding: 0 rem(20) rem(80);
      > .box {
        border-radius: 16px;
        background: #0075e9;
        padding: rem(40) rem(40) rem(80);
        > .txt {
          color: #fff;
          text-align: center;
          font-size: rem(16);
          font-weight: 400;
          line-height: 150%;
          letter-spacing: rem(-0.48);
          margin-top: rem(60);
          > span {
            display: block;
          }
        }
        .secTit01 {
          color: #fff;
          font-family: 'Pretendard Bold';
          font-size: rem(18);
          font-weight: 700;
          line-height: 140%;
          letter-spacing: rem(-0.36);
        }
        .circle {
          &-box {
            margin-top: rem(60);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          &-list {
            position: relative;
            text-align: center;
            > li {
              display: flex;
              width: rem(200);
              height: rem(200);
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-radius: 1000px;
              border: 1px solid #fff;
              background: #0075e9;
              &:not(:first-of-type) {
                margin-top: rem(-22);
              }
              .tit {
                font-family: 'Pretendard exBold';
                color: #fff;
                text-align: center;
                font-size: rem(18);
                font-weight: 800;
                letter-spacing: rem(-0.36 );
              }
              .txt {
                color: #fff;
                text-align: center;
                font-size: rem(12);
                font-weight: 500;
                line-height: 150%;
                letter-spacing: rem(-0.24);
                margin-top:rem(8);
                opacity: 0.6;
              }
            }
            &:after {
              content: '';
              display: block;
              width: rem(23);
              height: rem(27);
              background: url('../../img/mobile/portfolio/a001/ico_arrow.svg') no-repeat 0 0 / 100%;
              margin: 0 auto;
            }
          }
          &-last {
            display: flex;
            margin-top: rem(32);
            width: rem(220);
            height: rem(220);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 1000px;
            background: #fff;
            color: #0075e9;
            text-align: center;
            font-family: 'Pretendard Bold';
            font-size: rem(22);
            font-weight: 700;
            line-height: 120%;
          }
        }
      }
      &.active{
        .circle-list::after{
          opacity:0;
          animation: slideDown 0.5s ease-in-out forwards;
          animation-delay: 1.5s;  
        }
      }
      @keyframes slideDown {
        from {
          opacity: 0;
          transform: translateY(rem(-50));
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .section05 {
      height: rem(616);
      position: relative;
      .effectBox{
        position: relative;
        width:auto;
        height: rem(403);
        margin:0 auto;
        background: url('../../img/mobile/portfolio/a001/sec05_bg_circle.png') no-repeat center center / cover;
        .effectImg{
          position: absolute;
          widtH:100%;
          height:100%;
          text-align: center;
          > img{
            display: block;
            &.item-line{
              width:rem(536);
              scale: 1.4;
              margin-top:rem(50);
              &.active{
                animation-delay: 0.5s;
              }
            }
            &.item-phone{
              position: absolute;
              width:calc(100% - rem(30));
              top:rem(69);
              left:rem(17);
              &.active{
                animation-delay: .7s;
              }
            }
          }
        }
      }
      .txtBox {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding:0 rem(16) 0 rem(40);
        .inner {
          .img-app {
            text-align: right;
            margin-bottom: rem(-40);
            margin-right: rem(0);
          }
          > .tit {
            p {
              color: #111;
              font-size: rem(22);
              font-family: 'Pretendard exBold';
              line-height: 140%;
              letter-spacing: rem(-0.66);
            }
            margin-bottom: rem(12);
          }
          > p {
            color: #444;
            font-size: rem(15);
            font-weight: 500;
            line-height: 150%;
            letter-spacing: rem(-0.3);
            word-break: keep-all;
          }
        }
      }
    }
    .section06 {
      background-color: #fff;
      padding: rem(80) rem(20);
      text-align: center;
      img{
        width: 100%;
        //border:1px solid red;
      }
      & .bottom_box{
        > div{
          margin-top:rem(8);
        }
        .colorBox{
          > img{
            width:100%;
            &:not(:first-of-type){
              margin-top:rem(-20);
            }
            &.active{
              &:nth-of-type(1){
                animation-delay: .2s;
              }&:nth-of-type(2){
                animation-delay: .4s;
              }&:nth-of-type(3){
                animation-delay: .6s;
              }
            }
          }
        }
      }
    }
    .section07 {
      background-color: #fff;
      padding: 0 rem(40) rem(80);
      text-align: center;
      > .inner {
        &:not(:first-of-type) {
          margin-top: rem(80);
        }
        .tit {
          font-family: 'Pretendard Bold';
          margin-bottom: rem(40);
          color: #111;
          font-size: rem(18);
          font-weight: 700;
          line-height: 140%;
          letter-spacing: rem(-0.36);
        }
        img{
          width: 100%;
        }
      }
    }
    .section08 {
      background-color: #fff;
      padding: 0 rem(20) rem(60);
      text-align: center;
      .inner {
        .box-left {
          margin-bottom: rem(8);
          .imgBox {
            img {
              width: 100%;
              border-radius: 16px;
            }
          }
        }
        .box-right {
          .box-motion {
            margin-bottom: rem(8);
            ul {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: rem(12);
              height: rem(180);
              border-radius: 16px;
              background: #f5f8fb;
              padding: 0 rem(40);
              li {
                width: rem(58);
              }
            }
          }
          .inner-box {
            display: flex;
            justify-content: center;
            gap: rem(8);

            .imgBox{
              width:50%;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .section09{
      img{
        width: 100%;
      }
    }
    .section10 {
      //padding: rem(50) 0;
      position: relative;
      .bg-circle{
        background: #fff url('../../img/mobile/portfolio/a001/bg_cont08.png') no-repeat center center / contain;
        height: rem(360);
      }
      .tit {
        position: absolute;
        left: calc(50% - rem(40));
        top: calc(50% - rem(40));
        width: 100%;
        p {
          font-family: 'Pretendard Bold';
          color: #121316;
          text-align: left;
          font-size: rem(26);
          font-weight: 700;
          line-height: 130%;
          letter-spacing: rem(-0.52);
          strong {
            display: block;
            color: #007ef4;
            font-size: rem(26);
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: rem(-0.52);
          }
        }
        &.active{
          transition-delay: .5s;
        }
      }
      .ico01 {
        position: absolute;
        right: rem(39);
        top: rem(34);
        width: rem(48);
        height: rem(48);
        background: url('../../img/pc/portfolio/a001/ico_01.png') no-repeat 0 0/ 100%;
        &.active{
          transition-delay: 0.2s;
        }
      }
      .ico02 {
        position: absolute;
        left: rem(36);
        bottom: -0.5rem;
        width: rem(74);
        height: rem(72);
        background: url('../../img/pc/portfolio/a001/ico_02.png') no-repeat 0 0 / 100%;
        &.active{
          animation-delay: .5s;
        }
      }
    }
    .section11 {
      padding:0 rem(12);
      > .inner {
        border-radius: 16px;
        background: linear-gradient(0deg, #f5f8fb 0%, #f5f8fb 100%), linear-gradient(180deg, #f5f8fb 0%, #fff 93.84%);
        padding: rem(32) rem(24);
        h2 {
          font-family: 'Pretendard Bold';
          color: #111;
          font-size: rem(16);
          font-weight: 700;
          line-height: 140%;
          letter-spacing: rem(-0.32);
        }
        .cont {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          position: relative;
          &_item {
            &:nth-child(2) {
              width: 33.3%;
              position: absolute;
              left: 75.37%;
              top: rem(88) ;
            }
          }
        }
        .cont_list {
          padding-top: rem(80);
          @media (max-width: 360px) {
            padding-top: rem(150);
          }
          @media (max-width: 360px) {
            padding-top: rem(150);
          }
          ul {            
            border:1px solid blue($color: #000000);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: rem(15);
            li {
              &:nth-child(1) {
                position: relative;
                top: rem(-88);
              }
              &:nth-child(3) {
                padding: rem(198) 0 0 0;
                margin-right:rem(-24);
              }
            }
          }
        }
      }
    }
    .cont_footer {
      overflow: visible;
      padding: rem(70) rem(0) rem(234) rem(40);
      position: relative;
      background: url('../../img/mobile/portfolio/a001/img_cont_footer.png') no-repeat right rem(70) / rem(330) auto;
      .tf_member {        
        padding-top: rem(280);
        dl {
          overflow: visible;
          &:not(:first-of-type) {
            margin-top: rem(32);
          }
          dt {
            font-family: 'Pretendard Bold';
            color: #111;
            font-size: rem(15);
            font-weight: 700;
            line-height: 1;
            letter-spacing: rem(-0.15);
            margin-bottom: rem(12);
          }
          dd {
            color: #444;
            font-size: rem(18);
            font-weight: 400;
            line-height: 1;
            letter-spacing: rem(-0.18);
            display: flex;
            flex-wrap: wrap;
            gap: rem(6);
            > em {
              font-style: normal;
              // &:after {
							// 	content: '';
							// 	display: inline-block;
							// 	width: rem(6);
							// 	height: rem(6);
							// 	background-color: #2294fd;
							// 	border-radius: 50%;
							// 	vertical-align: top;
							// }
            }
          }
        }
      }
      .footer_logo {
        position: absolute;
        right: 0;
        bottom: rem(80);
        width:100%;
        max-width: rem(318);
      }
    }
  }
}
