table {
  border: 0;
  border-spacing: 0;
}
.tableStyle {
  // background-color: red;
  width: 100%;
  & thead {
    background-color: darkcyan;
    color: #fff;
    font-weight: 400;
    th {
      padding: rem(10) 0;
      text-align: center;
      // &:first-of-type {
      //   border-radius: 8px 0 0 8px;
      // }
      // &:last-of-type {
      //   border-radius: 0 8px 8px 0;
      // }
    }
  }
  & tbody {
    tr {
      &:hover {
        background-color: #fdf5ea;
      }
      &.cateLine > td{
        border-top:2px solid #000;
      }
    }
    td {
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid #dbdbdb;
      border-right:1px solid  #dbdbdb;
      font-size: rem(16);
      &.fgray{
        color:#777;
      }
      &.fblue{
        color:rgb(26, 11, 196);
      }
      > a{
        color:brown;
        &:hover{
          color:blue;
        }
      }
      &:nth-of-type(6), 
      &:nth-of-type(9) {
        text-align: left;
        padding-left:rem(15);
      }
    }
  }
}
