/* --------------------------
*네티브 로고 폰트
*---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-extrabold {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/**
 * font: Instrument Sans.custom
 * ------------------------------------
 */
$truepath: '../fonts/InstrumentSans/';
@font-face {
	font-family: 'Ins_SansR';
	src: url($truepath + 'InstrumentSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Ins_SansM';
	src: url($truepath + 'InstrumentSans-Medium.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Ins_SansSB';
	src: url($truepath + 'InstrumentSans-SemiBold.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

/**
 * font: Pretendard.custom
 * ------------------------------------
 */
$fontpath: '../fonts/pretendard/';

@font-face {
	font-family: 'Pretendard';
	src: url($fontpath + 'Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'PretendardR';
	src: url($fontpath + 'Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'PretendardM';
	src: url($fontpath + 'Pretendard-Medium.woff') format('woff');
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Pretendard semi';
	src: url($fontpath + 'Pretendard-SemiBold.woff') format('woff');
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Pretendard Bold';
	src: url($fontpath + 'Pretendard-Bold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Pretendard exBold';
	src: url($fontpath + 'Pretendard-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-display: swap;
}
@font-face {
	font-family: 'Pretendard Black';
	src: url($fontpath + 'Pretendard-Black.woff') format('woff');
	font-weight: 900;
	font-display: swap;
}
//pc화면 텍스트
@mixin HeadLogo {
	font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
	font-size:rem(24);
  line-height: rem(24);
	letter-spacing: rem(-0.5);
}

@mixin PageTitle {
	font-family: "Ins_SansM";
	font-weight: 800;
	font-size: rem(200);
	line-height: 100%;
	letter-spacing: rem(0);
}

@mixin TitleInfo {
	font-family: 'Pretendard';
	font-size:rem(48);
	font-weight:700;
	line-height:rem(67);
	letter-spacing: rem(-1.4);
}

@mixin WorkTitle {
	font-family: 'Pretendard';
	font-size:rem(80);
	font-weight:700;
	line-height:rem(80);
	letter-spacing: rem(-1.6);
}

@mixin boardTitle {
	font-family: 'Pretendard';
	font-size:rem(28);
	font-weight:700;
	line-height:rem(39);
	letter-spacing: rem(-1.2);
	color:#000;
}

@mixin font14($Weight:'', $Fcolor:''){ 
	font-family: 'Pretendard';
	font-size:rem(14);
	@if $Weight != ''{
		font-weight:$Weight;
	}
	@else{
		font-weight:400;
	}	
	@if $Fcolor != ''{
		color:$Fcolor;
	}
	@else{
		color:#000;
	}	
	line-height: rem(22);
	letter-spacing: rem(-0.7);
}

@mixin font16($Weight:'', $Fcolor:''){ 
	font-family: 'Pretendard';
	font-size:rem(16);
	@if $Weight != ''{
		font-weight:$Weight;
	}
	@else{
		font-weight:400;
	}	
	@if $Fcolor != ''{
		color:$Fcolor;
	}
	@else{
		color:#000;
	}	
	line-height: rem(22);
	letter-spacing: rem(-0.7);
}

@mixin font18($Weight:'', $Fcolor:''){ 
	font-family: 'Pretendard';
	font-size:rem(18);
	@if $Weight != ''{
		font-weight:$Weight;
	}
	@else{
		font-weight:400;
	}	
	@if $Fcolor != ''{
		color:$Fcolor;
	}
	@else{
		color:#000;
	}	
	line-height: rem(25);
	letter-spacing: rem(-0.7);
}

@mixin subPageFont($Fcolor:'') {
	font-family: 'Pretendard';
	font-size:rem(64);
	font-weight:700;
	line-height:rem(89);
	letter-spacing: rem(-1.9);
	@if $Fcolor != ''{
		color:$Fcolor;
	}
	@else{
		color:#000;
	}
}

//모바일화면 텍스트
@mixin moHeadLogo {
	font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
	font-size:rem(18);
  line-height: rem(18);
	letter-spacing: rem(-0.3);
}

@mixin moPageTitle {
	font-family: "Ins_SansM";
	font-weight: 800;
	font-size: rem(50);
	line-height: rem(50);
	letter-spacing: rem(0);
}

@mixin moTitleInfo {
	font-family: 'Pretendard';
	font-size:rem(16);
	font-weight:700;
	line-height:rem(22);
	letter-spacing: rem(-0.4);
}

@mixin moWorkTitle {
	font-family: 'Pretendard';
	font-size:rem(80);
	font-weight:700;
	line-height:rem(80);
	letter-spacing: rem(-1.6);
}

@mixin moboardTitle {
	font-family: 'Pretendard';
	font-size:rem(28);
	font-weight:700;
	line-height:rem(39);
	letter-spacing: rem(-1.2);
	color:#000;
}

@mixin mosubPageFont($Fcolor:'') {
	font-family: 'Pretendard';
	font-size:rem(28);
	font-weight:700;
	line-height:rem(39);
	letter-spacing: rem(-0.3);
	@if $Fcolor != ''{
		color:$Fcolor;
	}
	@else{
		color:#000;
	}
}