html {
  font-size: 62.5%; // 16px × 0.625 = 10px → 1rem = 10px
}
body {
  overflow: hidden;
	overflow-y: overlay;
  margin:0;
  padding:0;
  font-family: 'Pretendard';
  ul,
  li,
  nav,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: #333;
  }
}
