@import "./mixins";
@import "./base";

#wrap{
  position: relative;  
  @include flexCol(flex-start, center,0);
  width:100%;
  height:100%;
  @include font18();
  & .header{
    position: fixed;
    width:inherit;
    color:#fff;
    min-height:rem(60);
    padding-top:rem(30);
    z-index: 999;
    > h1{
      @include HeadLogo;
      text-align: center;
      > a{
        background-color: transparent;
        color:#fff;
      }
    }
    & .nav{
      position: absolute;
      top:rem(30);
      right:rem(40);
      > ul{
        @include flexRow(flex-end, center, noWrap, rem(8));
        > li .btnSt{
          font-family: 'Ins_SansM ';
          font-size:rem(16);
          font-weight:700;
          color:#fff;
          padding:rem(4) rem(16);
          letter-spacing: rem(-0.3);
        }
      }
    }
    &.subPage{
      position: relative;
      color:#000;
      .btnSt{
        color:#000 !important;
      }
    }
  }
  & .container{
    //메인 페이지 스타일
    width:inherit;
    min-height:100vh;
    > .sec{
      &.sec1{
        position: relative;
        height:118.55vh;
        background-color: #111;
        @include flexCol(center, center, 0);
        & .ImgBox{ 
          border:1px solid red;
          position: relative;
          width:100%;
          height:100%;
          top:0;
          color:#fff;
          opacity: 0;          
          &::before{
            display: block;
            position: absolute;
            content: '';            
            width:95%;
            height:100%;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            background: url('../img/pc/motionbg.png') no-repeat 20% center ;
            background-size:cover;
          }
          > span{
            @include blind;
          }
        }
        & .textBox{
          border:1px solid red;
          width: 100%;
          position: absolute;
          > p { 
            
            position: relative;
            height:9.87vh;
            text-align: center;
            > span{              

              color:#fff;
              font-family: 'Ins_SansM';
              font-size:rem(80);
              line-height: rem(80);
              font-weight:700;
              overflow: hidden;
            }
          }
        }
      }
      &.sec2{
        width:calc(100% - 60vh);
        margin:32.93vh auto 0;
        & .titleBox{
          margin-bottom:17.56vh;
          font-size:rem(64);
          font-weight: 700;
          line-height: rem(89);
          letter-spacing: rem(-2);
          > span{
            color:#999;
          }
        }
        & .infoGBox{
          @include flexRow(center, flex-start, noWrap, rem(26));
          & .gBox{
            position: relative;
            width:48.29vh;
            height:48.29vh;
            border-radius: rem(20);
            &.gBox1{
              background-color: #111;
              padding:rem(40) 0 rem(36) rem(40);
              > dl {
                height: 100%;
                @include flexCol(space-between, flex-start,0);
                > dt{
                  font-size: rem(72);
                  color:#fff;
                  letter-spacing: rem(-1.4);
                  > span:not(.chaneNumber){
                    display: block;
                    width:rem(80);
                    @include RoundSt(rem(20), rem(20), 500, #fff, #111);
                    border:1px solid #fff;
                    padding:rem(8) rem(12);
                  }
                }
                > dd{
                  font-size:18px;
                  color:#fff;
                  letter-spacing: rem(-0.4);
                }
              }
            }
            &.gBox2{
              background:url('../img/pc/bg_gBox2.png') no-repeat 100% 100%;
              background-size: contain;
              margin-top:12.18vh;
              & .moreBtn{
                float: right;
                margin:rem(24) rem(24) 0 0;
                @include ArrowSt(rem(64),rem(64),#1C1E21, 'Icon_arrow.svg');
                >span{
                  @include blind();
                }
                @include clearfix();
              }
              > p{
                width:100%;
                margin-top:13.611vh;
                font-size: rem(36);
                line-height: rem(39);
                letter-spacing: rem(-0.7);
                text-align: center;
                >strong{
                  display: block;
                  font-family:"Pretendard Black", serif;
                }
              }
            }
            &.gBox3{
              background-color: #FFDF34;              
              margin-top:26.67vh;
              dl{
                height:100%;
                @include flexCol(center, center,0);
                dt{
                  font-family: "Pretendard Black", serif;
                  font-weight: 900;
                  font-size:rem(28);
                  line-height:rem(28);
                  letter-spacing: rem(-0.5);
                }
                dd{
                  font-family: "PretendardM", serif;
                  font-weight: 800;
                  font-size:rem(100);
                  line-height: rem(100);
                  letter-spacing: rem(-2);
                }
              }
            }
          }
        }
        & .textBox{
          margin:6.1vh 0 21.29vh;
          > dl{
            width:100%;
            @include flexRow(space-between, flex-end, noWrap, 0);
            > dt{
              font-family: 'PretendardR';
              font-size:rem(40);
              font-weight: 600;
              line-height: rem(48);
              letter-spacing: rem(-0.8);
            }
            > dd{
              > p{
                width:43.24vh;
                padding:rem(21) rem(24);
                background-color: #f4f4f4;
                border-radius: rem(12);
                @include flexRow(flex-start, center, noWrap, 0);
                font-size:rem(16);
                font-weight:800;
                line-height: rem(22);
                letter-spacing: rem(-0.3);
                color:#212121;
                > span{
                  padding-right:rem(20);
                  border-right:1px solid #d9d9d9;
                  margin-right:rem(20);
                  font-family: 'Pretendard exBold';
                }
                > a{
                  position: relative;
                  width:100%;
                  > span{                    
                    letter-spacing: rem(-0.3);
                    color:#212121;
                  }
                  &:before{
                    display: block;
                    position: absolute;
                    content:'';
                    top:rem(-5);
                    right:0;
                    width:rem(32);
                    height:rem(32);
                    background:url(../img/pc/icon_smile.png) no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }

        }
      }
      &.sec3{
        position: relative;
        width:calc(100% - 54.66vh);
        margin:0 auto;        
        @include flexCol(center, center, 0);
        >h2{
          position: relative;
          font-family:'Pretendard exBold';
          font-weight:800;
          font-size:rem(160);
          line-height: rem(160);
          &::before{
            position: absolute;
            display: inline-flex;
            content: 'Latest Works';
            bottom:rem(-10);
            right:rem(-108);
            @include RoundSt(rem(24), rem(24), 700, #222, #FFDF34);
            padding:rem(16) rem(32);
            transform: rotate(-15deg);
          }
          margin-bottom:15.47vh;
        }
        & .imglistbox{
          & .infoImg{
            display:block;
          }
          > p{
            width:100%;
            margin:7.57vh auto;
            @include flexRow(space-between, flex-start, noWrap, 0);
            & .textEn{
              font-family: 'PretendardR';
              font-size:rem(40);
              font-weight: 600;
              line-height: rem(48);
              letter-spacing: rem(-0.8);
            }
            & .textKo{
              font-family: 'Pretendard';
              font-size:rem(24);
              font-weight: 600;
              line-height: rem(36);
              letter-spacing: rem(-0.5);
            }
          }
          & .galleyBox{
            width:100%;
            @include flexRow(space-between, center, wrap, rem(90) 0);
          }
        }
        & .btnBox{
          margin:14.97vh auto 17.56vh;
        }
      }
      &.sec4{
        width:calc(100% - 60vh);
        padding:14.05vh 30vh 16.02vh;
        background-color: #f4f4f4;
        >h2{
          font-size:rem(120);
          font-weight:700;
          line-height: rem(120);
          text-align: center;
        }
        > ul{
          @include flexRow(space-between,'', nowrap, rem(41));
          height:42.81vh;
          margin-top:8.78vh;
          >li{
            position: relative;
            height:100%;
            @include flexCol(center, center, 0);
            &:first-child{
              width:83.09vh;
              border-radius: rem(90);
              background-color: #FFDF34;
              &::after{
                display: block;
                position: absolute;
                content:'';
                bottom:0;
                right:rem(26);
                width:rem(382);
                height:rem(382);
                overflow:hidden;
                background:url('../img/pc/logo_NVector.svg') no-repeat 100% 100%;
                border-radius: 0 0 rem(47) 0;
              }
            }
            &:last-child{
              width:62.89vh;
              border-radius: rem(999);
              background-color: #fff;
            }
            > a div{
              display: block;
              text-align: center;
              font-weight: 700;
              position: relative;
              z-index: 1;
              >span{
                font-size: rem(24);
                line-height: rem(28);
                letter-spacing: rem(-0.7);
                color:#111;
              }
              >h3{
                font-family:'PretendardM';
                font-size: rem(52);
                line-height: rem(62);
                letter-spacing: rem(-1.5);
                color:#111;
              }
              padding-bottom:rem(84);
              &::before{
                display: block;
                position: absolute;
                content:'';
                width:rem(64);
                height:rem(64);
                bottom:0;
                left:50%;
                transform: translateX(-50%);
                background:url('../img/pc/Icon_arrowB.svg') 100% 100%;
                background-size: contain;
              }
            }
          }
        }
      }
    }
    //각 컨텐츠 페이지 스타일
    & .subWrap{
      margin:0 30vh 0;
      & .pageHeader{
        @include flexCol(center, center, 0);
        margin:17.56vh auto;
        > h2{
          @include PageTitle;
        }
        & .pageInfo{
          margin-top:3.51vh;
          @include TitleInfo;
        }
      }
      & .boardWrap{
        border-top:2px solid #000;
        > a.toggleLayout{
          padding:5.26vh 0;
          border-bottom:2px solid #eee;
          @include flexRow(space-between, flex-start, noWrap, rem(24));
          // &:not(:first-of-type){
          //   border-top:2px solid #eee;
          // }         
          & .newsDate{
            flex-shrink: 0;
            width:22.83vh;
            text-align: center;
            @include font18(500, #000);
          }
          > dl {
            flex-grow: 2;
            overflow: hidden;
            > dt{
              @include boardTitle;
            }
            > dd{
              overflow:hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-height: rem(40);
              //transition: max-height 0.7s ease;
              padding-top:rem(16);
              @include font18(400, #666);
            }
          }
          & .toggleIcon{
            position: relative;
            flex-shrink:0;
            width:rem(62);
            height:rem(40);
            > em{
              @include blind;
            }
            &:before{
              display: block;
              position: absolute;
              content:'';
              width:rem(40);
              height:rem(40);
              top:0;
              left:0;
              transform: rotate(-180deg);
              transition: transform 0.5s ease;
              background:url($board_toggle_btn) 100% 100%;
            }
          }
          &.open{
            background-color: #FAFAFA;
            > dl{
              > dd{
                max-height: rem(500);
                transition: max-height 0.7s ease;
                text-overflow: none;
                white-space: wrap;
              }
            }
            & .toggleIcon{
              &:before{
                transform: rotate(0);
                transition: transform 0.5s ease;
              }
            }
          }
        }
      }
      & .formWrap{
        & .inputWrap{
          > p{
            @include boardTitle;
            margin-bottom:5.26vh;
          }
          & .inputBox{
            @include flexRow(flex-start,center, nowrap, rem(10));
          }
          & .scrollBox{
            height: 43.90vh;
            overflow-y:scroll;
            padding:rem(24);
            border: 1px solid #999;
            border-radius: rem(12);
            color:#555;
            > p{
              margin-bottom:3.95vh;
              &:last-of-type{
                margin-top:3.95vh;
              }
              }
            > ul{
              &:not(:first-of-type){
                margin-top:3.95vh;
              }
              > li{
                > span{
                  display: inline-block;
                  margin-bottom:2.41vh;
                }
              }
            }
          }
        }
      }
      & .btnBox{
        margin:8.78vh auto;
        &.WorkSt{
          margin:7.02vh auto;
          > button:not(:last-of-type){
            margin-right:rem(16);
          }
        }
      }
      &.bgBlack{
        margin:0 auto;
        padding:8.78vh 30vh;
        background-color: #1A1A1A;
        & .formWrap{
        & .inputWrap{
          > p {
            color:#fff;
            margin-bottom:5.26vh;
            > span{
              @include subPageFont(#fff);
              &:first-of-type{
                color:#999;
              }
            }
          }
          & .inputBox{
            @include flexRow(flex-start,center, nowrap, rem(10));
          }
        }
      }
      }
    }
  }
  & .footer{
    position: relative;
    width:100%;
    background-color: #111;
    color:#fff;
    @include flexCol(flex-start,center, 0);
    > div{
      width:100%;
      @include flexRow(space-between, flex-start, nowrap, 0);
      &.CompanyInfo{
        padding:8.78vh rem(40);
        > p{
          font-size: rem(32);
          line-height: rem(32);
          font-weight: 400;
          letter-spacing: rem(-0.3);
          color:#888;
        }
        & .siteMap{
          width: 99.67vh;
          @include flexRow(space-between, flex-start, nowrap, 0);          
          > dl{
            width:100%;
            > dt{
              font-size: rem(18);
              font-weight: 500;
              line-height: rem(25);
              letter-spacing: rem(-0.2);
              color:#fff;
              padding-bottom:rem(24);
            }
            > dd{
              font-size: rem(18);
              font-weight: 500;
              line-height: rem(25);
              letter-spacing: rem(-0.2);
              color:#999;
              &:not(:first-of-type){
                padding-top:rem(8);
              }
            }
          }
        }
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
      }
      &.copyright{
        padding:8.78vh rem(40) 6.58vh;
        > h2{
          font-family: 'PretendardM';
          font-size:rem(80);
          font-weight:700;
          line-height: rem(80);
          letter-spacing: rem(-1);
        }
        > p{
          @include flexCol(flex-start,flex-end, 0);
          font-size:rem(20);
          letter-spacing: rem(0);
          > a.btnTop{
            display: block;
            position: relative;
            >span{
              line-height: rem(26);
              color:#fff;
              padding-right:rem(32);
              &::before{
                display: block;
                position: absolute;
                content:'';
                top:rem(2);
                right:0;
                width:24px;
                height:24px;
                border:1px solid #fff;
                border-radius: 100%;
                background:url(../img/pc/Icon_arrow.svg) no-repeat 50% 50%;
                background-size: rem(12);
                transform: rotate(-45deg);
              }
            }
          }
          > span{
            color:#888;
          }
        }
      }
    }
  }
}