@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
table {
  border: 0;
  border-spacing: 0;
}

.tableStyle {
  width: 100%;
}
.tableStyle thead {
  background-color: darkcyan;
  color: #fff;
  font-weight: 400;
}
.tableStyle thead th {
  padding: 1rem 0;
  text-align: center;
}
.tableStyle tbody tr:hover {
  background-color: #fdf5ea;
}
.tableStyle tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.tableStyle tbody td.fgray {
  color: #777;
}
.tableStyle tbody td.fblue {
  color: rgb(26, 11, 196);
}
.tableStyle tbody td > a {
  color: brown;
}
.tableStyle tbody td > a:hover {
  color: blue;
}

/* --------------------------
*네티브 로고 폰트
*---------------------------*/
.poppins-extrabold {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/**
 * font: Instrument Sans.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Ins_SansR";
  src: url("../fonts/InstrumentSans/InstrumentSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansM";
  src: url("../fonts/InstrumentSans/InstrumentSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansSB";
  src: url("../fonts/InstrumentSans/InstrumentSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
/**
 * font: Pretendard.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardR";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardM";
  src: url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard semi";
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard exBold";
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btnBox {
  text-align: center;
}
.btnBox > button > span {
  font-family: "Ins_SansM";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 1.6rem;
  border-radius: 10rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 900;
  color: #000;
  background-color: #fff;
  letter-spacing: -0.04rem;
  letter-spacing: -0.03rem;
  border: 2px solid #000;
}
.btnBox > button > span.st1 {
  padding: 2rem 4rem;
}
.btnBox > button > span.st2 {
  padding: 1.6rem 3.2rem;
}
.btnBox > button > span:hover {
  background-color: #000;
  color: #fff;
}
.btnBox > button.on > span {
  background-color: #000;
  color: #fff;
}

.inputWrap:not(:first-of-type) {
  margin-top: 8.78vh;
}
.inputWrap > fieldset {
  border: none;
}
.inputWrap > fieldset > legend {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
  margin-bottom: 2.36vh;
}
.inputWrap > fieldset:not(:first-of-type) {
  margin-top: 4.39vh;
}

textarea {
  min-height: 17.4vh;
  overflow-y: scroll;
  padding: 0.8rem;
}

input[type=text], textarea {
  width: 100%;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 1.5rem 2.4rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
input[type=text]::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #999;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
input[type=text]::placeholder, textarea::placeholder {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #999;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
  padding: 0.8rem 1.6rem;
  border: 1px solid #222;
  border-radius: 0.8rem;
  cursor: pointer;
}
input[type=checkbox]:checked + label {
  background-color: #888;
  color: #fff;
  border-color: #888;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  overflow-y: overlay;
  margin: 0;
  padding: 0;
}
body ul,
body li,
body nav,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body a,
body span,
body dl,
body dd,
body dt {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.firstAction {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050505;
  z-index: 999;
}
.firstAction .baseText {
  position: relative;
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: -0.05rem;
  font-size: 8rem;
  line-height: 12rem;
  color: rgba(255, 255, 255, 0.5);
}
.firstAction .baseText .actionText {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  width: 0;
  height: 12rem;
  animation: w100 0.3s forwards alternate;
}
@keyframes w100 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
  /*workList*/
  overflow: auto;
}
#wrap .header {
  position: fixed;
  width: inherit;
  color: #fff;
  min-height: 6rem;
  padding-top: 3rem;
  z-index: 999;
}
#wrap .header > h1 {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: -0.05rem;
  text-align: center;
}
#wrap .header > h1 > a {
  background-color: transparent;
  color: #fff;
}
#wrap .header .nav {
  position: absolute;
  top: 3rem;
  right: 4rem;
}
#wrap .header .nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-items: center !important;
  flex-wrap: noWrap;
  gap: 0.8rem;
}
#wrap .header .nav > ul > li .btnSt {
  font-family: "Ins_SansM ";
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  padding: 0.4rem 1.6rem;
  letter-spacing: -0.03rem;
}
#wrap .header.subPage {
  position: relative;
  color: #000;
}
#wrap .header.subPage .logo {
  color: #000;
}
#wrap .header.subPage .btnSt {
  color: #000 !important;
}
#wrap .container {
  width: inherit;
  min-height: 100vh;
}
#wrap .container > .sec.sec1 {
  position: relative;
  height: 118.55vh;
  padding-bottom: 10rem;
  background-color: #050505;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container > .sec.sec1 .ImgBox {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  color: #fff;
  opacity: 0;
}
#wrap .container > .sec.sec1 .ImgBox::before {
  display: block;
  position: absolute;
  content: "";
  width: 95%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/pc/motionbg.png") no-repeat 20% center;
  background-size: cover;
}
#wrap .container > .sec.sec1 .ImgBox > span {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
#wrap .container > .sec.sec1 .textBox {
  width: 100%;
  position: absolute;
}
#wrap .container > .sec.sec1 .textBox > p {
  position: relative;
  height: 9.87vh;
  text-align: center;
  overflow: hidden;
}
#wrap .container > .sec.sec1 .textBox > p > span {
  position: absolute;
  bottom: -9.87vh;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: "Ins_SansM";
  font-size: 9.87vh;
  line-height: 9.87vh;
  font-weight: 700;
}
#wrap .container > .sec.sec2 {
  background-color: #050505;
  color: #fff;
}
#wrap .container > .sec.sec2 .textBox {
  display: block;
  padding: 28.43vh 0 47.75vh;
}
#wrap .container > .sec.sec2 .textBox > p {
  text-align: center;
}
#wrap .container > .sec.sec2 .textBox > p > span {
  font-family: "Pretendard";
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 7.9rem;
  letter-spacing: -0.16rem;
}
#wrap .container > .sec.sec3 {
  width: 74%;
  margin: 32.93vh 13% 0;
}
#wrap .container > .sec.sec3 .infoGBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: space-between !important;
  flex-wrap: Wrap;
  gap: 4rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox {
  position: relative;
  width: 48.29vh;
  height: 48.29vh;
  border-radius: 2rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox1 {
  background-color: #111;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox1 > span {
  color: #fff;
  z-index: 1;
  font-family: "Ins_SansM";
  font-weight: 800;
  font-size: 20rem;
  line-height: 100%;
  letter-spacing: 0rem;
  font-size: 8rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox1:before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/pc/main_item4.png") no-repeat 50% 50%;
  background-size: 31.61vh;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox2 {
  background-color: #FFDF34;
  position: relative;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox2 > p {
  position: relative;
  width: 100%;
  margin-top: 13.611vh;
  font-family: "Ins_SansM", serif;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 6.4rem;
  letter-spacing: -0.13rem;
  text-align: center;
  z-index: 1;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox2:before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/pc/main_item1.png") no-repeat 50% 50%;
  background-size: 31.61vh;
  opacity: 0.7;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3 {
  background-color: #0046FE;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3 dl {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  color: #fff;
  margin-left: 4.39vh;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3 dl dt {
  font-family: "Ins_SansR", serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.05rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3 dl dd {
  font-family: "Ins_SansM", serif;
  font-weight: 800;
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: -0.2rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3:before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 18vh;
  top: calc(50% + 2vh);
  right: 5.37vh;
  transform: translateY(-50%);
  background: url("../img/pc/main_item2.png") no-repeat top right;
  background-size: contain;
}
#wrap .container > .sec.sec3 .textBox {
  margin: 14.92vh 0 21.29vh;
}
#wrap .container > .sec.sec3 .textBox > dl {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end !important;
  flex-wrap: noWrap;
}
#wrap .container > .sec.sec3 .textBox > dl > dt {
  font-family: "PretendardR";
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.8rem;
  letter-spacing: -0.08rem;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p {
  width: 43.24vh;
  padding: 2.1rem 2.4rem;
  background-color: #f4f4f4;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: noWrap;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2.2rem;
  letter-spacing: -0.03rem;
  color: #212121;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p > span {
  padding-right: 2rem;
  border-right: 1px solid #d9d9d9;
  margin-right: 2rem;
  font-family: "Pretendard exBold";
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p > a {
  position: relative;
  width: 100%;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p > a > span {
  letter-spacing: -0.03rem;
  color: #212121;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p > a:before {
  display: block;
  position: absolute;
  content: "";
  top: -0.5rem;
  right: 0;
  width: 3.2rem;
  height: 3.2rem;
  background: url(../img/pc/icon_smile.png) no-repeat;
  background-size: contain;
}
#wrap .container > .sec.sec4 {
  position: relative;
  width: calc(100% - 54.66vh);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container > .sec.sec4 > h2 {
  position: relative;
  font-family: "Pretendard exBold";
  font-weight: 800;
  font-size: 16rem;
  line-height: 16rem;
  margin-bottom: 15.47vh;
}
#wrap .container > .sec.sec4 > h2::before {
  position: absolute;
  display: inline-flex;
  content: "Latest Works";
  bottom: -1rem;
  right: -10.8rem;
  border-radius: 10rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #222;
  background-color: #FFDF34;
  letter-spacing: -0.04rem;
  padding: 1.6rem 3.2rem;
  transform: rotate(-15deg);
}
#wrap .container > .sec.sec4 .imglistbox .infoImg {
  display: block;
}
#wrap .container > .sec.sec4 .imglistbox > p {
  width: 100%;
  margin: 7.57vh auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start !important;
  flex-wrap: noWrap;
}
#wrap .container > .sec.sec4 .imglistbox > p .textEn {
  font-family: "PretendardR";
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.8rem;
  letter-spacing: -0.08rem;
}
#wrap .container > .sec.sec4 .imglistbox > p .textKo {
  font-family: "Pretendard";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  letter-spacing: -0.05rem;
}
#wrap .container > .sec.sec4 .imglistbox .galleyBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: wrap;
  gap: 9rem 0;
}
#wrap .container > .sec.sec4 .btnBox {
  margin: 14.97vh auto 17.56vh;
}
#wrap .container > .sec.sec5 {
  width: calc(100% - 60vh);
  padding: 14.05vh 30vh 16.02vh;
  background-color: #f4f4f4;
}
#wrap .container > .sec.sec5 > h2 {
  font-size: 12rem;
  font-weight: 700;
  line-height: 12rem;
  text-align: center;
}
#wrap .container > .sec.sec5 > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 4.1rem;
  height: 42.81vh;
  margin-top: 8.78vh;
}
#wrap .container > .sec.sec5 > ul > li {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container > .sec.sec5 > ul > li:first-child {
  width: 83.09vh;
  border-radius: 9rem;
  background-color: #FFDF34;
}
#wrap .container > .sec.sec5 > ul > li:first-child::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  right: 2.6rem;
  width: 38.2rem;
  height: 38.2rem;
  overflow: hidden;
  background: url("../img/pc/logo_NVector.svg") no-repeat 100% 100%;
  border-radius: 0 0 4.7rem 0;
}
#wrap .container > .sec.sec5 > ul > li:last-child {
  width: 62.89vh;
  border-radius: 99.9rem;
  background-color: #fff;
}
#wrap .container > .sec.sec5 > ul > li > a div {
  display: block;
  text-align: center;
  font-weight: 700;
  position: relative;
  z-index: 1;
  padding-bottom: 8.4rem;
}
#wrap .container > .sec.sec5 > ul > li > a div > span {
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.07rem;
  color: #111;
}
#wrap .container > .sec.sec5 > ul > li > a div > h3 {
  font-family: "PretendardM";
  font-size: 5.2rem;
  line-height: 6.2rem;
  letter-spacing: -0.15rem;
  color: #111;
}
#wrap .container > .sec.sec5 > ul > li > a div::before {
  display: block;
  position: absolute;
  content: "";
  width: 6.4rem;
  height: 6.4rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/pc/Icon_arrowB.svg") 100% 100%;
  background-size: contain;
}
#wrap .container .subWrap {
  margin: 0 30vh 0;
}
#wrap .container .subWrap .pageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 17.56vh auto;
}
#wrap .container .subWrap .pageHeader.mgstyle2 {
  margin: 17.56vh auto 0;
}
#wrap .container .subWrap .pageHeader > h2 {
  font-family: "Ins_SansM";
  font-weight: 800;
  font-size: 20rem;
  line-height: 100%;
  letter-spacing: 0rem;
}
#wrap .container .subWrap .pageHeader .pageInfo {
  margin-top: 3.51vh;
  font-family: "Pretendard";
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.7rem;
  letter-spacing: -0.14rem;
}
#wrap .container .subWrap .boardWrap {
  width: 100%;
  border-top: 2px solid #000;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout {
  padding: 5.26vh 0;
  border-bottom: 2px solid #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start !important;
  flex-wrap: noWrap;
  gap: 2.4rem;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout .newsDate {
  flex-shrink: 0;
  width: 22.83vh;
  text-align: center;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout > dl {
  flex-grow: 2;
  overflow: hidden;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout > dl > dt {
  font-family: "Pretendard";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.9rem;
  letter-spacing: -0.12rem;
  color: #000;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout > dl > dd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 4rem;
  padding-top: 1.6rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 400;
  color: #666;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout .toggleIcon {
  position: relative;
  flex-shrink: 0;
  width: 6.2rem;
  height: 4rem;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout .toggleIcon > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
#wrap .container .subWrap .boardWrap > a.toggleLayout .toggleIcon:before {
  display: block;
  position: absolute;
  content: "";
  width: 4rem;
  height: 4rem;
  top: 0;
  left: 0;
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
  background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 16.25L20.25 25.25L29.25 16.25' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A") 100% 100%;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout.open {
  background-color: #FAFAFA;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout.open > dl > dd {
  max-height: 50rem;
  transition: max-height 0.7s ease;
  text-overflow: none;
  white-space: wrap;
}
#wrap .container .subWrap .boardWrap > a.toggleLayout.open .toggleIcon:before {
  transform: rotate(0);
  transition: transform 0.5s ease;
}
#wrap .container .subWrap .boardWrap.noBorder {
  border-top: 0;
}
#wrap .container .subWrap .boardWrap.noBorder .halfBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 4rem;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox > p > img {
  display: block;
  width: 100%;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox:not(:first-of-type) {
  margin-top: 10rem;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox > dl .proTitle {
  font-family: "Pretendard";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.9rem;
  letter-spacing: -0.12rem;
  color: #000;
  font-size: 3.2rem;
  margin-top: 4rem;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox > dl .proCont {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 400;
  color: #666;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
  margin-top: 1.6rem;
}
#wrap .container .subWrap .formWrap .inputWrap > p {
  font-family: "Pretendard";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.9rem;
  letter-spacing: -0.12rem;
  color: #000;
  margin-bottom: 5.26vh;
}
#wrap .container .subWrap .formWrap .inputWrap .inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 1rem;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollBox {
  height: 43.9vh;
  overflow-y: scroll;
  padding: 2.4rem;
  border: 1px solid #999;
  border-radius: 1.2rem;
  color: #555;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollBox > p {
  margin-bottom: 3.95vh;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollBox > p:last-of-type {
  margin-top: 3.95vh;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollBox > ul:not(:first-of-type) {
  margin-top: 3.95vh;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollBox > ul > li > span {
  display: inline-block;
  margin-bottom: 2.41vh;
}
#wrap .container .subWrap .btnBox {
  margin: 8.78vh auto;
}
#wrap .container .subWrap .btnBox.WorkSt {
  margin: 7.02vh auto;
}
#wrap .container .subWrap .btnBox.WorkSt > button:not(:last-of-type) {
  margin-right: 1.6rem;
}
#wrap .container .subWrap.bgBlack {
  margin: 0 auto;
  padding: 8.78vh 30vh;
  background-color: #1A1A1A;
}
#wrap .container .subWrap.bgBlack .formWrap .inputWrap > p {
  color: #fff;
  margin-bottom: 5.26vh;
}
#wrap .container .subWrap.bgBlack .formWrap .inputWrap > p > span {
  font-family: "Pretendard";
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8.9rem;
  letter-spacing: -0.19rem;
  color: #fff;
}
#wrap .container .subWrap.bgBlack .formWrap .inputWrap > p > span:first-of-type {
  color: #999;
}
#wrap .container .subWrap.bgBlack .formWrap .inputWrap .inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 1rem;
}
#wrap .footer {
  position: relative;
  width: 100%;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#wrap .footer > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start !important;
  flex-wrap: nowrap;
}
#wrap .footer > div.CompanyInfo {
  padding: 8.78vh 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
#wrap .footer > div.CompanyInfo > p {
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 400;
  letter-spacing: -0.03rem;
  color: #888;
}
#wrap .footer > div.CompanyInfo .siteMap {
  width: 99.67vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start !important;
  flex-wrap: nowrap;
}
#wrap .footer > div.CompanyInfo .siteMap > dl {
  width: 100%;
}
#wrap .footer > div.CompanyInfo .siteMap > dl > dt {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: -0.02rem;
  color: #fff;
  padding-bottom: 2.4rem;
}
#wrap .footer > div.CompanyInfo .siteMap > dl > dd {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: -0.02rem;
  color: #999;
}
#wrap .footer > div.CompanyInfo .siteMap > dl > dd:not(:first-of-type) {
  padding-top: 0.8rem;
}
#wrap .footer > div.copyright {
  padding: 8.78vh 4rem 6.58vh;
}
#wrap .footer > div.copyright > h2 {
  font-family: "PretendardM";
  font-size: 8rem;
  font-weight: 700;
  line-height: 8rem;
  letter-spacing: -0.1rem;
}
#wrap .footer > div.copyright > p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 2rem;
  letter-spacing: 0rem;
}
#wrap .footer > div.copyright > p > a.btnTop {
  display: block;
  position: relative;
}
#wrap .footer > div.copyright > p > a.btnTop > span {
  line-height: 2.6rem;
  color: #fff;
  padding-right: 3.2rem;
}
#wrap .footer > div.copyright > p > a.btnTop > span::before {
  display: block;
  position: absolute;
  content: "";
  top: 0.2rem;
  right: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 100%;
  background: url(../img/pc/Icon_arrow.svg) no-repeat 50% 50%;
  background-size: 1.2rem;
  transform: rotate(-45deg);
}
#wrap .footer > div.copyright > p > span {
  color: #888;
}
#wrap .workList {
  font-size: 5rem;
  line-height: 10rem;
}
#wrap::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
#wrap::-webkit-scrollbar-track {
  background-color: transparent;
}
#wrap::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
}
#wrap::-webkit-scrollbar-thumb:hover {
  background: #BBB;
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */