@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
table {
  border: 0;
  border-spacing: 0;
}

.tableStyle {
  width: 100%;
}
.tableStyle thead {
  background-color: darkcyan;
  color: #fff;
  font-weight: 400;
}
.tableStyle thead th {
  padding: 1rem 0;
  text-align: center;
}
.tableStyle tbody tr:hover {
  background-color: #fdf5ea;
}
.tableStyle tbody tr.cateLine > td {
  border-top: 2px solid #000;
}
.tableStyle tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-size: 1.6rem;
}
.tableStyle tbody td.fgray {
  color: #777;
}
.tableStyle tbody td.fblue {
  color: rgb(26, 11, 196);
}
.tableStyle tbody td > a {
  color: brown;
}
.tableStyle tbody td > a:hover {
  color: blue;
}
.tableStyle tbody td:nth-of-type(6), .tableStyle tbody td:nth-of-type(9) {
  text-align: left;
  padding-left: 1.5rem;
}

/* --------------------------
*네티브 로고 폰트
*---------------------------*/
.poppins-extrabold {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/**
 * font: Instrument Sans.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Ins_SansR";
  src: url("../fonts/InstrumentSans/InstrumentSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansM";
  src: url("../fonts/InstrumentSans/InstrumentSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansSB";
  src: url("../fonts/InstrumentSans/InstrumentSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
/**
 * font: Pretendard.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardR";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardM";
  src: url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard semi";
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard exBold";
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input[type=text], textarea, select {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem 2.4rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
input[type=text]::placeholder, textarea::placeholder, select::placeholder {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #999;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}

textarea {
  display: block;
  min-height: 17.4vh;
  padding: 0rem;
  border: 0;
  overflow: auto;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
  padding-right: 1rem;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #BBB;
  opacity: 0.5;
}
textarea:focus {
  outline: none;
}

.inputWrap:not(:first-of-type) {
  margin-top: 6.4rem;
}
.inputWrap .selectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 2rem;
}
.inputWrap .selectBox > select {
  width: 100%;
  background: url(../img/pc/ico_select_arrow.png) no-repeat right 1.6rem bottom 1.6rem;
  background-size: 2.4rem 2.4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputWrap > div.inputBox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: -999;
  left: -999;
}
.inputWrap > div.inputBox input[type=checkbox] + label {
  display: block;
  position: static;
  min-width: 12rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
  text-align: center;
  padding: 1.2rem 2rem;
  border: 1px solid #222;
  border-radius: 99.9rem;
  cursor: pointer;
}
.inputWrap > div.inputBox input[type=checkbox]:checked + label {
  background-color: #222;
  color: #fff;
  border-color: #222;
}
.inputWrap > div.inputBox input[type=checkbox]:focus + label {
  outline: solid 1px #111;
  border-radius: 99.9rem;
}
.inputWrap .agreeChk {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: noWrap;
  gap: 1.2rem;
  margin-top: 3.2rem;
}
.inputWrap .agreeChk input[type=checkbox] {
  width: 0.1rem;
  height: 0.1rem;
}
.inputWrap .agreeChk input[type=checkbox] + label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #000;
  border-radius: 0.6rem;
  background-color: #fff;
  cursor: pointer;
}
.inputWrap .agreeChk input[type=checkbox]:checked + label {
  background-color: #222;
  cursor: pointer;
}
.inputWrap .agreeChk input[type=checkbox]:checked + label:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../img/pc/icon_chk.svg") left top;
  background-size: contain;
}
.inputWrap .agreeChk > span {
  margin-left: 1.2rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
.inputWrap.moBox > div.inputBox input[type=checkbox] + label {
  min-width: 7rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 500;
  color: #222;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  text-align: center;
  padding: 0.9rem 1.5rem;
}
.inputWrap.moBox > div.inputBox input[type=checkbox]:checked + label {
  background-color: #222;
  color: #fff;
  border-color: #222;
}

html {
  font-size: 62.5%;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}
body ul,
body li,
body nav,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body a,
body span,
body dl,
body dd,
body dt {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.subWrap .recWarp {
  padding-top: 8rem;
}
.subWrap .recWarp > h3 {
  font-family: "Pretendard";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.9rem;
  letter-spacing: -0.03rem;
  color: #111;
}
.subWrap .recWarp > h3 > span {
  display: block;
}
.subWrap .recWarp > p {
  margin-top: 1.6rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  color: #444;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  line-height: 2.4rem;
}
.subWrap .recWarp .graphicBox {
  padding: 8.8rem 0 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center !important;
  flex-wrap: Wrap;
  gap: 6rem;
}
.subWrap .recWarp .graphicBox > ul {
  position: relative;
  width: 40.5rem;
  padding-top: 28rem;
}
.subWrap .recWarp .graphicBox > ul > li {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  letter-spacing: -0.02rem;
  color: #fff;
}
.subWrap .recWarp .graphicBox > ul > li:not(:last-of-type) {
  margin-bottom: 0.6rem;
}
.subWrap .recWarp .graphicBox > ul > li:last-of-type {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  letter-spacing: -0.01rem;
  margin-top: 1.6rem;
}
.subWrap .recWarp .graphicBox > ul:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 32rem;
  height: 28rem;
}
.subWrap .recWarp .graphicBox > ul:nth-of-type(1)::before {
  background: url("../img/pc/main_item7.png") no-repeat center top;
  background-size: 22.4rem 22.4rem;
}
.subWrap .recWarp .graphicBox > ul:nth-of-type(2)::before {
  background: url("../img/pc/main_item1.png") no-repeat center top;
  background-size: 20rem 19.3rem;
}
.subWrap .recWarp .graphicBox > ul:nth-of-type(3)::before {
  background: url("../img/pc/main_item5.png") no-repeat center top;
  background-size: 27.9rem 28.9rem;
}
.subWrap .recWarp .slide {
  position: relative;
  margin: 6rem auto 0rem;
  height: 30rem;
}
.subWrap .recWarp .slide-box > ul > li {
  position: relative;
  width: 25.5rem;
  height: 30rem;
  border-radius: 1.6rem;
  color: #fff;
  letter-spacing: -0.03rem;
  padding: 2.8rem 0rem 0rem 2.8rem;
}
.subWrap .recWarp .slide-box > ul > li > p {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.8rem;
}
.subWrap .recWarp .slide-box > ul > li > span {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
}
.subWrap .recWarp .slide-box > ul > li:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 25.5rem;
  height: 30rem;
  top: 0;
  left: 0;
  border-radius: 1.6rem;
  z-index: -1;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(1)::before {
  background: url("../img/mobile/benefit_01.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(2)::before {
  background: url("../img/mobile/benefit_02.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(3)::before {
  background: url("../img/mobile/benefit_03.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(4)::before {
  background: url("../img/mobile/benefit_04.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(5)::before {
  background: url("../img/mobile/benefit_05.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(6)::before {
  background: url("../img/mobile/benefit_01.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(7)::before {
  background: url("../img/mobile/benefit_02.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(8)::before {
  background: url("../img/mobile/benefit_03.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(9)::before {
  background: url("../img/mobile/benefit_04.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .slide-box > ul > li:nth-of-type(10)::before {
  background: url("../img/mobile/benefit_05.png") no-repeat top left;
  background-size: cover;
}
.subWrap .recWarp .boardWrap {
  margin-top: 6rem;
}
.subWrap .recWarp .boardWrap .AccoBox > button {
  position: relative;
  width: 100%;
}
.subWrap .recWarp .boardWrap .AccoBox > button > span.deptName {
  color: #111;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
}
.subWrap .recWarp .boardWrap .AccoBox > button > span.deptName > strong {
  font-weight: 700;
  padding-right: 1.6rem;
}
.subWrap .recWarp .boardWrap .AccoBox > button > span.deptCont {
  color: #444;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}
.subWrap .recWarp .boardWrap .AccoBox > button > span.toggleIcon {
  top: 3.2rem !important;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li > section {
  height: 100%;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li > section > ul:not(:first-of-type) {
  margin-top: 2.4rem;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li > section > ul > strong {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 700;
  color: #444;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li > section > ul > li {
  position: relative;
  padding: 1.2rem 0rem 0rem !important;
  color: #444;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: Wrap;
  gap: 1rem;
  margin-top: 2.4rem;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button {
  display: inline-block;
  position: relative;
  width: 12.5rem;
  height: 5rem;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button.jobkorea::before {
  background: url("../img/mobile/mark_Jobkorea.png") no-repeat left top/contain;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button.wanted::before {
  background: url("../img/mobile/mark_wanted.png") no-repeat left top/contain;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button.saramin::before {
  background: url("../img/mobile/mark_saramin.png") no-repeat left top/contain;
}
.subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > span {
  color: #999;
}
.subWrap .recWarp .boardWrap .AccoBox.open {
  background-color: #FAFAFA;
}
.subWrap .recWarp .boardWrap .AccoBox > span {
  top: 2.4rem !important;
}
.subWrap .recWarp .stepBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: Wrap;
  gap: 2rem;
  margin: 6rem auto 8rem;
}
.subWrap .recWarp .stepBox > dl {
  width: 14rem;
  height: 14rem;
  border-radius: 100%;
  text-align: center;
}
.subWrap .recWarp .stepBox > dl > dt {
  margin-top: 4.3rem;
  opacity: 0.6;
}
.subWrap .recWarp .stepBox > dl > dd {
  margin-top: 0.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
}
.subWrap .recWarp .stepBox > dl:nth-of-type(odd) {
  background-color: #2A2A2A;
}
.subWrap .recWarp .stepBox > dl:nth-of-type(odd) > dt {
  font-family: "Pretendard";
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
.subWrap .recWarp .stepBox > dl:nth-of-type(odd) > dd {
  color: #fff;
}
.subWrap .recWarp .stepBox > dl:nth-of-type(even) {
  background-color: #FFDF34;
}
.subWrap .recWarp .stepBox > dl:nth-of-type(even) > dt {
  font-family: "Pretendard";
  font-size: 1.4rem;
  font-weight: 500;
  color: #111;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
.subWrap .recWarp .stepBox > dl:nth-of-type(even) > dd {
  color: #111;
}
.subWrap .recWarp .stepBox > dl:nth-of-type(2) > dt {
  margin-top: 2.9rem;
}
.subWrap .recWarp .stepBox > dl:nth-of-type(3):before {
  transform: translateY(-50%) rotate(-270deg) !important;
}
.subWrap .recWarp .stepBox > dl:not(:last-of-type) {
  position: relative;
}
.subWrap .recWarp .stepBox > dl:not(:last-of-type):before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  top: 50%;
  right: -6rem;
  transform: translateY(-50%) rotate(-90deg);
  background: url("../img/pc/ico_select_arrow.png") no-repeat center center;
  background-size: 60% 60%;
}
.subWrap .recWarp .stepBox.stPc {
  display: none;
}
.subWrap:first-of-type .recWarp > img {
  display: block;
  width: 100%;
  border-radius: 1.6rem;
  margin: 6rem auto 3.2rem;
}
.subWrap:first-of-type .recWarp > img.imgPc {
  display: none;
}
.subWrap.bgBlack .recWarp {
  text-align: center;
}
.subWrap.bgBlack .recWarp > h3 {
  color: #fff;
}
.subWrap.bgBlack .recWarp > h3 > span {
  display: block;
}
.subWrap.bgBlack .recWarp > p {
  color: rgba(255, 255, 255, 0.6);
}
.subWrap.bgBlack .recWarp > p > span {
  display: block;
}
.subWrap .slide {
  overflow: hidden;
}
.subWrap .slide-box {
  position: absolute;
  top: 0;
  left: 0;
}
.subWrap .slide-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 2rem;
}
.subWrap .slide-item > img {
  display: block;
}/*# sourceMappingURL=mo_recruit.css.map */