@import "./mixins";
@import "./base";

.subWrap{
  //margin:0 !important;
  & .recWarp{
    //margin:0 rem(20);
    padding-top:rem(80);
    > h3{
      @include mosubPageFont(#111);
      >span{
        display: block;
      }
    }
    > p{
      margin-top:rem(16);
      @include font16(400, #444);
      line-height: rem(24);
      word-break: keep-all;
      & .pc{
        display: none;
      }
    }
    & .graphicBox{
      padding:rem(80) 0 rem(120);
      @media screen and (min-width: 1024px){
        @include flexRow(center, center, noWrap, rem(60));
      }
      @include flexRow(center, center, Wrap, rem(60));
      > ul{
        position: relative;
        width:rem(405);
        > li{
          font-family: 'Pretendard Bold';
          font-size:rem(24);
          font-weight: 700;
          line-height: rem(33);
          letter-spacing: rem(-0.2);
          color:#fff;
          &:not(:last-of-type){
            margin-bottom:rem(6);
          }
          &:last-of-type{
            font-family: 'PretendardR';
            @include font16(400, rgba(255, 255, 255, 0.60));
            letter-spacing: rem(-0.1);
            margin-top:rem(16);
          }
        }
        padding-top:rem(280);
        &:before{
          display: block;
          position: absolute;
          content:'';
          top:0;
          left:50%;
          transform: translateX(-50%);
          width:rem(320);
          height:rem(280);
        }
        &:nth-of-type(1){
          &::before{
            background:url('../img/pc/main_item7.png') no-repeat center top;
            background-size:rem(224) rem(224);
          }
        }
        &:nth-of-type(2){
          &::before{
            background:url('../img/pc/main_item1.png') no-repeat center rem(40);
            background-size:rem(200) rem(193);
            height:rem(300);
          }
        }
        &:nth-of-type(3){
          &::before{
            background:url('../img/pc/main_item5.png') no-repeat center top;
            background-size:rem(279) rem(289);
          }
        }
      }
    }
    & .boardWrap{
      margin-top:rem(60);
      & .AccoBox{
        > button{
          position: relative;
          width:100%;
          > span.deptName{
            padding-right:rem(28);
            font-family: 'PretendardR';
            color:#111;
            font-size:rem(22);
            font-weight: 400;
            line-height: rem(30);
            letter-spacing: rem(-.22);
            > strong{
              font-family: 'Pretendard Bold';
              font-weight:700;
              padding-right:rem(8);
            }
          }
          > span.deptCont{
            color:#444;
            font-size:rem(16);
            font-weight: 400;
            line-height: rem(24);
            text-align: left;
            word-break: keep-all;
          }
          > span.toggleIcon{
            top:rem(32) !important;
            width:rem(28) !important;
            height:rem(28) !important;
            transform:none !important;
            &::before{
              width: rem(28) !important;
              height:rem(28) !important;
            }
          }
        }
        & .listStyle{
          > li{
            > section{
              height: 100%;
              > ul{
                &:not(:first-of-type){
                  margin-top:rem(24);
                }
                >strong{
                  @include font16(700, #444);
                  font-family: 'Pretendard Bold';
                }
                > li{
                  position: relative;
                  padding:rem(12) rem(0) rem(0) !important;
                  color:#444;
                }
              }
            }
            & .recruitSite{
              @include flexRow(flex-start, center, Wrap, rem(10));
              //margin-top:rem(24);
              > button{
                display: inline-block;
                position: relative;
                width:rem(125);
                height:rem(50);
                > em{
                  @include blind();
                }
                &:before{
                  display: block;
                  position: absolute;
                  content:'';
                  top:0;
                  left:0;
                  width:100%;
                  height:100%;
                }
                &.jobkorea{
                  &::before{
                    background:url('../img/mobile/mark_jobkorea.png') no-repeat left top / contain;
                  }
                }
                &.wanted{
                  &::before{
                    background:url('../img/mobile/mark_wanted.png') no-repeat left top / contain;
                  }
                }
                &.saramin{
                  &::before{
                    background:url('../img/mobile/mark_saramin.png') no-repeat left top / contain;
                  }
                }
              }
              > span{
                color:#999;
              }
            }
          }

        }
        &.open{
          background-color: #FAFAFA;
        }
        > span{
          top:rem(24) !important;
        }

      }
    }
    & .stepBox{
      max-width: rem(335);
      @include flexRow(space-between, center, wrap, rem(20) 0);
      margin:rem(60) auto rem(140);
      > dl{
        display: flex;
        width:rem(140);
        height:rem(140);
        border-radius: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        > dt{
          opacity: 0.6;

        }
        > dd{
          font-family: 'Pretendard Bold';
          margin-top:rem(6);
          font-size:rem(20);
          font-weight: 700;
          line-height: rem(28);
          letter-spacing: rem(-0.02);
        }
        &:nth-of-type(odd){
          background-color:#2A2A2A;
          > dt{
            font-size: rem(14);
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: rem(-.14);
            color:#fff;
          }
          > dd{
            color:#fff;
          }
        }
        &:nth-of-type(even){
          background-color: #FFDF34;
          > dt{
            font-size: rem(14);
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: rem(-.14);
            color:#111;
          }
          > dd{
            color:#111;
          }
        }
        &:nth-of-type(3){
          order: 2;
        }
      }
      span{
        display: block;
        width:rem(32);
        height:rem(32);
        background:url('../img/mobile/ico_select_arrow.png') no-repeat center center;
        background-size: rem(32) rem(32);

        &:nth-of-type(2){
          display: none;
        }
        &:nth-of-type(3){
          order: 1;
        }
      }

      @media screen and (max-width: 360px){
        flex-direction: column;
        dl{
          order: 0 !important;
        }

        span{
          order: 0 !important;
          display: block !important;
          transform: rotate(90deg);
        }
      }
      @media screen and (min-width: 696px){
        max-width: 100%;
        dl{
          order: 0 !important;
        }
        span{
          order: 0 !important;
          &:nth-of-type(2){
            display: block;
          }
        }
      }

      &.stPc{
        display: none;
      }
    }
  }
  &:first-of-type{
    & .recWarp{
      margin-top:rem(56);
      > h3{
        font-family: 'Pretendard exBold';
        font-size:rem(32);
        font-weight:800;
        line-height:rem(44);
        letter-spacing: rem(-0.32);
        color:#111;
        transition-delay: .1s;
      }
      .imgBox {
        position: relative;
        overflow: hidden;
        border-radius: rem(16);
        margin:rem(60) auto rem(80);
        img{
          display: block;
          width:100%;
          &.imgPc{
            display: none;
          }
        }
        transition-delay: .6s;
      }
      > p{
        transition-delay: .3s;
      }
    }
  }
  &.bgBlack{
    padding:0 rem(20) !important;
    & .recWarp{
      text-align: center;
      > h3{
        color:#fff;
        > span{
          display: block;
        }
      }
      >p{
        color:rgba(255, 255, 255, 0.60);
        > span{
          display: block;
        }
      }
    }
  }
  & .slide{
    position: relative;
    margin:rem(60) 0 0;
    height:rem(300);
    &-box{
      > ul{
        > li{
          position: relative;
          width:rem(255);
          height: rem(300);
          border-radius: rem(16);
          color:#fff;
          letter-spacing: rem(-0.3);
          padding:rem(28) rem(0) rem(0) rem(28);
          > p{
            font-size: rem(20);
            font-weight: 800;
            line-height: rem(28);
          }
          > span{
            display: block;
            font-size: rem(14);
            font-weight: 400;
            line-height: rem(21);
            margin-top:rem(8);
          }
          &:before{
            display: inline-block;
            position: absolute;
            content:'';
            width:rem(255);
            height:rem(300);
            top:0;
            left:0;
            border-radius: rem(16);
            z-index: -1;
          }
        }
        @for $i from 1 through 5 {
          > li:nth-of-type(#{$i}) {
            &::before {
              background: url('../img/mobile/benefit_0#{$i}.png') no-repeat top left;
              background-size: cover;
            }
          }
        }
        @for $i from 6 through 10 {
          > li:nth-of-type(#{$i}) {
            &::before {
              background: url('../img/mobile/benefit_0#{$i - 5}.png') no-repeat top left;
              background-size: cover;
            }
          }
        }
      }
    }
  }
  //가로슬라이드 CSS
  & .slide{
    //overflow: scroll;
    //overflow:hidden;
    &-box{
      position: absolute;
      top:0;
      left:0;
    }
    &-inner{
      width:100%;
      @include flexRow(flex-start, center, nowrap, rem(20));
    }
    &-item{
      > img{
        display: block;
      }
    }
  }
}