@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
table {
  border: 0;
  border-spacing: 0;
}

.tableStyle {
  width: 100%;
}
.tableStyle thead {
  background-color: darkcyan;
  color: #fff;
  font-weight: 400;
}
.tableStyle thead th {
  padding: 1rem 0;
  text-align: center;
}
.tableStyle tbody tr:hover {
  background-color: #fdf5ea;
}
.tableStyle tbody tr.cateLine > td {
  border-top: 2px solid #000;
}
.tableStyle tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-size: 1.6rem;
}
.tableStyle tbody td.fgray {
  color: #777;
}
.tableStyle tbody td.fblue {
  color: rgb(26, 11, 196);
}
.tableStyle tbody td > a {
  color: brown;
}
.tableStyle tbody td > a:hover {
  color: blue;
}
.tableStyle tbody td:nth-of-type(6), .tableStyle tbody td:nth-of-type(9) {
  text-align: left;
  padding-left: 1.5rem;
}

/* --------------------------
*네티브 로고 폰트
*---------------------------*/
.poppins-extrabold {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/**
 * font: Instrument Sans.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Ins_SansR";
  src: url("../fonts/InstrumentSans/InstrumentSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansM";
  src: url("../fonts/InstrumentSans/InstrumentSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansSB";
  src: url("../fonts/InstrumentSans/InstrumentSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
/**
 * font: Pretendard.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardR";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardM";
  src: url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard semi";
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard exBold";
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input[type=text], textarea, select {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem 2.4rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
input[type=text]::placeholder, textarea::placeholder, select::placeholder {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #999;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}

textarea {
  display: block;
  min-height: 17.4vh;
  padding: 0rem;
  border: 0;
  overflow: auto;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
  padding-right: 1rem;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #BBB;
  opacity: 0.5;
}
textarea:focus {
  outline: none;
}

.inputWrap:not(:first-of-type) {
  margin-top: 6.4rem;
}
.inputWrap .selectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 2rem;
}
.inputWrap .selectBox > select {
  width: 100%;
  background: url(../img/pc/ico_select_arrow.png) no-repeat right 1.6rem bottom 1.6rem;
  background-size: 2.4rem 2.4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputWrap > div.inputBox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: -999;
  left: -999;
}
.inputWrap > div.inputBox input[type=checkbox] + label {
  display: block;
  position: static;
  min-width: 12rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #222;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
  text-align: center;
  padding: 1.2rem 2rem;
  border: 1px solid #222;
  border-radius: 99.9rem;
  cursor: pointer;
}
.inputWrap > div.inputBox input[type=checkbox]:checked + label {
  background-color: #222;
  color: #fff;
  border-color: #222;
}
.inputWrap > div.inputBox input[type=checkbox]:focus + label {
  outline: solid 1px #111;
  border-radius: 99.9rem;
}
.inputWrap .agreeChk {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: noWrap;
  gap: 1.2rem;
  margin-top: 3.2rem;
}
.inputWrap .agreeChk input[type=checkbox] {
  width: 0.1rem;
  height: 0.1rem;
}
.inputWrap .agreeChk input[type=checkbox] + label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #000;
  border-radius: 0.6rem;
  background-color: #fff;
  cursor: pointer;
}
.inputWrap .agreeChk input[type=checkbox]:checked + label {
  background-color: #222;
  cursor: pointer;
}
.inputWrap .agreeChk input[type=checkbox]:checked + label:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../img/pc/icon_chk.svg") left top;
  background-size: contain;
}
.inputWrap .agreeChk > span {
  margin-left: 1.2rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
.inputWrap.moBox > div.inputBox input[type=checkbox] + label {
  min-width: 7rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 500;
  color: #222;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  text-align: center;
  padding: 0.9rem 1.5rem;
}
.inputWrap.moBox > div.inputBox input[type=checkbox]:checked + label {
  background-color: #222;
  color: #fff;
  border-color: #222;
}

html {
  font-size: 62.5%;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}
body ul,
body li,
body nav,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body a,
body span,
body dl,
body dd,
body dt {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.firstAction {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050505;
  z-index: 999;
}
.firstAction .baseText {
  position: relative;
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: -0.05rem;
  font-size: 8rem;
  line-height: 12rem;
  color: rgba(255, 255, 255, 0.5);
}
.firstAction .baseText .actionText {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  width: 0;
  height: 12rem;
  animation: w100 0.3s forwards alternate;
}
@keyframes w100 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.pc-only {
  display: none !important;
}

/**** main visual ****/
.main-visual {
  position: relative;
  height: 100vh;
  background: #050505;
}
.main-visual .scene1 {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 1s;
}
.main-visual .scene1 p {
  position: relative;
  font-family: "PoppinsEX", sans-serif;
  font-weight: 700;
  font-size: 5.91vh;
  color: #fff;
  letter-spacing: -0.1vh;
  line-height: 1;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
  transition-delay: 0.5s;
}
.main-visual .scene1 p::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: left 0.2s ease-in-out;
  transition-delay: 0.1s;
}
.main-visual .scene1.active {
  opacity: 0;
}
.main-visual .scene1.active p {
  transform: scale(1.5);
}
.main-visual .scene1.active p::after {
  left: 100%;
}
.main-visual .scene2 {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
}
.main-visual .scene2 .motion-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.6s ease-out;
}
.main-visual .scene2 .motion-bg span[class^=article] {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  animation-delay: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.main-visual .scene2 .motion-bg span[class^=article].article1 {
  top: -2.59vh;
  left: -1.11vh;
  width: 21.89vh;
  height: 21.06vh;
  background-image: url("../img/pc/main_item1.png");
  animation-duration: 1s;
}
.main-visual .scene2 .motion-bg span[class^=article].article2 {
  bottom: 8.37vh;
  left: -7.21vh;
  width: 19.7vh;
  height: 19.8vh;
  background-image: url("../img/pc/main_item4.png");
  transform: rotate(-30.735deg);
  animation-duration: 1.5s;
}
.main-visual .scene2 .motion-bg span[class^=article].article3 {
  bottom: -18.35vh;
  left: 5.79vh;
  width: 16.26vh;
  height: 16.13vh;
  background-image: url("../img/pc/main_item7.png");
  animation-duration: 0.8s;
}
.main-visual .scene2 .motion-bg span[class^=article].article4 {
  top: 12.07vh;
  right: -7.14vh;
  width: 24.01vh;
  height: 24.01vh;
  background-image: url("../img/pc/main_item3.png");
  animation-duration: 2s;
}
.main-visual .scene2 .motion-bg span[class^=article].article5 {
  top: 41.23vh;
  right: -21.57vh;
  width: 21.57vh;
  height: 21.41vh;
  background-image: url("../img/pc/main_item6.png");
  animation-duration: 1.5s;
}
.main-visual .scene2 .motion-bg span[class^=article].article6 {
  bottom: -11.95vh;
  right: -11.33vh;
  width: 25.12vh;
  height: 25.99vh;
  background-image: url("../img/pc/main_item5.png");
  animation-duration: 0.8s;
}
.main-visual .scene2 .motion-bg span[class^=article].article7 {
  bottom: 5.79vh;
  right: -3.45vh;
  width: 18.97vh;
  height: 18.35vh;
  background-image: url("../img/pc/main_item2.png");
  animation-duration: 1s;
}
.main-visual .scene2 .text-field {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 700;
  font-size: 4.43vh;
  color: #fff;
  letter-spacing: -0.04vh;
  text-align: center;
  line-height: 1;
}
.main-visual .scene2 .text-field p {
  position: relative;
  overflow: hidden;
  padding-bottom: 1.05vh;
}
.main-visual .scene2 .text-field p span {
  position: relative;
  display: block;
  top: 6.49vh;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.main-visual .scene2 .text-field p:nth-child(1) span {
  transition-delay: 0.3s;
}
.main-visual .scene2 .text-field p:nth-child(2) span {
  transition-delay: 0.425s;
}
.main-visual .scene2 .text-field p:nth-child(3) span {
  transition-delay: 0.55s;
}
.main-visual .scene2.active {
  opacity: 1;
}
.main-visual .scene2.active .motion-bg {
  transform: scale(1);
  opacity: 1;
}
.main-visual .scene2.active .motion-bg span[class^=article].article1 {
  animation-name: article1;
}
.main-visual .scene2.active .motion-bg span[class^=article].article2 {
  animation-name: article2;
}
.main-visual .scene2.active .motion-bg span[class^=article].article3 {
  animation-name: article3;
}
.main-visual .scene2.active .motion-bg span[class^=article].article4 {
  animation-name: article4;
}
.main-visual .scene2.active .motion-bg span[class^=article].article5 {
  animation-name: article5;
}
.main-visual .scene2.active .motion-bg span[class^=article].article6 {
  animation-name: article6;
}
.main-visual .scene2.active .motion-bg span[class^=article].article7 {
  animation-name: article7;
}
.main-visual .scene2.active .text-field p span {
  top: 0;
  opacity: 1;
}
.main-visual .scene2.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.main-visual .scene3 {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.main-visual .scene3 .text-field {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 700;
  font-size: 4.43vh;
  color: #fff;
  letter-spacing: -0.04vh;
  text-align: center;
  line-height: 1.2;
}
.main-visual .scene3 .text-field p {
  position: relative;
  overflow: hidden;
  padding-bottom: 1.05vh;
}
.main-visual .scene3 .text-field p span {
  position: relative;
  top: -3vh;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.main-visual .scene3 .text-field p span:nth-child(1) {
  transition-delay: 0.05s;
}
.main-visual .scene3 .text-field p span:nth-child(2) {
  transition-delay: 0.1s;
}
.main-visual .scene3 .text-field p span:nth-child(3) {
  transition-delay: 0.15s;
}
.main-visual .scene3 .text-field p span:nth-child(4) {
  transition-delay: 0.2s;
}
.main-visual .scene3 .text-field p span:nth-child(5) {
  transition-delay: 0.25s;
}
.main-visual .scene3 .text-field p span:nth-child(6) {
  transition-delay: 0.3s;
}
.main-visual .scene3 .text-field p span:nth-child(7) {
  transition-delay: 0.35s;
}
.main-visual .scene3 .text-field p span:nth-child(8) {
  transition-delay: 0.4s;
}
.main-visual .scene3 .text-field p span:nth-child(9) {
  transition-delay: 0.45s;
}
.main-visual .scene3 .text-field p span:nth-child(10) {
  transition-delay: 0.5s;
}
.main-visual .scene3 .text-field p span:nth-child(11) {
  transition-delay: 0.55s;
}
.main-visual .scene3 .text-field p span:nth-child(12) {
  transition-delay: 0.6s;
}
.main-visual .scene3 .text-field p span:nth-child(13) {
  transition-delay: 0.65s;
}
.main-visual .scene3 .text-field p span:nth-child(14) {
  transition-delay: 0.7s;
}
.main-visual .scene3 .text-field p span:nth-child(15) {
  transition-delay: 0.75s;
}
.main-visual .scene3 .text-field p span:nth-child(16) {
  transition-delay: 0.8s;
}
.main-visual .scene3 .text-field p span:nth-child(17) {
  transition-delay: 0.85s;
}
.main-visual .scene3 .text-field p span:nth-child(18) {
  transition-delay: 0.9s;
}
.main-visual .scene3 .text-field p span:nth-child(19) {
  transition-delay: 0.95s;
}
.main-visual .scene3 .text-field p span:nth-child(20) {
  transition-delay: 1s;
}
.main-visual .scene3 .text-field p span:nth-child(21) {
  transition-delay: 1.05s;
}
.main-visual .scene3 .text-field p span:nth-child(22) {
  transition-delay: 1.1s;
}
.main-visual .scene3 .text-field p span:nth-child(23) {
  transition-delay: 1.15s;
}
.main-visual .scene3 .text-field p span:nth-child(24) {
  transition-delay: 1.2s;
}
.main-visual .scene3 .text-field p span:nth-child(25) {
  transition-delay: 1.25s;
}
.main-visual .scene3 .text-field p span:nth-child(26) {
  transition-delay: 1.3s;
}
.main-visual .scene3 .text-field p span:nth-child(27) {
  transition-delay: 1.35s;
}
.main-visual .scene3 .text-field p span:nth-child(28) {
  transition-delay: 1.4s;
}
.main-visual .scene3 .text-field p span:nth-child(29) {
  transition-delay: 1.45s;
}
.main-visual .scene3 .text-field p span:nth-child(30) {
  transition-delay: 1.5s;
}
.main-visual .scene3 .text-field p span:nth-child(31) {
  transition-delay: 1.55s;
}
.main-visual .scene3 .text-field p span:nth-child(32) {
  transition-delay: 1.6s;
}
.main-visual .scene3 .text-field p span:nth-child(33) {
  transition-delay: 1.65s;
}
.main-visual .scene3.active {
  opacity: 1;
}
.main-visual .scene3.active .text-field p span {
  top: 0;
  opacity: 1;
}
.main-visual .scene3.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.main-visual .scene4 {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.main-visual .scene4 .text-field {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 700;
  font-size: 4.43vh;
  color: #fff;
  letter-spacing: -0.04vh;
  text-align: center;
  line-height: 1.4;
}
.main-visual .scene4 .text-field p {
  position: relative;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.main-visual .scene4 .text-field p:nth-child(1) {
  transform: scale(1.5);
}
.main-visual .scene4 .text-field p:nth-child(2) {
  transition-delay: 0.3s;
}
.main-visual .scene4 .text-field p:nth-child(2) span {
  position: relative;
  top: -3vh;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(1) {
  transition-delay: 0.05s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(2) {
  transition-delay: 0.1s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(3) {
  transition-delay: 0.15s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(4) {
  transition-delay: 0.2s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(5) {
  transition-delay: 0.25s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(6) {
  transition-delay: 0.3s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(7) {
  transition-delay: 0.35s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(8) {
  transition-delay: 0.4s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(9) {
  transition-delay: 0.45s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(10) {
  transition-delay: 0.5s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(11) {
  transition-delay: 0.55s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(12) {
  transition-delay: 0.6s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(13) {
  transition-delay: 0.65s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(14) {
  transition-delay: 0.7s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(15) {
  transition-delay: 0.75s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(16) {
  transition-delay: 0.8s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(17) {
  transition-delay: 0.85s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(18) {
  transition-delay: 0.9s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(19) {
  transition-delay: 0.95s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(20) {
  transition-delay: 1s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(21) {
  transition-delay: 1.05s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(22) {
  transition-delay: 1.1s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(23) {
  transition-delay: 1.15s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(24) {
  transition-delay: 1.2s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(25) {
  transition-delay: 1.25s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(26) {
  transition-delay: 1.3s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(27) {
  transition-delay: 1.35s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(28) {
  transition-delay: 1.4s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(29) {
  transition-delay: 1.45s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(30) {
  transition-delay: 1.5s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(31) {
  transition-delay: 1.55s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(32) {
  transition-delay: 1.6s;
}
.main-visual .scene4 .text-field p:nth-child(2) span:nth-child(33) {
  transition-delay: 1.65s;
}
.main-visual .scene4.active {
  opacity: 1;
}
.main-visual .scene4.active .text-field p:nth-child(1) {
  opacity: 1;
  transform: scale(1);
}
.main-visual .scene4.active .text-field p:nth-child(2) {
  opacity: 1;
}
.main-visual .scene4.active .text-field p:nth-child(2) span {
  top: 0;
  opacity: 1;
}
.main-visual:has(.scene2.active) .scroll-down {
  opacity: 1;
  visibility: visible;
}
.main-visual .scroll-down {
  position: absolute;
  display: block;
  left: calc(50% - 2.8rem);
  bottom: 1.6rem;
  width: 5.6rem;
  height: 5.6rem;
  background: url("../img/pc/main_ico_scrdown.svg") center no-repeat;
  background-size: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.main-visual .scroll-down span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: xx-small;
  text-indent: -9999px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/**** main visual ****/
#wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
  /*workList*/
  overflow-x: hidden;
}
#wrap.main .header {
  top: 0;
  opacity: 1;
  transition: all 0.3s linear;
}
#wrap.main .header.hidden {
  top: -2rem;
  opacity: 0;
}
#wrap .header {
  width: 100%;
  position: fixed;
  color: #fff;
  background: #fff;
  z-index: 600;
}
#wrap .header > h1 {
  width: 100%;
  padding: 1.6rem 2rem;
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: -0.05rem;
  text-align: left;
}
#wrap .header > h1 > a {
  background-color: transparent;
  color: #000;
}
#wrap .header .btn_menu {
  display: inline-block;
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  width: 2.4rem;
  height: 2.4rem;
}
#wrap .header .btn_menu::before {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/mobile/ico_nav.svg") no-repeat 100% 100%;
  background-size: contain;
}
#wrap .header .btn_menu > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
#wrap .header .nav {
  opacity: 1;
  position: fixed;
  z-index: -1;
  top: 0rem;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: fadeOut 0.5s forwards alternate;
}
@keyframes fadeLayer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#wrap .header .nav > ul {
  padding-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
#wrap .header .nav > ul > li .btnSt {
  font-family: "Ins_SansM ";
  font-size: 4rem;
  font-weight: 700;
  color: #000;
  padding: 0.4rem 1.6rem;
  letter-spacing: -0.03rem;
}
#wrap .header .nav .btn_close {
  display: inline-block;
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  width: 3.2rem;
  height: 3.2rem;
}
#wrap .header .nav .btn_close::before {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/mobile/ico_btn_close.png") no-repeat 100% 100%;
  background-size: contain;
}
#wrap .header .nav .btn_close > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
#wrap .header .nav.open {
  opacity: 1;
  right: 0;
  position: fixed;
  z-index: 5000;
  animation: fadeLayer 0.5s forwards alternate;
}
@keyframes fadeLayer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#wrap .header.scr {
  background: none;
}
#wrap .header.scr > h1 > a {
  color: #fff;
}
#wrap .header.scr .btn_menu::before {
  background-image: url("../img/mobile/ico_nav_white.svg");
}
#wrap .header.subPage {
  color: #000;
}
#wrap .header.subPage .logo {
  color: #000;
}
#wrap .header.subPage .btnSt {
  color: #000 !important;
}
#wrap .header.sticky .btn_menu::before {
  background-image: url("../img/mobile/ico_nav_white.svg");
}
#wrap .container {
  width: inherit;
  min-height: 100vh;
}
#wrap .container > .sec.sec1 {
  position: relative;
  height: 118.55vh;
  padding-bottom: 10rem;
  background-color: #050505;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container > .sec.sec1 .ImgBox {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  color: #fff;
  opacity: 0;
}
#wrap .container > .sec.sec1 .ImgBox::before {
  display: block;
  position: absolute;
  content: "";
  width: 95%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/pc/motionbg.png") no-repeat 20% center;
  background-size: cover;
}
#wrap .container > .sec.sec1 .ImgBox > span {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
#wrap .container > .sec.sec1 .textBox {
  width: 100%;
  position: absolute;
}
#wrap .container > .sec.sec1 .textBox > p {
  position: relative;
  height: 9.87vh;
  text-align: center;
  overflow: hidden;
}
#wrap .container > .sec.sec1 .textBox > p > span {
  position: absolute;
  bottom: -9.87vh;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: "Ins_SansM";
  font-size: 9.87vh;
  line-height: 9.87vh;
  font-weight: 700;
}
#wrap .container > .sec.sec2 {
  background-color: #050505;
  color: #fff;
}
#wrap .container > .sec.sec2 .textBox {
  display: block;
  padding: 28.43vh 0 47.75vh;
}
#wrap .container > .sec.sec2 .textBox > p {
  text-align: center;
}
#wrap .container > .sec.sec2 .textBox > p > span {
  font-family: "Pretendard";
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 7.9rem;
  letter-spacing: -0.16rem;
}
#wrap .container > .sec.sec3 {
  padding: 13.6rem 2rem 0;
}
#wrap .container > .sec.sec3 .infoGBox {
  position: relative;
  height: 30rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox {
  position: absolute;
  top: 0;
  width: 30rem;
  height: 30rem;
  border-radius: 2rem;
  transition: left 0.3s ease-in-out;
}
#wrap .container > .sec.sec3 .infoGBox .gBox:nth-child(1) {
  left: -96rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox:nth-child(2) {
  left: -64rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox:nth-child(3) {
  left: -32rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox:nth-child(4) {
  left: 0rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox:nth-child(5) {
  left: 32rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox:nth-child(6) {
  left: 64rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox1 {
  background-color: #111;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox1 > span {
  color: #fff;
  z-index: 1;
  font-family: "Ins_SansM";
  font-weight: 800;
  font-size: 20rem;
  line-height: 100%;
  letter-spacing: 0rem;
  font-size: 6rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox1 > span.since {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  margin-bottom: 0.8rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox1:before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/pc/main_item4.png") no-repeat 50% 50%;
  background-size: 19.6rem;
  opacity: 0.8;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox2 {
  background-color: #ffdf34;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox2 dl {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  color: #111;
  margin-left: 4.39vh;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox2 dl dt {
  font-family: "Ins_SansR", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.02rem;
  margin-bottom: 0.8rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox2 dl dd {
  font-family: "Ins_SansM", sans-serif;
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 6.4rem;
  letter-spacing: -0.064rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox2:before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/pc/main_item1.png") no-repeat 50% 50%;
  background-size: 31.61vh;
  opacity: 0.7;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3 {
  background-color: #0046fe;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3 dl {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  color: #fff;
  margin-left: 4.39vh;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3 dl dt {
  font-family: "Ins_SansR", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.02rem;
  margin-bottom: 0.8rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3 dl dd {
  font-family: "Ins_SansM", sans-serif;
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 6.4rem;
  letter-spacing: -0.064rem;
}
#wrap .container > .sec.sec3 .infoGBox .gBox.gBox3:before {
  display: block;
  position: absolute;
  content: "";
  width: 9.9rem;
  height: 9.6rem;
  top: 10.8rem;
  right: 2rem;
  background: url("../img/pc/main_item2.png") no-repeat top right;
  background-size: contain;
}
#wrap .container > .sec.sec3 .textBox {
  margin-top: 9.2rem;
}
#wrap .container > .sec.sec3 .textBox > dl {
  width: 100%;
  display: block;
}
#wrap .container > .sec.sec3 .textBox > dl > dt {
  font-family: "Ins_SansM";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.028rem;
}
#wrap .container > .sec.sec3 .textBox > dl > dd {
  margin-top: 3.2rem;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p {
  width: 100%;
  padding: 1.35rem 1.6rem;
  background-color: #111;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: noWrap;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.2rem;
  letter-spacing: -0.03rem;
  color: #fff;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p > span {
  padding-right: 2rem;
  border-right: 1px solid #d9d9d9;
  margin-right: 2rem;
  font-family: "Pretendard exBold";
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p > a {
  position: relative;
  width: 100%;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p > a > span {
  letter-spacing: -0.03rem;
  color: #fff;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p > a:before {
  display: block;
  position: absolute;
  content: "";
  top: calc(50% - 1rem);
  right: 0;
  width: 2rem;
  height: 2rem;
  background: url("../img/pc/main_recruit_arrow.svg") no-repeat;
  background-size: contain;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p.brief {
  background: #ffdf34;
  margin-top: 1.6rem;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p.brief > a > span {
  color: #111;
}
#wrap .container > .sec.sec3 .textBox > dl > dd > p.brief > a::before {
  background-image: url("../img/pc/main_recruit_arrow2.svg");
}
#wrap .container > .sec.sec4 {
  position: relative;
  padding-top: 14.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container > .sec.sec4 > h2 {
  position: relative;
  font-family: "Ins_SansM";
  font-weight: 700;
  font-size: 5rem;
  line-height: 100%;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
#wrap .container > .sec.sec4 > h2::before {
  position: absolute;
  display: inline-flex;
  content: "LATEST WORKS";
  bottom: -2.6rem;
  right: -2.8rem;
  border-radius: 10rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #222;
  background-color: #ffdf34;
  letter-spacing: -0.04rem;
  padding: 0.8rem 1.4rem;
  transform: rotate(-10deg);
}
#wrap .container > .sec.sec4 .imglistbox .infoImg {
  display: block;
}
#wrap .container > .sec.sec4 .imglistbox > p {
  width: 100%;
  margin: 7.57vh auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start !important;
  flex-wrap: noWrap;
}
#wrap .container > .sec.sec4 .imglistbox > p .textEn {
  font-family: "PretendardR";
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.8rem;
  letter-spacing: -0.08rem;
}
#wrap .container > .sec.sec4 .imglistbox > p .textKo {
  font-family: "Pretendard";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  letter-spacing: -0.05rem;
}
#wrap .container > .sec.sec4 .imglistbox .galleyBox {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: wrap;
  gap: 1.6rem 0;
}
#wrap .container > .sec.sec4 .imglistbox .galleyBox .port-img {
  position: relative;
  width: 100%;
  border-radius: 1.2rem;
  overflow: hidden;
}
#wrap .container > .sec.sec4 .imglistbox .galleyBox .port-img:nth-child(3), #wrap .container > .sec.sec4 .imglistbox .galleyBox .port-img:nth-child(4) {
  width: calc(50% - 0.8rem);
}
#wrap .container > .sec.sec4 .imglistbox .galleyBox .port-img video {
  display: block;
  width: 100%;
}
#wrap .container > .sec.sec4 .imglistbox .galleyBox .port-img img {
  display: block;
  width: 100%;
}
#wrap .container > .sec.sec4 .imglistbox .galleyBox .port-img .title {
  display: none;
}
#wrap .container > .sec.sec4 .btnBox {
  margin: 6rem auto 8rem;
}
#wrap .container > .sec.sec4 .btnBox a,
#wrap .container > .sec.sec4 .btnBox button {
  display: flex;
  align-items: center;
  gap: 0 0.4rem;
  height: 4.6rem;
  padding: 1.2rem 2.4rem;
  border: 0.1rem solid #111;
  border-radius: 9rem;
}
#wrap .container > .sec.sec4 .btnBox a::after,
#wrap .container > .sec.sec4 .btnBox button::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url("../img/mobile/ico_more_arrow.svg") center/100% no-repeat;
}
#wrap .container > .sec.sec4 .btnBox a > span,
#wrap .container > .sec.sec4 .btnBox button > span {
  font-family: "Ins_SansM";
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: -0.016rem;
  line-height: 1;
}
#wrap .container > .sec.sec5 {
  padding: 8rem 2rem;
}
#wrap .container > .sec.sec5 > h2 {
  font-family: "Ins_SansM";
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: -0.05rem;
  text-align: center;
  text-transform: uppercase;
}
#wrap .container > .sec.sec5 > ul {
  display: block;
  margin-top: 8rem;
}
#wrap .container > .sec.sec5 > ul > li {
  position: relative;
  width: 100%;
  height: 17.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .container > .sec.sec5 > ul > li:first-child {
  border-radius: 3.2rem;
  background-color: #ffdf34;
}
#wrap .container > .sec.sec5 > ul > li:first-child::after {
  display: block;
  position: absolute;
  content: "";
  bottom: -2.2rem;
  right: 1.2rem;
  width: 16.9rem;
  height: 16.9rem;
  overflow: hidden;
  background: url("../img/pc/logo_NVector.svg") center/100% no-repeat;
  border-radius: 0 0 4.7rem 0;
}
#wrap .container > .sec.sec5 > ul > li:last-child {
  border-radius: 99.9rem;
  background-color: #111;
  margin-top: 1.6rem;
}
#wrap .container > .sec.sec5 > ul > li > a div {
  display: block;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 3.8rem;
  z-index: 1;
}
#wrap .container > .sec.sec5 > ul > li > a div > span {
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: -0.012rem;
  color: #111;
}
#wrap .container > .sec.sec5 > ul > li > a div > h3 {
  font-family: "PretendardM";
  font-size: 2.4rem;
  line-height: 1.4;
  letter-spacing: -0.0224rem;
  color: #111;
}
#wrap .container > .sec.sec5 > ul > li > a div::before {
  display: block;
  position: absolute;
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/pc/Icon_arrowB.svg") center/100%;
  background-size: contain;
}
#wrap .container > .sec.sec5 > ul > li.style_R * {
  color: #fff;
}
#wrap .container > .sec.sec5 > ul > li.style_R *::before {
  background: url("../img/pc/Icon_arrowW.svg") center/100%;
}
#wrap .container .subWrap {
  margin: 0 2rem 0;
}
#wrap .container .subWrap .pageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
}
#wrap .container .subWrap .pageHeader.mgstyle2 {
  margin: 17.56vh auto 0;
}
#wrap .container .subWrap .pageHeader > h2 {
  font-family: "Ins_SansM";
  font-weight: 800;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 0rem;
}
#wrap .container .subWrap .pageHeader .pageInfo {
  margin-top: 1.6rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: -0.04rem;
  letter-spacing: -0.04rem;
}
#wrap .container .subWrap .boardWrap {
  width: 100%;
  border-top: 2px solid #000;
}
#wrap .container .subWrap .boardWrap .AccoBox {
  width: 100%;
  border-bottom: 2px solid #eee;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
  padding: 3.2rem 1.6rem;
  text-align: left;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout .newsDate {
  font-family: "Pretendard";
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout .newsTitle {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout .toggleIcon {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout .toggleIcon > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout .toggleIcon:before {
  display: block;
  position: absolute;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: transform 0.5s ease;
  background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 16.25L20.25 25.25L29.25 16.25' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A") 100% 100%;
  background-size: contain;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout > dl {
  flex-grow: 2;
  overflow: hidden;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout > dl > dt {
  font-family: "Pretendard";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.9rem;
  letter-spacing: -0.12rem;
  color: #000;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout > dl > dd {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4rem;
  padding-top: 1.6rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 400;
  color: #666;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout > dl > dd .uploadfIle {
  margin-top: 3.2rem;
  display: inline-block;
  background-color: #eaeaea;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 500;
  color: #666;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  padding: 1rem 1.6rem;
  border-radius: 1.2rem;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout.open {
  background-color: #fafafa;
  border-bottom: 0;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout.open .toggleIcon:before {
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
}
#wrap .container .subWrap .boardWrap .AccoBox > button.toggleLayout.open > dl > dd {
  display: none;
}
#wrap .container .subWrap .boardWrap .AccoBox .listStyle {
  overflow: hidden;
  height: 0;
  display: none; /* 초기 상태는 닫힘 */
}
#wrap .container .subWrap .boardWrap .AccoBox .listStyle li {
  background-color: #fafafa;
  padding: 0 1.6rem 3.2rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  color: #444;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
#wrap .container .subWrap .boardWrap .AccoBox .listStyle li > p {
  padding-top: 2.4rem;
}
#wrap .container .subWrap .boardWrap .AccoBox .listStyle li > p .uploadfIle {
  width: 100%;
  margin-top: 0.8rem;
  display: inline-block;
  background-color: #eaeaea;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 500;
  color: #666;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  padding: 1rem 1.6rem;
  border-radius: 1.2rem;
}
#wrap .container .subWrap .boardWrap.noBorder {
  border-top: 0;
}
#wrap .container .subWrap .boardWrap.noBorder .halfBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 6rem;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox > p {
  width: 100%;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox > p > a {
  display: block;
  width: 100%;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox > p > a > img {
  display: block;
  width: 100%;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox > p > a > img.pcImg {
  display: none;
}
#wrap .container .subWrap .boardWrap.noBorder .workBox > p .proName {
  display: inline-block;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  margin-top: 1.6rem;
}
#wrap .container .subWrap .boardWrap.dataList > ul {
  flex-grow: 2;
  padding: 4rem 2.4rem;
  border-bottom: 2px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}
#wrap .container .subWrap .boardWrap.dataList > ul > li {
  text-align: left;
}
#wrap .container .subWrap .boardWrap.dataList > ul > li:nth-of-type(1) {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
}
#wrap .container .subWrap .boardWrap.dataList > ul > li:nth-of-type(2) {
  font-size: 2rem;
  font-weight: 700;
  color: #444;
}
#wrap .container .subWrap .boardWrap.dataList > ul > li:nth-of-type(3) {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  color: #444;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
#wrap .container .subWrap .formWrap .inputWrap > p {
  font-family: "Pretendard";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.9rem;
  letter-spacing: -0.12rem;
  color: #000;
  margin-bottom: 2.4rem;
}
#wrap .container .subWrap .formWrap .inputWrap .inputBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
#wrap .container .subWrap .formWrap .inputWrap .inputBox > input[type=text] {
  width: calc(100% - 4.8rem);
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap {
  padding: 2.4rem;
  padding-right: 1.2rem;
  border-radius: 1.2rem;
  color: #555;
  border: 1px solid #999;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox {
  padding-right: 1.2rem;
  overflow-y: scroll;
  height: 20rem;
  font-size: 1.6rem;
  overflow: auto;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox > p {
  margin-bottom: 3.95vh;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox > p:last-of-type {
  margin-top: 3.95vh;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox > ul:not(:first-of-type) {
  margin-top: 2rem;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox > ul > li > p {
  color: #000;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox > ul > li > span {
  display: inline-block;
  margin-bottom: 2.41vh;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox::-webkit-scrollbar-track {
  background-color: transparent;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
  padding-right: 1rem;
}
#wrap .container .subWrap .formWrap .inputWrap .scrollWrap .scrollBox::-webkit-scrollbar-thumb:hover {
  background: #BBB;
  opacity: 0.5;
}
#wrap .container .subWrap .formWrap .inputWrap .selectBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#wrap .container .subWrap .formWrap .inputWrap.moBox .inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: wrap;
  gap: 1.2rem;
}
#wrap .container .subWrap .btnBox {
  margin: 8.78vh auto;
}
#wrap .container .subWrap .btnBox.WorkSt {
  margin: 7.02vh auto;
}
#wrap .container .subWrap .btnBox.WorkSt > button:not(:last-of-type) {
  margin-right: 1.6rem;
}
#wrap .container .subWrap .infoWrap {
  padding: 8rem 0;
}
#wrap .container .subWrap .infoWrap > p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  margin-bottom: 8rem;
}
#wrap .container .subWrap .infoWrap > p > span {
  font-family: "Pretendard";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.9rem;
  letter-spacing: -0.03rem;
  color: #fff;
}
#wrap .container .subWrap .infoWrap > p > span:first-of-type {
  color: #999;
}
#wrap .container .subWrap .infoWrap > p > span.textB {
  color: #111;
}
#wrap .container .subWrap .infoWrap > p.tit_location {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #111;
  margin-bottom: 2.4rem;
}
#wrap .container .subWrap .infoWrap > p .viewMap {
  display: block;
  position: relative;
  width: 26.7rem;
  height: 4.8rem;
  background-color: #ffdf34;
  border-radius: 1.6rem;
  margin-top: 4rem;
}
#wrap .container .subWrap .infoWrap > p .viewMap > span {
  display: block;
  font-family: "Pretendard";
  font-size: 1.4rem;
  font-weight: 800;
  color: #111;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  padding: 1.4rem 0rem 0rem 1.8rem;
}
#wrap .container .subWrap .infoWrap > p .viewMap:before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  right: 1.8rem;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  background: url("../img/pc/ico_more_arrow.svg") no-repeat right top;
  background-size: contain;
}
#wrap .container .subWrap .infoWrap > ul > li {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0;
  color: #fff;
}
#wrap .container .subWrap .infoWrap > ul > li .lineText {
  position: relative;
}
#wrap .container .subWrap .infoWrap > ul > li .lineText::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
#wrap .container .subWrap .infoWrap > dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}
#wrap .container .subWrap .infoWrap > dl > dt {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 700;
  color: #111;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
  position: relative;
  padding-top: 4.8rem;
}
#wrap .container .subWrap .infoWrap > dl > dt:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 3.2rem;
  height: 3.2rem;
}
#wrap .container .subWrap .infoWrap > dl > dd {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
#wrap .container .subWrap .infoWrap > dl:first-of-type {
  margin-bottom: 3.2rem;
}
#wrap .container .subWrap .infoWrap > dl:first-of-type > dt::before {
  background: url("../img/pc/icon_map.svg") no-repeat 100% 100%;
}
#wrap .container .subWrap .infoWrap > dl:last-of-type > dt::before {
  background: url("../img/pc/icon_bus.svg") no-repeat 100% 100%;
}
#wrap .container .subWrap .infoWrap.mghalf {
  padding: 4rem 0 16rem;
}
#wrap .container .subWrap.bgBlack {
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #1a1a1a;
}
#wrap .container .subWrap .btnBox {
  margin: 4rem auto 8rem;
  text-align: center;
}
#wrap .container .subWrap .btnBox > button > span {
  font-family: "Ins_SansM";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 1.6rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  letter-spacing: -0.04rem;
  letter-spacing: -0.03rem;
  border: 2px solid #000;
}
#wrap .container .subWrap .btnBox > button > span.st1 {
  padding: 1.2rem 2.4rem;
}
#wrap .container .subWrap .btnBox > button > span.st2 {
  padding: 1.6rem 3.2rem;
}
#wrap .container .subWrap .btnBox > button > span:hover {
  background-color: #000;
  color: #fff;
}
#wrap .container .subWrap .btnBox > button.btnB > span {
  background-color: #000;
  color: #fff;
}
#wrap .container .subWrap .btnBox.WorkSt {
  margin: 7.02vh auto;
}
#wrap .container .subWrap .btnBox.WorkSt > button:not(:last-of-type) {
  margin-right: 1.6rem;
}
#wrap .footer {
  position: relative;
  width: 100%;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#wrap .footer > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#wrap .footer > div.CompanyInfo {
  padding: 8rem 4rem 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
#wrap .footer > div.CompanyInfo > p {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
  color: #555;
  margin-bottom: 2rem;
}
#wrap .footer > div.CompanyInfo .siteMap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#wrap .footer > div.CompanyInfo .siteMap > dl {
  width: 100%;
}
#wrap .footer > div.CompanyInfo .siteMap > dl:not(first-of-type) {
  margin-top: 2rem;
}
#wrap .footer > div.CompanyInfo .siteMap > dl > dt {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: -0.02rem;
  color: #fff;
  padding-bottom: 1.2rem;
}
#wrap .footer > div.CompanyInfo .siteMap > dl > dd,
#wrap .footer > div.CompanyInfo .siteMap > dl a {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: -0.02rem;
  color: #555;
}
#wrap .footer > div.CompanyInfo .siteMap > dl:nth-of-type(2) > dd:not(:first-of-type) {
  margin-top: 0.8rem;
}
#wrap .footer > div.CompanyInfo .siteMap > dl:last-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: wrap;
}
#wrap .footer > div.CompanyInfo .siteMap > dl:last-of-type > dt {
  width: 100%;
}
#wrap .footer > div.CompanyInfo .siteMap > dl:last-of-type > dd:not(first-of-type) {
  padding-right: 0.8rem;
}
#wrap .footer > div.copyright {
  padding: 4rem 4rem 8rem;
}
#wrap .footer > div.copyright > h2 {
  font-family: "PretendardM";
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: -0.08rem;
}
#wrap .footer > div.copyright > p {
  font-size: 2rem;
  letter-spacing: 0rem;
  margin-top: 2rem;
}
#wrap .footer > div.copyright > p > a.btnTop {
  display: block;
  position: relative;
}
#wrap .footer > div.copyright > p > a.btnTop > span {
  line-height: 2.6rem;
  color: #fff;
  padding-right: 3.2rem;
}
#wrap .footer > div.copyright > p > a.btnTop > span::before {
  display: block;
  position: absolute;
  content: "";
  top: 0.2rem;
  right: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 100%;
  background: url(../img/pc/Icon_arrow.svg) no-repeat 50% 50%;
  background-size: 1.2rem;
  transform: rotate(-45deg);
}
#wrap .footer > div.copyright > p > span {
  color: #555;
  font-size: 1.5rem;
}
#wrap .footer .ui_top {
  background-color: #7b7b7b;
  border-radius: 2.5rem;
  position: fixed;
  z-index: 601;
  width: 4rem;
  height: 4rem;
  bottom: 4.6rem;
  right: 2.6rem;
  opacity: 1;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
#wrap .footer .ui_top > a,
#wrap .footer .ui_top > button {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#wrap .footer .ui_top > a > em,
#wrap .footer .ui_top > button > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
#wrap .footer .ui_top > a::after,
#wrap .footer .ui_top > button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/pc/Icon_arrowW.svg) no-repeat 50% 50%;
  background-size: 50%;
  transform: rotate(-45deg);
}
#wrap .footer .ui_top.on {
  bottom: 30px;
  opacity: 1;
}
#wrap .workList {
  font-size: 5rem;
  line-height: 10rem;
}
#wrap::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
#wrap::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
}
#wrap::-webkit-scrollbar-thumb:hover {
  background: #BBB;
}

@keyframes article1 {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1.2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes article2 {
  0% {
    transform: translateY(0rem) rotate(-30.735deg);
  }
  50% {
    transform: translateY(-1.6rem) rotate(-30.735deg);
  }
  100% {
    transform: translateY(0rem) rotate(-30.735deg);
  }
}
@keyframes article3 {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-0.8rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes article4 {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1.2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes article5 {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(0.8rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes article6 {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1.2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes article7 {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(0.4rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
/* popup */
.modal-popup,
.modal-popup-bg {
  display: block;
  transition: opacity 0.5s ease;
}

.modal-popup {
  overflow: hidden;
}
.modal-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 650;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.75;
}
.modal-popup-textBox {
  position: fixed;
  width: 32rem;
  padding: 3rem 2.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  z-index: 651;
  background-color: #fff;
}
.modal-popup-textBox > span {
  display: block;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 600;
  color: #111;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
  text-align: center;
}
.modal-popup-btn {
  display: block;
  width: calc(100% - 2.2rem);
  border-radius: 10rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: #fff;
  background-color: #111;
  letter-spacing: -0.04rem;
  padding: 1.6rem;
  margin: 3.2rem auto 0;
}/*# sourceMappingURL=mobile.css.map */