@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
table {
  border: 0;
  border-spacing: 0;
}

.tableStyle {
  width: 100%;
}
.tableStyle thead {
  background-color: darkcyan;
  color: #fff;
  font-weight: 400;
}
.tableStyle thead th {
  padding: 1rem 0;
  text-align: center;
}
.tableStyle tbody tr:hover {
  background-color: #fdf5ea;
}
.tableStyle tbody tr.cateLine > td {
  border-top: 2px solid #000;
}
.tableStyle tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-size: 1.6rem;
}
.tableStyle tbody td.fgray {
  color: #777;
}
.tableStyle tbody td.fblue {
  color: rgb(26, 11, 196);
}
.tableStyle tbody td > a {
  color: brown;
}
.tableStyle tbody td > a:hover {
  color: blue;
}
.tableStyle tbody td:nth-of-type(6), .tableStyle tbody td:nth-of-type(9) {
  text-align: left;
  padding-left: 1.5rem;
}

/* --------------------------
*네티브 로고 폰트
*---------------------------*/
.poppins-extrabold {
  font-family: "PoppinsEX", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/**
 * font: Instrument Sans.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Ins_SansR";
  src: url("../fonts/InstrumentSans/InstrumentSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansM";
  src: url("../fonts/InstrumentSans/InstrumentSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansSB";
  src: url("../fonts/InstrumentSans/InstrumentSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ins_SansB";
  src: url("../fonts/InstrumentSans/InstrumentSans-Bold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
/**
 * font: Pretendard.custom
 * ------------------------------------
 */
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardR";
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PretendardM";
  src: url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard semi";
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard exBold";
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input[type=text], input[type=tel], textarea, select {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Pretendard";
  color: #111;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}
input[type=text]::placeholder, input[type=tel]::placeholder, textarea::placeholder, select::placeholder {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Pretendard";
  color: #999;
  line-height: 2.2rem;
  letter-spacing: -0.07rem;
}

textarea {
  display: block;
  min-height: 20rem;
  padding: 0rem;
  border: 0;
  border-radius: 0;
  overflow: auto;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  border-radius: 1rem;
  padding-right: 1rem;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #BBB;
  opacity: 0.5;
}
textarea:focus {
  outline: none;
}

.inputWrap:not(:first-of-type) {
  margin-top: 6.4rem;
}
.inputWrap .selectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 2rem;
}
.inputWrap .selectBox > select {
  width: 100%;
  background: url(../img/pc/ico_select_arrow.png) no-repeat right 1.6rem bottom 1.6rem;
  background-size: 2.4rem 2.4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inputWrap > div.inputBox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: -999;
  left: -999;
}
.inputWrap > div.inputBox input[type=checkbox] + label {
  display: block;
  position: static;
  font-family: "Pretendard semi";
  font-size: 2rem;
  line-height: 100%;
  text-align: center;
  padding: 1.6rem 2.4rem;
  border: 1px solid #222;
  border-radius: 99.9rem;
  cursor: pointer;
}
.inputWrap > div.inputBox input[type=checkbox]:checked + label {
  background-color: #111;
  color: #fff;
  border-color: #111;
}
.inputWrap > div.inputBox input[type=checkbox]:focus + label {
  outline: solid 1px #111;
  border-radius: 99.9rem;
}
@media screen and (max-width: 1024px) {
  .inputWrap textarea {
    min-height: 24rem;
    border-radius: 0;
  }
  .inputWrap input[type=text], .inputWrap input[type=tel], .inputWrap select {
    border: 1px solid #ccc;
    padding: 1.8rem 2rem;
  }
  .inputWrap.moBox > div.inputBox input[type=checkbox] + label {
    min-width: 0;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Pretendard semi";
    color: #111;
    line-height: 2.2rem;
    letter-spacing: -0.07rem;
    text-align: center;
    padding: 1.2rem 1.6rem;
    line-height: 1;
  }
  .inputWrap.moBox > div.inputBox input[type=checkbox]:checked + label {
    background-color: #111;
    color: #fff;
    border-color: #111;
  }
}

html {
  font-size: 62.5%;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}
body ul,
body li,
body nav,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body a,
body span,
body dl,
body dd,
body dt {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.container {
  width: 100%;
}
.container .subWrap .recWarp {
  padding-top: 16rem;
}
.container .subWrap .recWarp > h3 {
  font-family: "Pretendard Bold";
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8.9rem;
  letter-spacing: -0.19rem;
  color: #111;
  font-family: "Pretendard Bold";
  letter-spacing: -0.064rem;
}
.container .subWrap .recWarp > p {
  margin-top: 4rem;
  font-size: 2.4rem;
  color: #444;
  line-height: 3.6rem;
}
.container .subWrap .recWarp > p .mo {
  display: none;
}
.container .subWrap .recWarp .graphicBox {
  padding: 12rem 0 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center !important;
  flex-wrap: noWrap;
  gap: 8rem;
}
.container .subWrap .recWarp .graphicBox > ul {
  position: relative;
  width: 40.5rem;
  padding-top: 35rem;
}
.container .subWrap .recWarp .graphicBox > ul > li {
  font-family: "Pretendard Bold";
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #fff;
}
.container .subWrap .recWarp .graphicBox > ul > li:not(:last-of-type) {
  margin-bottom: 1.2rem;
}
.container .subWrap .recWarp .graphicBox > ul > li:last-of-type {
  font-family: "PretendardR";
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 3.3rem;
  margin-top: 2rem;
}
.container .subWrap .recWarp .graphicBox > ul:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 45rem;
  height: 35rem;
}
.container .subWrap .recWarp .graphicBox > ul:nth-of-type(1)::before {
  background: url("../img/pc/main_item7.png") no-repeat center top;
  background-size: 28.1rem 28.1rem;
}
.container .subWrap .recWarp .graphicBox > ul:nth-of-type(2)::before {
  background: url("../img/pc/main_item1.png") no-repeat center top;
  background-size: 25.1rem 24.2rem;
}
.container .subWrap .recWarp .graphicBox > ul:nth-of-type(3)::before {
  background: url("../img/pc/main_item5.png") no-repeat center -3.4rem;
  background-size: 32.6rem 33.7rem;
}
.container .subWrap .recWarp .boardWrap {
  margin-top: 10rem;
  width: 100%;
  border-top: 2px solid #000;
}
.container .subWrap .recWarp .boardWrap .AccoBox {
  width: 100%;
  border-bottom: 2px solid #eee;
}
.container .subWrap .recWarp .boardWrap .AccoBox > button {
  position: relative;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  gap: 1.6rem !important;
  padding: 4.8rem 0 !important;
}
.container .subWrap .recWarp .boardWrap .AccoBox > button > span {
  width: 100%;
  padding: 0rem 2.4rem;
  text-align: left;
}
.container .subWrap .recWarp .boardWrap .AccoBox > button > span.deptName {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.4rem;
  color: #111;
}
.container .subWrap .recWarp .boardWrap .AccoBox > button > span.deptName > strong {
  font-family: "Pretendard Bold";
  font-weight: 700;
  padding-right: 1.6rem;
}
.container .subWrap .recWarp .boardWrap .AccoBox > button > span.deptCont {
  color: #444;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}
.container .subWrap .recWarp .boardWrap .AccoBox > button > span.toggleIcon {
  position: absolute !important;
  top: 4.8rem;
  right: 1.6rem;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li {
  padding: 2.4rem 2.4rem 4.8rem !important;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li > h4 {
  padding-top: 4.8rem;
  font-family: "Pretendard Bold";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.9rem;
  letter-spacing: -0.03rem;
  color: #444;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li > section {
  height: 100%;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li > section > ul:not(:first-of-type) {
  margin-top: 4rem;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li > section > ul > strong {
  display: block;
  font-family: "Pretendard Bold";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.9rem;
  letter-spacing: -0.03rem;
  color: #444;
  margin-bottom: 1.6rem;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li > section > ul > li {
  position: relative;
  padding: 0 !important;
  color: #444;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: noWrap;
  gap: 1.6rem;
  margin-top: 4rem;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button {
  display: inline-block;
  position: relative;
  width: 19.3rem;
  height: 7.2rem;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button > em {
  position: absolute;
  display: inline-block;
  font-size: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  visibility: hidden;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button.jobkorea::before {
  background: url("../img/pc/mark_jobkorea.png") no-repeat left top/auto auto;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button.wanted::before {
  background: url("../img/pc/mark_wanted.png") no-repeat left top/auto auto;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > button.saramin::before {
  background: url("../img/pc/mark_saramin.png") no-repeat left top/auto auto;
}
.container .subWrap .recWarp .boardWrap .AccoBox .listStyle > li .recruitSite > span {
  color: #999;
}
.container .subWrap .recWarp .stepBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: noWrap;
  margin: 12rem auto 24rem;
}
.container .subWrap .recWarp .stepBox > dl {
  width: 28.4rem;
  height: 28.4rem;
  border-radius: 100%;
  text-align: center;
}
.container .subWrap .recWarp .stepBox > dl > dt {
  margin-top: 10.3rem;
  opacity: 0.6;
}
.container .subWrap .recWarp .stepBox > dl > dd {
  font-family: "Pretendard Bold";
  margin-top: 0.8rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
}
.container .subWrap .recWarp .stepBox > dl:nth-of-type(odd) {
  background-color: #2A2A2A;
}
.container .subWrap .recWarp .stepBox > dl:nth-of-type(odd) > dt {
  font-size: 1.8rem;
  font-weight: 500;
  font-weight: 400;
  font-family: "Pretendard";
  color: #fff;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
.container .subWrap .recWarp .stepBox > dl:nth-of-type(odd) > dd {
  color: #fff;
}
.container .subWrap .recWarp .stepBox > dl:nth-of-type(even) {
  background-color: #FFDF34;
}
.container .subWrap .recWarp .stepBox > dl:nth-of-type(even) > dt {
  font-size: 1.8rem;
  font-weight: 500;
  font-weight: 400;
  font-family: "Pretendard";
  color: #111;
  line-height: 2.5rem;
  letter-spacing: -0.07rem;
}
.container .subWrap .recWarp .stepBox > dl:nth-of-type(even) > dd {
  color: #111;
}
.container .subWrap .recWarp .stepBox > dl:nth-of-type(2) > dt {
  margin-top: 8rem;
}
.container .subWrap .recWarp .stepBox > dl:not(:last-of-type) {
  position: relative;
}
.container .subWrap .recWarp .stepBox > dl:not(:last-of-type):before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 4.8rem;
  height: 4.8rem;
  top: 50%;
  right: -6rem;
  transform: translateY(-50%) rotate(-90deg);
  background: url("../img/pc/ico_select_arrow.png") no-repeat center center;
  background-size: 60% 60%;
}
.container .subWrap .recWarp .stepBox.stMo {
  display: none;
}
.container .subWrap:first-of-type .topbox {
  display: block;
  width: 100%;
  height: 9rem;
}
.container .subWrap:first-of-type .recWarp .imgBox {
  position: relative;
  overflow: hidden;
  border-radius: 1.6rem;
  margin: 10rem auto 16rem;
  transition-delay: 0.6s;
}
.container .subWrap:first-of-type .recWarp .imgBox img {
  display: block;
  width: 100%;
}
.container .subWrap:first-of-type .recWarp .imgBox img.imgMo {
  display: none;
}
.container .subWrap:first-of-type .recWarp > h3 {
  font-family: "Pretendard exBold";
  font-size: 8rem;
  font-weight: 800;
  line-height: 11.2rem;
  letter-spacing: -0.08rem;
  color: #111;
  transition-delay: 0.1s;
}
.container .subWrap:first-of-type .recWarp > p {
  transition-delay: 0.3s;
}
.container .subWrap.bgBlack > div.recWarp {
  text-align: center;
}
.container .subWrap.bgBlack > div.recWarp > h3 {
  font-family: "Pretendard Bold";
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8.9rem;
  letter-spacing: -0.19rem;
  color: #fff;
  font-family: "Pretendard Bold";
  letter-spacing: -0.064rem;
}
.container .subWrap.bgBlack > div.recWarp > p {
  color: rgba(255, 255, 255, 0.6);
}
.container .subWrap .slide {
  overflow: hidden;
}
.container .subWrap .slide-box {
  position: absolute;
  bottom: 0;
  left: 0;
}
.container .subWrap .slide-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center !important;
  flex-wrap: nowrap;
  gap: 4rem;
}
.container .subWrap .slide-item > img {
  display: block;
}
.container .subWrap .slide {
  position: relative;
  margin: 12rem 0 10rem;
  height: 54rem;
  cursor: pointer;
}
.container .subWrap .slide-box > ul > li {
  position: relative;
  width: 45rem;
  height: 53rem;
  border-radius: 1.6rem;
  color: #fff;
  letter-spacing: -0.03rem;
  padding: 5rem 0rem 0rem 5rem;
}
.container .subWrap .slide-box > ul > li > p {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 5rem;
}
.container .subWrap .slide-box > ul > li > span {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  margin-top: 1.6rem;
}
.container .subWrap .slide-box > ul > li:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 45rem;
  height: 53rem;
  top: 0;
  left: 0;
  border-radius: 1.6rem;
  z-index: -1;
}
.container .subWrap .slide-box > ul > li:nth-of-type(1)::before {
  background: url("../img/pc/benefit_01.png") no-repeat top left;
  background-size: cover;
}
.container .subWrap .slide-box > ul > li:nth-of-type(2)::before {
  background: url("../img/pc/benefit_02.png") no-repeat top left;
  background-size: cover;
}
.container .subWrap .slide-box > ul > li:nth-of-type(3)::before {
  background: url("../img/pc/benefit_03.png") no-repeat top left;
  background-size: cover;
}
.container .subWrap .slide-box > ul > li:nth-of-type(4)::before {
  background: url("../img/pc/benefit_04.png") no-repeat top left;
  background-size: cover;
}
.container .subWrap .slide-box > ul > li:nth-of-type(5)::before {
  background: url("../img/pc/benefit_05.png") no-repeat top left;
  background-size: cover;
}
.container .subWrap .slide-box > ul > li:nth-of-type(6)::before {
  background: url("../img/pc/benefit_01.png") no-repeat top left;
  background-size: cover;
}
.container .subWrap .slide-box > ul > li:nth-of-type(7)::before {
  background: url("../img/pc/benefit_02.png") no-repeat top left;
  background-size: cover;
}
.container .subWrap .slide-box > ul > li:nth-of-type(8)::before {
  background: url("../img/pc/benefit_03.png") no-repeat top left;
  background-size: cover;
}
.container .subWrap .slide-box > ul > li:nth-of-type(9)::before {
  background: url("../img/pc/benefit_04.png") no-repeat top left;
  background-size: cover;
}
.container .subWrap .slide-box > ul > li:nth-of-type(10)::before {
  background: url("../img/pc/benefit_05.png") no-repeat top left;
  background-size: cover;
}/*# sourceMappingURL=recruit.css.map */